// Lower right Boundless message

.be-boundless {
  position: absolute;
  z-index: 1;
  right: 110px;
  bottom: 0;
  margin: 0;
  padding-bottom: 30px;
  font-style: italic;
  text-transform: uppercase;
  color: #FFF;
  font-size: 40px;
  font-weight: 900;
  opacity: .4;
  &:after {
    content: "";
    background: url(less/svg/boundless.svg) no-repeat -90px -142px;
    display: block;
    position: absolute;
    right: -70px;
    bottom: 0;
    width: 48px;
    height: 150px;
  }
}
