.boundless-button {
  &.dark {
    span {
      border: 4px solid @purple;
      a { 
        color: @purple;
        &:after {
          background-position: -211px -13px;
        }
      }
    }
    
    &.sm {
      border-left: 3px solid @purple;
      span {
        border: 3px solid @purple;
      }
      &.button-second {
       // border-left: none;
      }
    }
  }
  &.sm {
    border-left: 3px solid #FFF;
    span {
      border: 3px solid #FFF;
    }
    a {
      padding: 6px 36px 5px 54px;

    }
  }

  display: inline-block;
  border-left: 4px solid #FFF;
  overflow: hidden;
  padding:0 40px 0 0;
  margin-top: 10px;
  .transition(all .2s ease-in);
  &:hover {
    border-color: @purple;
    .translate(0,-5px);
    span {
      border-color: @purple;
      a {
        color: @purple;
      }
    }
  }
  span {
    border: 4px solid #FFF;
    display: block;
    .skew(-15deg,0);
    overflow: hidden;
    margin-left: -40px;
    .transition(border .2s ease-in);
    a {
      padding: 10px 40px 10px 60px;
      font-weight: 900;
      font-size: 16px;
      font-family: @font-family-headline;
      text-transform: uppercase;
      color: #FFF;
      .skew(15deg,0);
      display: inline-block;
      text-shadow: none;
      .transition(border .2s ease-in);
      &:after {
        content: "";
        background: url(less/svg/boundless.svg) no-repeat -189px -13px;
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        width: 18px;
        height: 30px;
        margin-top: -16px;
      }
    }
    
  }

}


@media screen and (min-width: 768px){

  .boundless-button {
    &.button-second,
    &.dark.sm.button-second {
      margin-left: -32px;
      border-left: none;
      span {
        margin-left: 10px;
        a {
          padding-left: 20px;
          position: relative;
  
        }
      }
    }
  }

}

