
#boundless-slide {

//  &.blur {

//  #boundless-background {
//    -webkit-filter: blur(2px);
//    -moz-filter: blur(2px);
//    -o-filter: blur(2px);
//    -ms-filter: blur(2px);
//    filter: blur(2px);
//    opacity: .8;
//  }

    }
    .boundless-youtube {
      position: absolute;
      top: 60px;
      bottom: 0px;
      left: 0;
      z-index: 1;
      transition: opacity .25s;
      &.behind {
        opacity: 0;
        z-index: -10;
      }
    }

}

@media only screen and (max-width:768px) and (min-height: 650px){

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

}

@media only screen and (min-width : 992px) {


}
