

#boundless-slide {

    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

    #boundless-background {
      .transition(all .6s);
      background-image: url(img/rowers.jpg);
      position: relative;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transform: translateZ(0) ;
      -moz-transform: translateZ(0) ;
      transform: translateZ(0) ;
    }
    &:after {
      content: "";
      background: url(img/overlay-checker.png);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.blur {

    #boundless-background {
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
      opacity: .8;
    }

    }
    a.play {
      display: block;
      height: 190px;
      width: 170px;
      position: absolute;
      top: calc(~"50% - 385px");
      left: 930px;
      z-index: 20;
      border: none;
      outline: none;
      .transition(all .25s);
      background: url(less/svg/boundless.svg) no-repeat  no-repeat 0px -600px;
      background-size: 1650px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        background: url(less/svg/boundless.svg) no-repeat -88px -121px;
        left: -80px;
        bottom: 10px;
        width: 65px;
        height: 195px;
        transition: opacity .25s;
      }
      &#topRight {
        .scale(.8);
        height: 44px;
        width: 45px;
        top: 85px;
        right: -75px;
        border: none;
        border-radius: 0;
        padding:0;
        background: rgba(0,0,0,0);
        span {
          display:block;
          height: 5px;
          width: 45px;
          margin: 0;
          background-color: white;
          &.top {
            transform: rotate(45deg) translate(5px, 5px);
          }
          &.left {
            opacity: 0;
            transform: rotate(90deg) translate(0px,14px);
          }
          &.bottom {
            transform: rotate(135deg) translate(-2px,3px);
          }
        }
        &.close {
          right: 5px;
        }
        &:before {
          display: none;
        }
      }
      //&.close {
      //  height: 44px;
      //  width: 45px;
      //  top: 85px;
      //  right: 5px;
      //  border: none;
      //  border-radius: 0;
      //  span {
      //    width: 45px;
      //    margin: 0;
      //    &.top {
      //      transform: rotate(45deg) translate(5px, 5px);
      //    }
      //    &.left {
      //      opacity: 0;
      //      transform: rotate(90deg) translate(0px,14px);
      //    }
      //    &.bottom {
      //      transform: rotate(135deg) translate(-2px,3px);
      //    }
      //  }
      //}
    }
    .boundless-youtube {
      position: absolute;
      top: 60px;
      bottom: 0px;
      left: 0;
      z-index: 1;
      transition: opacity .25s;
      &.behind {
        opacity: 0;
        z-index: -10;
      }
    }

}

.home .be-boundless { display: none; }

.stripes {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  left: -140px;
  bottom: 0;
  top: 0;
  width: 310px;
  overflow: hidden;
  .skew(-15deg,0);
  opacity: .3;
  transition: opacity .5s;
  span {
    display: block;
    float: left;
    height: 3000px;
    width: 12px;
    margin-left: 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #boundless-slide.blur {
    .homepage-text {
      .translate(-1410px,0);
    }
    .play {
      display: none;
    }

  }

   .stripes {
      position: fixed;
   }

  #boundless-slide {
    overflow: hidden;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: auto;
     #boundless-background {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        width: 100%;
        position: fixed;
        background-position: center center;
        background-repeat: no-repeat;
     }


    a.play {
      top: 70px;
      bottom: auto;
      right: 10px;
      left: auto;
      width: 80px;
      height: 80px;
      background-size: 1010px;
      background-position-y:-390px;
      &:before {
        left: -50px;
        width: 64px;
        height:80px;
      }
      &#topRight {
        background: transparent;
        display: none;
      }
    }
    .udub-slant {
      margin: 10px 0 5px;
      height: 10px;
      span {
        .animation(none);
        margin-left: -200px;
      }
    }
    .navigation {
      .homepage-text {
        padding: 30px;
        position: static;
        h1 {
          font-size: 34px;
          width: 70%;
        }
        p {
          width: 100%;
          padding-right: 10px;
          font-size: 15px;
          &.boundless-button {
            padding: 0 10px 0 0;
            width: auto;
            span {
               a{
                 padding: 10px 20px 10px 60px;
              }
            }
            &.right {
              padding: 0 0 0 10px;
              span {
                 a{
                   padding: 10px 60px 10px 20px;
                }
              }
            }
          }
        }
      }
    }

    &:after {
      position:fixed;
    }

  }
}
@media only screen and (max-width:768px) and (min-height: 650px){

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

}

@media only screen and (min-width : 992px) {


}
