.uw-links {

  position:relative;
  margin-top: -20px;
  background-color: white;

  ul {

    li {
      float:left;
      padding:120px 40px 40px 50px;
      text-transform:uppercase;
      a {
        color: @purple;
        font-weight:700;
      }
    }

  }

}
