.segue {
  .homepage-text {
    h1 {
      margin-left: 100px;
    }
  }
}

.udub-slant {
  overflow: hidden;
  display: block;
  margin: 30px 0 20px;
  span {
    -webkit-transform: skew(-25deg,0);
    -ms-transform: skewX(-25deg) skewY(0);
    transform: skew(-25deg,0);
    display: block;
    height: 13px;
    width: 290px;
    background-color: #fff;
    margin-bottom: 15px;
    margin-left:-290px;
      -webkit-animation: margie .5s 1s 1 forwards; /* Safari 4+ */
      -moz-animation:    margie .5s 1s 1 forwards; /* Fx 5+ */
      -o-animation:      margie .5s 1s 1 forwards; /* Opera 12+ */
      animation:         margie .5s 1s 1 forwards; /* IE 10+, Fx 29+ */
  }

}

&.segue {

  .udub-slant {

    span {
      -webkit-animation: margie .5s 1s 1 forwards; /* Safari 4+ */
      -moz-animation:    margie .5s 1s 1 forwards; /* Fx 5+ */
      -o-animation:      margie .5s 1s 1 forwards; /* Opera 12+ */
      animation:         margie .5s 1s 1 forwards; /* IE 10+, Fx 29+ */
    }
  }
}
@media only screen and (min-width:992px) and (max-height: 840px){

  div.navigation {
    margin-top: 115px;
  }
  .homepage-text {
    bottom: 250px;
  }
  #boundless-slide a.play {
  }
}


// Webkit

@keyframes margie {
  0%   { margin-left: -300px; }
  100% { margin-left: -90px; }
}

@keyframes margieOpacity {
  0%   { margin-left: 100px; opacity: 0}
  100% { margin-left: 0; opacity: 1}
}

// Moz

@-moz-keyframes margie {
  0%   { margin-left: -300px; }
  100% { margin-left: -90px; }
}

@-moz-keyframes margieOpacity {
  0%   { margin-left: 100px; opacity: 0}
  100% { margin-left: 0; opacity: 1}
}

// All

@-webkit-keyframes margie {
  0%   { margin-left: -300px; }
  100% { margin-left: -90px; }
}

@-webkit-keyframes margieOpacity {
  0%   { margin-left: 100px; opacity: 0}
  100% { margin-left: 0; opacity: 1}
}
