ul.navigation {

    z-index:10;
    position: fixed;
    right: 10px;
    top: 50%;
    list-style: none;

    li {
      background-color: white;
      margin: 20px;
      border-radius: 100%;
      width:15px;
      height:15px;
      .box-shadow(1px 1px rgba(0, 0, 0, 0.22));
      position: relative;
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
      &:before  {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 0px;
        height: 0px;
        border: 2px solid rgba(232, 232, 232, 0.8);
        z-index: -1;
        border-radius: 100%;
        .transform-origin(center center);
        .transition(all .1s ease-in-out);
      }
      &.current-dot:before  {
        left: -6px;
        top: -6px;
        width: 27px;
        height: 27px;
      }
    }

}

@media screen and (max-width: 768px){
  #dots { display: none; }
}