ul.navigation {

    z-index:10;
    position: fixed;
    right: 10px;
    top: 50%;
    list-style: none;

    li {
      background-color: white;
      margin: 20px;
      border-radius: 100%;
      width:15px;
      height:15px;
    }

}
