ul.navigation {

    z-index:1;
    position: fixed;
    right: 10px;
    top: 50%;
    list-style: none;

    li {
      background-color: white;
      margin: 20px;
      border-radius: 100%;
      width:20px;
      height:20px;
    }

}
