.slide.gallery {

  height: 1875px;
  padding: 80px 0;

  h3  {
    color: #4b2e83;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 900;
  }

  p em {
    margin-left: 45px;
  }

  ul#grid {
    margin-left: -25px;
    list-style: none;

    li {
      position: relative;
      float:left;
      width: 33%;
      padding: 20px;

      span.caption {
          position: absolute;
          bottom: 10%;
          left: 10%;
          right: 10%;
          top: 10%;
          background-color: #FFF;
          padding: 25px;
          overflow-y: auto;
          font-weight: bold;
          opacity: 0;
          transition: opacity 200ms ease-in-out;
          p {
            font-size: 14px;
            line-height: 1.4;
            font-weight: bold;
          }

      }

      &:hover {
        span.caption {
          opacity: 0.95;
        }
      }

    }

  }



}