.curtains>li#boundless-slide {
    background-attachment: fixed !important;
}

// The Curtains.js library styles
.curtains>li{  	
    // background-attachment: fixed !important;
    background-size: cover !important;
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}

.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}


.curtains{
    width: 100%;
    z-index:1;
    position:relative;
    padding: 0;
}

html{
    height: 100%;
    overflow-x: hidden;
}

.slide {    
    .box-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}


@media screen and (max-width: 768px){

    .curtains>li{   
        background-attachment: initial !important;
        &#boundless-slide {
            background-attachment: initial !important;
        }
    }
    
}