.single-format-gallery {

  .uw-hero-image {
      height: 585px;
  }

  .text-overlay {
    position: absolute;
    top: -395px;

    .uw-site-title {
      position: relative;
      top:0;
      left:0;
    }

    .spotlight-blurb {
      color: white;
      width: 40%;
    }

  }

  .uw-body-copy {
    padding-top: 40px;
  }

}