.single-format-gallery {

  .uw-hero-image {
      height: 585px;
  }

  .text-overlay {
    position: absolute;
    top: -535px;

    .uw-site-title {
      position: relative;
      top:0;
      left:0;
      width: 640px;
      font-weight: 900;
      line-height: 90px;
      font-size: 90px;
      text-transform: uppercase;
    }

    .spotlight-blurb {
      color: white;
      width: 100%;
      p {
        padding-right: 200px;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #fff;
        -webkit-font-smoothing: auto;
        margin-bottom: 20px;
        font-family: @font-family-headline;
        text-shadow: 1px 1px 1px rgba(0,0,0,.4);
        width: 60%;
      }
      a {
        display: none;
      }
    }

  }

  .uw-body-copy {
    padding-top: 20px;
  }

  iframe {
    padding: 40px 0;
  }

  blockquote {
    border-left: none;
    margin: 1.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 0;
  }
  blockquote:before, 
  blockquote:after {
    font-size: 4em;
    line-height: 0.1em;
    color: #ccc;
    vertical-align: -0.4em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  }
  blockquote:before {
    content: open-quote;    
    margin-right: 0.25em;
  }
  blockquote:after {
    content: close-quote;    
    margin-left: 0.25em;  
  }

  blockquote p {
    display: inline;
  }



}