
// Hides the title from the main boundless video

#video.boundless
{
  .title-blurb{ display: none;}
  .play {
    visibility: hidden;
    &.close {
      visibility: visible;
    }
  }
}

// Hides superfluous stuff on video play
.video-active {
  .navigation,
  .stripes,
  .be-boundless {
    opacity: 0;
  }
}


#slide button.play {
  display: block;
  height: 220px;
  width: 220px;
  position: absolute;
  top: calc(~"50% - 132px");
  right: calc(~"50% - -130px");
  z-index: 20;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: all .25s;
  overflow: hidden;
  z-index: 20;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all .25s;
  overflow: hidden;
  border: 6px solid #FFF;
  border-radius: 100%;
  transform: scale(.8);
  outline: none;
  span {
    display: block;
    margin:0;
    width: 121px;
    height: 5px;
    background-color: white;
    transition: all .25s;
    margin-left: 29px;
    &.top {
      transform: rotate(30deg) translate(14px,-37px);
      -webkit-transform: rotate(30deg) translate(14px,-37px);
    }
    &.left {
      transform: rotate(90deg) translate(0px,20px);
      -webkit-transform: rotate(90deg) translate(0px,20px);
    }
    &.bottom {
      transform: rotate(150deg) translate(-14px,-37px);
      -webkit-transform: rotate(150deg) translate(-14px,-37px);
    }
  }
  &.close {
    height: 44px;
    width: 45px;
    top: 115px;
    right: 25px;
    border: none;
    border-radius: 0;
    span {
      width: 45px;
      margin: 0;
      &.top {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &.left {
        opacity: 0;
        transform: rotate(90deg) translate(0px,14px);
      }
      &.bottom {
        transform: rotate(135deg) translate(-2px,3px);
      }
    }
  }
}
div.fullscreen {
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  .title-blurb {
    position: absolute;
    top: calc(~"50% - 105px");
    right: calc(~"50% - 415px");
    width: 440px;
  }
  h2 {
    font-weight: 900;
    line-height: 1;
    font-size: 65px;
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    &:after {
      content: "";
      background: url(less/svg/boundless.svg) no-repeat -155px -355px;
      display: block;
      position: absolute;
      left: -109px;
      top: -50px;
      width: 98px;
      height: 257px;
    }
  }

  .blurb {
    p {
      color: #FFF;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
      font-size: 16px;
      font-weight: bold;
      line-height: 1.6;
    }
  }
  .boundless-youtube {
    position: absolute;
    top: 60px;
    height: calc(~"100% - 60px");
    left: 0;
    z-index: 1;
    transition: opacity .25s;
    &.behind {
      pointer-events:none;
      opacity: 0;
      z-index: -10;
    }
  }
}

@media only screen and (max-width : 768px) {

  #video {
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
  }

  div.fullscreen {
    h2 {
      font-size: 45px;
      padding-right: 60px;
    }
    .blurb p {
      font-size: 15px;
      line-height: 1.5;
    }
    .title-blurb {
        position: static;
        padding: 100px 60px 100px 70px;
        width: auto;
    }
  }
  #slide button.play {
    position: absolute;
    top: 20px;
    right: -70px;
    .scale(.25,.25);
  }
}

