
.uw-charts {


  // Fact 1 

  .fact-1 {
    background: url(assets/images/caduceus.png) center top no-repeat;
    height: 313px;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    div {
      width: 70px;
      margin: 0 auto;     
      position: relative;
      span {
        position: absolute;
        top: 66px;
        left: -26px;
        color: @purple;
        font-size: 50px;
        font-weight: 600;
      }
      div {
        font-size: 120px;
        font-family: @font-family-headline;
        font-weight: @ultra-font-weight;
        color: @purple;
        display: inline-block;
        margin-bottom: -20px;
      }
    }
    p {
      font-family: @font-family-headline;
      font-weight: 500;
      padding: 0 30px;
    }
    &:after {
      position: absolute;
      right: -90px;
      width: 1px;
      content: "";
      background-color: rgb(187, 187, 187);
      height: 160px;
      top: 40px;
    }
  }


  h4 {
    margin-bottom: 30px;
    font-weight: 900;
    margin-top: 55px;
  }
  .row > div {
    // 
  }

  .faculty-facts {
    padding-left: 100px;
  }


  position:relative;
  padding: 40px 0 0;
  background-color: #ECE9E2;
  text-align: center;
  &:after {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    content: "";
    background: url('../uw-2014/assets/images/stripes-dark.png');
    opacity: .2;
  }
  img {
    max-width: 100%;
  }
  .uw-fast-facts {
    position:absolute;
    left: 50%;
    margin-left: -95px;
    top:0;
    padding:10px 50px;
    background-color:@purple;
    color:white;
    font-weight:700;
    text-transform:uppercase;
  }


  .title {
    text-align: right;
    font-family: @font-family-headline;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .people {
  }
  .person {
    float:left;
    width:13px;
    height:25px;
    margin:2px;
    background: url('assets/svg/person.svg') no-repeat 0 0;
    display: none;
    &.bar {
      background: none no-repeat 0 0 #ddd;
      width:2px;
      height: 25px;
    }
  }
  .number {
    opacity: 0;
    position: absolute;
    left:0;
    font-family: @font-family-headline;
    font-weight: @ultra-font-weight;
    font-size: 23px;
    color: @darkgold;
    line-height: 1.35;
  }


}

 @media only screen and (max-width : 767px) {
  
  .uw-charts {
    
    .faculty-facts {
      padding: 0 30px 30px;
    }
    .title {
      text-align: left;
    }

  }
  

  .box-outer .box.three .tile {
    margin: 0 0 10px 0;
  }

 }



