.single-uw_stories .uw-story-header {
	background-position: center right;
}

#flex-content-section-6 .row .image img {
	object-position: center left;
}

#flex-content-section-19 .row .image img,
#flex-content-section-23 .row .image img,
#flex-content-section-27 .row .image img,
#flex-content-section-29 .row .image img,
#flex-content-section-31 .row .image img {
	object-position: center right;
}

#copy-block-2 .row p { font-size: 19px; }

.video-caption p { font-style: italic; }

