.single-uw_stories .uw-story-header {
	background-position: center right;
}

#flex-content-section-6 .row .image img,
#flex-content-section-25 .row .image img {
	object-position: center right;
}

#copy-block-2 .row p { font-size: 19px; }

#flex-content-section-16,
#flex-content-section-16 .row .image {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
}
