.flexible-content.background-image .copy.container {
	background: white;
	position: relative;
	left: 5vw;
	padding: 0;
	width: 80vw !important;
}

.flexible-content.background-image .copy.container p {
	font-style: italic;
	background: white;
	color: #373A3C;
	border-bottom: 1px solid #bfbfbf;
	padding: 2rem 3rem 1rem 0;
	display: inline-block;
	line-height: 1.5;
}