body { background: black; }
#flex-content-section-1 { margin-top: 60px; }

#flex-content-section-1 img, #flex-content-section-2 img { object-position: top }
#flex-content-section-5 img, #flex-content-section-14 img, #flex-content-section-15 img { object-position: bottom; }

.uw-story-header:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 70%);
}

.uw-story-body .flexible-content.foreground-image .image-caption.captions-branded {
	background: black;
	position: relative;
	bottom: auto;
	left: auto;
	right: auto;
	padding: 10px 20px 0;
}

#half-columns-4 .copy p, #half-columns-18 .copy p {
	font-family: "Encode Sans Compressed", sans-serif;
	font-weight: 600;
	font-size: 21px;
	color: white;
}

#half-columns-4 .right-column { padding-left: 50px; }
#half-columns-18 .left-column { padding-right: 50px; }

.right-column p a, .left-column p a {
	color: white;
}

.right-column p a:hover, .left-column p a:hover,
.right-column p a:active, .left-column p a:active,
.right-column p a:focus, .left-column p a:focus {
	color: #B7A57A;
}

#flex-content-section-14 {
	margin-top: 80px;
	margin-bottom: 80px;
}

@media (max-width: 767px) {
	#half-columns-4 .right-column {
		padding-left: 0;
	}

	#half-columns-18 .left-column {
		padding-right: 0;
	}
}

@media (min-width: 1400px ) {
	#flex-content-section-8 img {
		object-position: bottom;
	}
	#flex-content-section-15 img {
		object-position: center;
	}
}

@media (prefers-reduced-motion: reduce) {
	#flex-content-section-1 img,
	#flex-content-section-5 img,
	#flex-content-section-8 img,
	#flex-content-section-16 img {
		transition: none 0s ease-in;
		filter: none;
	}
}

@media (prefers-reduced-motion: no-preference) {
	#flex-content-section-1 img,
	#flex-content-section-5 img,
	#flex-content-section-8 img,
	#flex-content-section-16 img {
		transition: filter 0.5s ease-in;
		filter: blur(5px);
	}
}