.uw-story-body .copy h2 {
	font-family: "Encode Sans Normal";
	font-weight: bold;
	text-transform: uppercase;
	color: #373A3C;
}

#separator-4 {
	height: 100px;
	background-color: #fef4f6;
	width: 100vw;
	max-width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}

#separator-4 .no-line {
	display: block;
	position: relative;
	height: 40px;
	background: white;
	margin: 0;
	width: 100%;
}

#separator-4 .no-line:before {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100%;
	width: 100%;
	height: 300px;
	background-color: #fef4f6;
	left: -25%;
	top: 20px;
}

#separator-4 .no-line:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100%;
	width: 100%;
	height: 300px;
	background-color: white;
	right: -25%;
	top: -240px;
}

#half-columns-5 {
	background-color: #fef4f6;
	width: 100vw;
	max-width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	padding: 0;
}

#half-columns-5 .row {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 40px 55px;
}

#half-columns-5 .row .left-column { padding-left: 15px;}

#half-columns-5 blockquote {
	font-family: "Uni Sans", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 3rem;
}

#half-columns-5 figcaption {
	font-family: "Uni Sans", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	text-align: left;
	font-size: 24px;
	color: #373A3C;
}

#half-columns-5 figcaption span {
	font-size: 17px;
	font-style: normal;
}

#half-columns-5 blockquote:before, #half-columns-5 blockquote:after { display: none; }
