#copy-block-4 .row { padding-top: 0; }
#copy-block-4 .row .row { padding: 0; }
#copy-block-4 .row .row .col-md-6:first-of-type { padding-left: 0; padding-right: 15px; }
#copy-block-4 .row .row .col-md-6:last-of-type { padding-left: 15px; padding-right: 0; }

@media screen and (max-width: 767px) {
	#flex-content-section-5 .container.copy {
		background: rgba(255,255,255,0.7);
		max-width: 100%;
	}
}
