.uw-story-header { background-position: right center; }
.uw-story-header h1.text-white { transform: none; font-family: 'Encode Sans Normal', sans-serif; padding-left: 0; }
.uw-story-header .text-white p { line-height: 1.5; max-width: 80%; }
.uw-story-header svg { height: 50px; }
.uw-story-body .copy h2 { color: #373A3C; font-family: 'Encode Sans', sans-serif; font-weight: normal; }
.uw-story-body .copy .callout { font-family: 'Encode Sans Compressed', sans-serif; font-size: 24px; line-height: 36px; }
#flex-content-section-4:after { content: ''; border: 0 none; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 120%; background: rgba(0,0,0,0.39); }
.uw-story-body #flex-content-section-4 p { font-family: 'Encode Sans', sans-serif; font-size: 4rem; line-height: 1.5; border-top: 4px solid white; border-bottom: 4px solid white; padding: 40px 0; z-index: 99; }
.uw-story-body figure.quote-block { justify-content: start; height: 100vh;}
.uw-story-body figure.quote-block div { border-left: 0; padding: 0; margin-left: 10vw; width: 35%; }
.uw-story-body figure.quote-block div blockquote { font-family: 'Encode Sans', sans-serif; font-size: 3.5rem; line-height: 1.4; font-weight: 600; }
.uw-story-body figure.quote-block div figcaption .uw-slant-inline { display: none; }
.uw-story-body figure.quote-block div blockquote:before { content: open-quote; display: block; position: relative; bottom: -2.5rem; left: 0; font-family: 'Encode Sans Normal', sans-serif; }
.uw-story-body figure.quote-block div blockquote:after { content: close-quote; position: relative; bottom: -30px; left: 10px; font-family: 'Encode Sans Normal', sans-serif; }
.uw-story-body .flexible-content.overlap-section .row { top: -200px; margin-bottom: -300px; }
.uw-story-body .giving-widget:after { content: ''; border: 0 none; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 120%; background: rgba(0,0,0,0.52); }
.uw-story-body .giving-widget .col-md-10, .uw-story-body .giving-widget:before { z-index: 99; }
.uw-story-body .flexible-content.full-height.background-video { height: 80vh; }
.flexible-content.background-video #pause { left: 20px; top: 50px; }
.uw-story-body #toggle-12 .row { padding-top: 0; }
.flexible-content.foreground-image.overlap-section .image { position: relative; }
.flexible-content.foreground-image.overlap-section .image:before { content: ''; position: absolute; top: 0; left: -8px; width: 8px; height: 200px; border-left: 8px solid white; }
.flexible-content.foreground-image.overlap-section .image:after { content: ''; position: absolute; top: -8px; left: -8px; width: 200px; height: 8px; border-top: 8px solid white; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-caption { background: rgba(75, 46, 131, 0.8); padding: 0 0 10px 0; font-style: italic; left: 10rem; right: inherit; width: 70% !important; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-caption p { background: none; text-shadow: 0 0 3px rgba(37, 37, 37, 0.65); }
.uw-story-body .carousel.full-width .carousel-control-next, .uw-story-body .carousel.full-width .carousel-control-prev { background: rgba(183, 165, 122, 0.65); width: 6rem; }
.uw-story-body .carousel .carousel-control-next .carousel-control-next-icon { left: -6px; }
.uw-story-body .carousel .carousel-control-prev .carousel-control-prev-icon { left: 6px; }
.uw-story-body .carousel.full-width .carousel-control-next:hover, .uw-story-body .carousel.full-width .carousel-control-prev:hover { background: rgba(75, 46, 131, 0.8); }
#flex-content-section-9 { align-items: flex-end; }
#flex-content-section-9 .copy .row { background: rgba(75, 46, 131, 0.8); padding: 0 0 10px 0; font-style: italic; left: 10rem; right: inherit; width: 70%; text-align: left; bottom: 0; }
#flex-content-section-9 .copy .row p { padding: 1rem 2rem 0; margin-bottom: 0; }
@media (min-width: 768px) and (max-width: 989px) {.uw-story-body #flex-content-section-4 p { font-size: 3rem; }}
@media (max-width: 767px) {
.uw-story-header { background-position: 90% center; }
.uw-story-header .w-50 { padding: 0 0 0 2rem; }
#flex-content-section-1 .row { padding: 60px 30px; }
.uw-story-body figure.quote-block div { width: 50%; }
.uw-story-body figure.quote-block div blockquote { font-size: 2.5rem; }
.uw-story-body figure.quote-block div blockquote:before { bottom: -1.5rem; }
#quote-block-7 { background-position: 60% center; }
.uw-story-body figure.quote-block div.text-white figcaption { font-size: 1.5rem; }
.uw-story-body #flex-content-section-4 { background-position: 80% center; }
.uw-story-body #flex-content-section-4 p { font-size: 2rem; }
div#flex-content-section-10 { min-height: 70vw; }
#copy-block-11 .row { padding-top: 0; }
.uw-story-body .flexible-content.overlap-section .row { top: -150px; margin-bottom: -250px; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-item img { height: 50vh;}
.uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-0 img, .uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-3 img { object-position: 30% center; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-2 img { object-position: 10% center; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-4 img { object-position: right center; }
.uw-story-body .carousel.full-width .carousel-control-next, .uw-story-body .carousel.full-width .carousel-control-prev { width: 5rem; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-caption { width: 80% !important; background: rgba(75, 46, 131, 0.8) !important; left: 5rem; }
.uw-story-body .carousel.full-width .carousel-inner .carousel-caption p { line-height: 1.2; }
#flex-content-section-9 .copy .row { width: 100%; }
#flex-content-section-9 .copy .row p { line-height: 1.2; }
.uw-story-body .flexible-content.full-height.background-video { height: 50vh; min-height: 50vh; }
.uw-story-body .giving-widget { background-position: 70% center; }
}
.uw-body-copy h3 a { text-decoration: underline !important; color: #0074bb;}