/* fix Safari bug */
/* @media not all and (min-resolution:.001dpcm) {
	body { overflow-x: hidden; }
} */

#copy-block-1 {
	background: #4c2b85;
	margin: 0;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	max-width: 100vw;
	padding: 0;
}

#copy-block-1 .row { padding: 30px 40px; max-width: 1400px; }

#copy-block-1 p { color: white; font-family: "Open Sans", sans-serif; font-size: 17px; }

h2 { color: #373a3c; }

.uw-story-header h1.text-white {
	font-family: "Encode Sans Normal", sans-serif;
	font-size: 4.5vw;
}

.uw-story-header .text-white p {
	font-weight: bold;
}

.uw-story-body .copy p {
	font-family: "Uni Sans", sans-serif;
	font-size: 19px;
	color: #1C1C1C;
}

.uw-story-body .copy h2 {
	color: #373a3c;
}

.uw-story-body .copy .callout { font-family: 'Encode Sans Compressed', sans-serif; font-size: 21px; font-weight: 600; line-height: 1.3; }

.uw-story-body #flex-content-section-3 .row .image { width: 100%; }

.uw-story-body #story-scroll-section-6.inviewport img.background-image { opacity: 0; }
.uw-story-body #story-scroll-section-6.active img.background-image { opacity: 1; }

.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy,
.uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy,
.uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy {
	background: none;
	padding: 0;
	max-width: 40%;
}

.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy h3,
.uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy h3 {
	font-family: 'Encode Sans Compressed', sans-serif;
	font-weight: 900;
	font-size: 90px;
	margin-bottom: 30px;
	line-height: 1;
	color: white;
}

.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy p,
.uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy p,
.uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy p {
	font-family: 'Encode Sans Compressed', sans-serif;
	font-weight: 900;
	font-size: 50px;
	line-height: 1.3;
	padding: 10px 0;
	color: white;
	max-width: 98%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy p  { font-size: 30px; }
.uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy p  { font-size: 30px; border: 0 none; }
.uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#story-scroll-section-6 img {
	transition: filter 1s ease-in;
	filter: brightness(1);
}

#story-scroll-section-6.active img {
	transition: filter 1s ease-in;
	filter: brightness(0.6);
}

#story-scroll-section-6.active:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 30%);
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 30%);
	background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 30%);
}

.uw-story-body #story-scroll-section-6.active .scroll-story-container {
	z-index: 3;
}

.uw-story-body #story-scroll-section-6.itemblur img {
	transition: filter 1s ease-in;
	filter: brightness(1);
}

.uw-story-body #flex-content-section-9 .image-caption.captions-simple {
	width: 80%;
	margin: -100px auto 0;
	padding: 15px 45px;
}

.uw-story-body #flex-content-section-9 .image-caption.captions-simple p {
	font-family: "Uni Sans", sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: black;
	font-style: normal;
	font-weight: bold;
	border-bottom: 0 none;
}

.uw-story-body #flex-content-section-9 .image-caption.captions-simple p span {
	display: block;
	font-family: "Encode Sans", sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 20px;
}

.uw-story-body .carousel.captions-simple .carousel-caption p {
	margin-left: 0;
}

#copy-block-10 .row { padding-top: 25px; }

.uw-story-body #quote-block-12 {
	padding-top: 10vh;
	padding-bottom: 0;
}

.uw-story-body #quote-block-12 blockquote {
	display: block;
	font-family: "Encode Sans", sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 20px;
	color: #373A3C;
	border: 1px solid #bfbfbf;
	border-left: 0 none;
	border-right: 0 none;
	padding: 30px 0;
}

.uw-story-body #quote-block-12 blockquote:before, .uw-story-body #quote-block-12 blockquote:after {
	display: none;
}

#copy-block-13 .row { padding-top: 35px; }

#copy-block-15 .row { padding-top: 25px; }

@media (min-width: 1200px) {
	.uw-story-body .carousel.captions-simple .carousel-control-next, .uw-story-body .carousel.captions-simple .carousel-control-prev {
		height: 90.8%
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.uw-story-body .carousel.captions-simple .carousel-control-next, .uw-story-body .carousel.captions-simple .carousel-control-prev {
		height: 89.4%
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.uw-story-body .carousel .carousel-item {
		min-height: 60vh;
	}

	.uw-story-body .carousel.captions-simple .carousel-control-next, .uw-story-body .carousel.captions-simple .carousel-control-prev {
		height: 75.6%
	}
	.uw-story-body .story-scroll img.background-image {
		object-position: left center;
	}
	.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy, .uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy, .uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy {
		width: 100%;
		max-width: 80%;
	}

	.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy h3, .uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy h3 {
		font-size: 80px;
	}
}

@media (max-width: 767px) {
	.uw-story-header.background-video .w-50 {
		padding: 0px 0px 10rem 4rem !important
	}

	.uw-story-body .carousel.captions-simple .carousel-control-next, .uw-story-body .carousel.captions-simple .carousel-control-prev {
		width: 3rem;
		background: rgba(75,46,131,.8);
	}
	.uw-story-body .carousel .carousel-control-next .carousel-control-prev-icon, .uw-story-body .carousel .carousel-control-prev .carousel-control-prev-icon {
		border-width: 0 0 2px 2px;
		padding: 0;
	}

	.uw-story-body .carousel .carousel-control-next .carousel-control-next-icon, .uw-story-body .carousel .carousel-control-prev .carousel-control-next-icon {
		border-width: 0 2px 2px 0;
		padding: 0;
	}

	.uw-story-body .story-scroll img.background-image {
		object-position: left center;
	}

	.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy, .uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy, .uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy {
		width: 80%;
		max-width: 80%;
	}

	.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy h3, .uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy h3 {
		font-size: 70px;
	}

	.uw-story-body #story-scroll-section-5 .scroll-story-container .scroll-story-copy p {
		font-size: 40px;
	}
	.uw-story-body #story-scroll-section-6 .scroll-story-container .scroll-story-copy p,
	.uw-story-body #story-scroll-section-7 .scroll-story-container .scroll-story-copy p {
		font-size: 30px;
	}

	.uw-story-body .giving-widget .col-md-10 {
		padding: 10% 5% 30%;
	}

	.uw-story-body #flex-content-section-9 .image-caption.captions-simple {
		width: 100%;
		margin: 0;
		padding: 15px;
	}
}

@media (min-width: 553px) and (max-width: 767px) {
	.uw-story-body .carousel .carousel-item {
		min-height: 30vh;
	}

	.uw-story-body .carousel.captions-simple .carousel-control-next, .uw-story-body .carousel.captions-simple .carousel-control-prev {
		height: 74.5%
	}
}

@media (max-width: 552px) {
	.uw-story-body .carousel .carousel-item {
		min-height: 41vh;
	}

	.uw-story-body .carousel.captions-simple .carousel-control-next, .uw-story-body .carousel.captions-simple .carousel-control-prev {
		height: 66.5%
	}
}
