.uw-story-header .w-50 div.text-white {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 10px 5px 10px;
}

.uw-story-body figure.quote-block div figcaption { text-align: left; }

.uw-story-body figure.quote-block.quote-image { min-height: 70vh; }

#copy-block-5 .row, #copy-block-7 .row, #copy-block-9 .row { padding: 0; }
