/* fix Safari bug */
@media not all and (min-resolution:.001dpcm) { body { overflow-x: hidden; } }

.uw-story-body figure.quote-block div figcaption { font-weight: 200; font-size: 17px; }

.uw-story-body .flexible-content.foreground-image .image-caption.captions-simple {
	width: 1140px;
	max-width: 1140px;
	position: relative;
	margin: 10px auto 0;
	bottom: auto;
	padding: 0;
}

.uw-story-body .flexible-content.foreground-image .image-caption.captions-simple p {
	font-size: 0.9em;
	display: inline;
}

.uw-story-header h1.text-dark, .uw-story-header .text-dark p { color: black !important; }
.udub-slant-divider span { background-color: black; }

#quote-block-4, #quote-block-8 {
	background-position: right top;
	min-height: 100vh;
	justify-content: flex-start;
}

#quote-block-4 .mb-0, #quote-block-8 .mb-0 { margin-left: 5%; }

#quote-block-4 div figcaption,
#quote-block-8 div figcaption,
#half-columns-13 div figcaption,
#half-columns-18 div figcaption { text-align: left; }

@media (min-width: 769px) {
	.uw-story-body .profile-boxes ul.profiles.three-columns {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.uw-story-body .profile-boxes ul.profiles li.profile.active-focus .profile-cover.enable, .uw-story-body .profile-boxes ul.profiles li.profile.active .profile-cover.enable, .uw-story-body .profile-boxes ul.profiles li.profile:active .profile-cover.enable, .uw-story-body .profile-boxes ul.profiles li.profile:focus .profile-cover.enable, .uw-story-body .profile-boxes ul.profiles li.profile:hover .profile-cover.enable {
		display: none;
	}
}

@media (max-width: 1024px) {
	.uw-story-header {
		background-position: 95% center;
	}
}

@media (max-width: 768px) {
	#quote-block-4, #quote-block-8 {
		align-items: flex-end;
	}

	#quote-block-4:after, #quote-block-8:after {
		content: '';
		border: 0 none;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.52) 0, rgba(0, 0, 0, 0) 90%);
	}

	#quote-block-4 .mb-0, #quote-block-8 .mb-0 { z-index: 9999999999; }

	/* #separator-10, #separator-18, #separator-22, #separator-26 { display: none; }
	#half-columns-12, #half-columns-16, #half-columns-17, #half-columns-21 { padding-top: 0; }
	#separator-5 .no-line, #separator-7 .no-line, #separator-13 .no-line, #separator-28 .no-line {
		margin-top: 25px !important;
		margin-bottom: 25px !important;
	}

	#half-columns-12 .left-column, #half-columns-16 .left-column { order: 2; } */
	.profile-block-caption { display: none; }
}
