/* fix Safari bug */
@media not all and (min-resolution:.001dpcm) { body { overflow-x: hidden; } }

.uw-story-body figure.quote-block div figcaption { font-weight: 200; font-size: 17px; }

body.dark-mode .uw-story-body .carousel.captions-simple .carousel-caption p, body.dark-mode .uw-story-body .flexible-content.foreground-image .image-caption.captions-simple p { font-size: 0.9em; }

.uw-story-header h1.text-dark, .uw-story-header .text-dark p { color: black !important; }
.udub-slant-divider span { background-color: black; }

#quote-block-4 {
	background-position: right center;
	min-height: 100vh;
	justify-content: flex-start;
}

#quote-block-4 figure.quote-block div { margin-left: 5%; }
