@media (max-width: 767px) {
	.uw-story-header.background-image.header-img-v-center.header-img-right {
		background-position: 75% bottom;
	}

	.col-xs-12.col-sm-12 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#copy-block-9 .col-xs-12.col-sm-12.col-md-4.col-lg-4.col-xl-4 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	#flex-content-section-2,
	#flex-content-section-4,
	#flex-content-section-6 {
		background-size: contain;
		margin-bottom: 100%;
	}

	#flex-content-section-8 { 
		background-size: contain; 
		margin-bottom: 80%; 
	}

	#flex-content-section-6 { height: 60vh; }
	#flex-content-section-8 { height: 40vh; }

	#flex-content-section-2 { background-position: left; }
	#flex-content-section-4 { background-position: right; }


	#flex-content-section-2 .copy,
	#flex-content-section-4 .copy,
	#flex-content-section-6 .copy,
	#flex-content-section-8 .copy {
		position: relative;
		top: 100%;
	}

	#flex-content-section-2 .copy .row div,
	#flex-content-section-4 .copy .row div,
	#flex-content-section-6 .copy .row div,
	#flex-content-section-8 .copy .row div {
		margin: 0 !important;
	}

	#flex-content-section-4 .copy .row div { width: 90% !important; }

	#flex-content-section-2 .copy div, #flex-content-section-2 .copy blockquote p,
	#flex-content-section-4 .copy div, #flex-content-section-4 .copy blockquote p,
	#flex-content-section-6 .copy div, #flex-content-section-6 .copy blockquote p, #flex-content-section-6 .copy div p span,
	#flex-content-section-8 .copy div, #flex-content-section-8 .copy blockquote p {
		color: #3D3D3D;
		text-shadow: 0 0;
		font-size: 18px;
	}

	#flex-content-section-6 .copy div p span { margin-left: 0 !important; }

	#flex-content-section-2 .copy blockquote p strong,
	#flex-content-section-4 .copy blockquote p strong,
	#flex-content-section-6 .copy blockquote p strong,
	#flex-content-section-8 .copy blockquote p strong {
		font-size: 20px !important;
	}

	#copy-block-1 .row, #copy-block-5 .row { padding-bottom: 0; }

	#copy-block-7 .row { padding-top: 140px; }
	#copy-block-7 .row div { 
		float: none !important; 
		width: 100% !important; 
		margin-left: 0 !important; 
	}

	#copy-block-9 .row { padding-top: 0; }
}

@media (min-width: 768px) and (max-width: 1024px) {
	.uw-story-header.background-image.header-img-v-center.header-img-right {
		background-position: 50% bottom;
	}
}

