@media (min-width: 1430px) {
	.uw-body-copy .uw-story-header .w-50 { width: 35vw !important; }
}

@media (min-width: 768px) and (max-width: 1429px) {
	.uw-body-copy .uw-story-header .w-50 { width: 40vw !important; }
}

.uw-body-copy .uw-story-header { background-position: center right; }
.uw-story-body .copy .callout { font-family: 'Encode Sans Compressed', sans-serif; font-size: 24px; line-height: 36px; }
.uw-story-body .copy h2 { color: #373A3C; font-family: 'Encode Sans', sans-serif; font-weight: normal; }
#copy-block-1 .row { padding-bottom: 0; }
#copy-block-2 .row { padding-bottom: 0; }
#copy-block-3, #copy-block-5, #copy-block-7, #copy-block-9 { background: white; z-index: 999; }
#quote-block-4, #flex-content-section-6, #quote-block-8, #quote-block-10 { margin-top: -50px; z-index: -1; }

#flex-content-section-6 { background-position: center top; }

/* cmsdev - remove before launch */
.uw-body-copy #flex-content-section-6.lushootseed-writing-1 {
	background-image: url(http://cmsdev.uw.edu/cms/boundless/wp-content/uploads/sites/2/2020/04/tami-1.jpg) !important;
}

.uw-body-copy #flex-content-section-6.lushootseed-writing-2 {
	background-image: url(http://cmsdev.uw.edu/cms/boundless/wp-content/uploads/sites/2/2020/03/tami-2.jpg) !important;
}

@media (prefers-reduced-motion: no-preference) {
	#flex-content-section-6 { transition: background-image 1s ease-in-out; }
}

@media (prefers-reduced-motion: reduce) {
	#flex-content-section-6 { transition: none 0s; }
}

.image-audio {
	background-image: url(http://cmsdev.uw.edu/cms/boundless/wp-content/uploads/sites/2/2020/04/record.jpg);
	background-size: cover;
	background-position: center center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 60px;
	align-items: center;
	padding: 80px 60px;
	position: relative;
}

@media (max-width: 991px) {
	.image-audio {
		grid-template-columns: inherit;
		grid-column-gap: inherit;
	}
	.audio-image-caption { order: 1; }
	.soundcloud { order: 2; }
}

.image-audio:after { content: ''; border: 0 none; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,0.52); }

.audio-image-caption, .soundcloud { z-index: 99; }

.audio-image-caption { order: 2; }

.soundcloud { order: 1; }

.audio-image-caption p {
	font-family: 'Encode Sans', sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
	font-style: normal;
	color: white;
	border-bottom: 0 none;
	background: none;
	padding: 0;
}

.uw-story-body .carousel.full-width .carousel-control-prev, .uw-story-body .carousel.full-width .carousel-control-next { height: 80vh; }

.uw-story-body #uw-carousel-4 .carousel-inner .carousel-item.slide-0 img {
	object-position: top center;
}

#quote-block-8 { background-position: top right; }
#quote-block-10 { background-position: center right; }

#quote-block-10:before {
	content: '';
	border: 0 none;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 60%);
}

.quote-block .mb-0 {
	z-index: 99;
}

.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption {
	padding: 0;
	margin-left: 0;
	width: 35% !important;
	background: none;
	position: absolute;
	top: 20%;
	left: 15%;
	right: inherit;
	bottom: inherit;
}

@media (min-width: 1295px) {
	.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption { top: 25%; }
}

@media (min-width: 768px) and (max-width: 1040px) {
	.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption {
		top: 12%;
	}

	.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption p, .uw-story-body figure.quote-block div blockquote {
		font-size: 3rem;
	}
}

@media (min-width: 645px) and (max-width: 767px) {
	.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption {
		top: 15%;
	}

	.uw-story-body .carousel.captions-simple .carousel-inner .slide-0 .carousel-caption p {
		font-size: 2.5rem;
	}
}

@media (max-width: 644px) {
	.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption {
		top: 0%;
		width: 40% !important;
	}

	.uw-story-body .carousel.captions-simple .carousel-inner .slide-0 .carousel-caption p { font-size: 2.5rem; }
	#quote-block-10 { background-position: 90% center; }
}

.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption:after {
	content: "Tami Hohn";
	display: block;
	text-align: right;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-right: 60px;
	margin-top: 40px;
	line-height: 1.2;
}

@media (max-width: 767px) {
	.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption:after { margin-top: 20px; }
}

.uw-story-body .carousel.captions-simple .slide-0 .carousel-caption p {
	font-family: 'Encode Sans', sans-serif;
	font-size: 3.5rem;
	line-height: 1.4;
	font-weight: 500;
	font-style: normal;
	color: white;
	border-bottom: 0 none;
	background: none;
	padding: 0;
}

.slide-0 .carousel-caption p:before { content: open-quote; display: block; position: relative; bottom: -2.5rem; left: 0; font-family: 'Encode Sans Normal', sans-serif; }

.slide-0 .carousel-caption p:after { content: close-quote; position: relative; bottom: -30px; left: 10px; font-family: 'Encode Sans Normal', sans-serif; }

.uw-story-body #uw-carousel-4 .carousel-inner .carousel-item.slide-1 img { object-position: right center; }

.uw-story-body figure.quote-block { justify-content: start; height: 80vh; min-height: 500px !important; }
.uw-story-body figure.quote-block div { border-left: 0; padding: 0; margin-left: 10vw; width: 35%; }
.uw-story-body figure.quote-block div blockquote { font-family: 'Encode Sans', sans-serif; font-size: 3.5rem; line-height: 1.4; font-weight: 500; color: white; }
.uw-story-body figure.quote-block div figcaption { color: white; }
.uw-story-body figure.quote-block div figcaption .uw-slant-inline { display: none; }
.uw-story-body figure.quote-block div blockquote:before { content: open-quote; display: block; position: relative; bottom: -2.5rem; left: 0; font-family: 'Encode Sans Normal', sans-serif; }
.uw-story-body figure.quote-block div blockquote:after { content: close-quote; position: relative; bottom: -30px; left: 10px; font-family: 'Encode Sans Normal', sans-serif; }

@media (max-width: 767px) {
	.uw-body-copy .uw-story-header .w-50 { padding: 0 0 10rem 2rem !important; }
	.uw-story-body figure.quote-block div { width: 50%; margin-left: 5vw; }
	.uw-story-body figure.quote-block div blockquote { font-size: 2.5rem; }
	.uw-story-body figure.quote-block div blockquote:before, .slide-0 .carousel-caption p:before { bottom: -1.5rem; }
	.uw-story-body figure.quote-block div.text-white figcaption { font-size: 1.5rem; margin-top: 20px; }
	.uw-story-body #flex-content-section-6 {
		min-height: 80vh;
		background-position: 65% center;
	}

	.uw-story-body .giving-widget .container {
		width: 65%;
		margin-left: 10px;
	}
	.uw-story-body .carousel.slide, .uw-story-body .carousel.slide img {
		min-height: 500px;
	}
	.uw-story-body .carousel.full-width .carousel-control-prev, .uw-story-body .carousel.full-width .carousel-control-next {
		min-height: 500px;
		width: 5rem;
	}
}

/* iPhone/iPad hack */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.uw-body-copy .uw-story-header:before {
		content: '';
		border: 0 none;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 60%);
	}
}

@media (max-height: 725px) {
	.uw-story-body figure.quote-block div blockquote, .uw-story-body .carousel.captions-simple .slide-0 .carousel-caption p { font-size: 2.5rem; }
	.uw-story-body figure.quote-block div blockquote:before, .slide-0 .carousel-caption p:before { bottom: -1.5rem; }
}

@media (min-width: 1300px) {
	.uw-story-body .giving-widget.branded {
		background-position: right center;
	}
}

@media (max-width: 1299px) {
	.uw-story-body .giving-widget.branded {
		background-position: 80% center;
	}
}

.uw-story-body .giving-widget:after { content: ''; border: 0 none; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 120%; background: rgba(0,0,0,0.32); }

.uw-story-body .giving-widget .col-md-10, .uw-story-body .giving-widget:before { z-index: 99; }
