.uw-story-body .flexible-content.full-height {
	background-attachment: fixed;
	height: 100vh;
	will-change: opacity;
}

.uw-story-body .flexible-content.scrollStoryItem {
	opacity: 0;
	transition: opacity 0s ease;
	will-change: opacity;
}
.uw-story-body .flexible-content.inviewport {
	opacity: 0.3;
	transition: opacity 1.5s ease;
}
.uw-story-body .flexible-content.active {
	opacity: 1;
	transition: opacity 2s ease;
}

#copy-block-3,
#copy-block-5,
#copy-block-7,
#copy-block-10,
#copy-block-13,
#copy-block-21,
#copy-block-23 {
	border: solid #2D1A6D;
	border-width: 10px 10px 0 10px;
	padding: 0;
}

#copy-block-13 { border-bottom: 10px solid #2D1A6D; }
#copy-block-13, #copy-block-23 { border-top: 0 none; }

#copy-block-3,
#copy-block-7,
#copy-block-10 {
	margin-top: -100px;
	z-index: 999999;
}

#copy-block-3 .row,
#copy-block-5 .row,
#copy-block-7 .row,
#copy-block-10 .row,
#copy-block-13 .row,
#copy-block-21 .row,
#copy-block-23 .row {
	background-color: #2D1A6D;
	border: solid white;
	border-width: 3px 3px 0 3px;
	margin: 0;
	padding: 80px 40px;
}

#copy-block-13 .row { border-bottom: 3px solid white; }

#copy-block-5, #copy-block-5 .row, #copy-block-13 .row, #copy-block-23 .row { border-top: 0 none; }

#flex-content-section-2,
#flex-content-section-4,
#flex-content-section-6,
#flex-content-section-9,
#flex-content-section-12,
#flex-content-section-22,
#flex-content-section-24 {
	box-shadow: 0 9px 12px -12px rgba(0, 0, 0, 0.14);
}

#flex-content-section-2,
#flex-content-section-4,
#flex-content-section-6,
#flex-content-section-9 {
	z-index: -1;
}

#copy-block-3 .row p,
#copy-block-5 .row p,
#copy-block-7 .row p,
#copy-block-10 .row p,
#copy-block-13 .row p,
#copy-block-21 .row p,
#copy-block-23 .row p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	width: 70%;
	margin: 0 auto 40px;
}

#copy-block-10 .row p { width: 60%; }

.uw-story-header .w-50 {
	background-color: rgba(255,255,255,0.8);
	width: 80vw !important;
	text-align: center;
	position: relative;
	padding: 4rem 3rem 3rem 3rem;
	align-self: flex-end;
}

.uw-story-header h1.text-primary, #copy-block-14 h2 {
	padding-top: 0;
	margin-top: 0;
	font-family: 'Encode Sans Normal';
	font-size: 3.3vw;
	text-align: center;
	text-transform: uppercase;
	color: #4b2e83;
}

.uw-story-header .udub-slant-divider { display: none !important; }

.uw-story-header .text-dark p { font-size: 18px; font-weight: 600; margin-top: 10px; }

.flexible-content .copy.text-dark {
	background-color: rgba(255, 255, 255, 0.8);
	width: 50vw;
}

.highlight-larger {
	font-size: 42px;
	font-family: "Encode Sans Normal", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.extra-borders {
	display: block;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-bottom: 60px;
	border-top: 1px solid #9f94c3;
	border-bottom: 1px solid #9f94c3;
}

.flexible-content .copy.text-dark p {
	font-family: "Encode Sans Normal", sans-serif;
	font-size: 25px;
	line-height: 1.5;
	text-transform: uppercase;
	text-align: center;
}

#flex-content-section-1 .copy.text-dark p { text-transform: none; }

#copy-block-14 .row {
	padding-top: 100px;
	padding-bottom: 60px;
}

#flex-content-section-11:before {
	content: 'A year later';
	text-transform: uppercase;
	border: 4px solid #4C2C85;
	padding: 10px 30px;
	font-family: "Encode Sans Normal", sans-serif;
	font-size: 30px;
	color: #4C2C85;
	background-color: white;
	position: absolute;
	top: 8vh;
	left: 8vw;
}

#flex-content-section-22 { height: 300vh; }

#flex-content-section-22 .copy {
	position: absolute;
	top: 8vh;
	right: 8vw;
}

#flex-content-section-22 .copy .row { padding: 0; }

#flex-content-section-22 .copy.text-dark { background: none; }

#flex-content-section-22 .copy.text-dark p {
	background: url(/wp-content/themes/be-boundless/immersive-stories/custom/quote-bubble-right.png) no-repeat;
	width: 509px;
	height: 393px;
	padding: 100px 40px;
	margin: 100px 0 300px;
}

@media (max-height: 650px) {
	#flex-content-section-22 { height: 400vh; }
	#flex-content-section-22 .copy.text-dark p { margin: 100px 0 150px; }
}

#flex-content-section-24 .copy.text-dark {
	background: none;
	background: url(/wp-content/themes/be-boundless/immersive-stories/custom/quote-bubble-left.png) no-repeat;
	width: 509px;
	height: 393px;
}

#flex-content-section-24 .copy {
	position: absolute;
	top: 8vh;
	left: 8vw;
}

#flex-content-section-24 .copy .row { padding: 100px 40px; }

#copy-block-15 .row { padding-top: 0; }
#copy-block-25 .row { padding-bottom: 0; }

.uw-story-body .copy h3 {
	font-family: "Encode Sans Normal", sans-serif;
	font-weight: normal;
	margin-bottom: 60px;
}

.uw-story-body .copy p { font-family: "Uni Sans Regular", sans-serif; }

.heading-borders {
	border: 4px solid #4C2C85;
	padding: 10px 30px;
}

.uw-story-body .uw-story-columns .row { grid-template-columns: 0.65fr 1fr; }
.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple .text-primary { padding-top: 0; }
.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple blockquote { font-size: 3.5rem; }
.uw-story-body .uw-story-columns .row figure.quote-block div figcaption { text-align: left; }
.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple figcaption { font-family: "Encode Sans Normal", sans-serif; font-weight: bold; }
.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple figcaption .quote-source-title { font-family: "Uni Sans", sans-serif; font-weight: normal; font-style: normal; }

.uw-story-body .giving-widget:after { content: ''; border: 0 none; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,0.52); }
.uw-story-body .giving-widget .col-md-10, .uw-story-body .giving-widget:before { z-index: 99; }
.uw-story-body .giving-widget .col-md-10 { padding: 60% 90px 10%; }

@media (max-width: 1023px) {
	.uw-story-body .uw-story-columns .row {
		grid-template-columns: none;
		column-gap: 0;
	}
	.uw-story-body .uw-story-columns .row .left-column .single-image {
		width: auto;
		left: auto;
		right: auto;
		margin-left: auto;
		margin-right: auto;
		padding: 0 10px;
	}

	.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple blockquote { font-size: 3rem; }
}

@media (max-width: 767px) {
	.uw-story-header .w-50 { padding: 2rem !important; }
	.flexible-content .copy.text-dark { width: 80vw; }
	.uw-story-body .row { padding: 30px 0 20px; }
	.flexible-content .copy.text-dark p { font-size: 20px; }
	#flex-content-section-2 { background-position: 80% center; }
	#flex-content-section-6 { background-position: 20% center; }
	#flex-content-section-8, #flex-content-section-12, #flex-content-section-22 { background-position: 30% center; }
	#flex-content-section-9 { background-position: 55% center; }
	#copy-block-3 .row, #copy-block-5 .row, #copy-block-7 .row, #copy-block-10 .row, #copy-block-13 .row, #copy-block-21 .row, #copy-block-23 .row { padding: 40px 0px; }
	#copy-block-3 .row p, #copy-block-5 .row p, #copy-block-7 .row p, #copy-block-10 .row p, #copy-block-13 .row p, #copy-block-21 .row p, #copy-block-23 .row p { width: 85%; }
	.highlight-larger { font-size: 28px; }
	.uw-story-header h1.text-primary, #copy-block-14 h2 { font-size: 30px; }
	.uw-story-body .copy h3 span { border: 0 none; padding: 0; }
	.uw-story-body .copy h3 { border: 4px solid #4C2C85; padding: 10px; }
	.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple blockquote { font-size: 2.1rem; }
	.uw-story-body .uw-story-columns .row .right-column .quote-block.quote-simple figcaption { margin-top: 30px; }
	#flex-content-section-22 .copy.text-dark p { background: none; background: rgba(255, 255, 255, 0.8); width: 80vw; height: auto; padding: 40px; }
	#flex-content-section-24 .copy.text-dark { background: none; background: rgba(255, 255, 255, 0.8); width: 80vw; height: auto; }
	#flex-content-section-24 .copy .row { padding: 40px; }
	#flex-content-section-22 .copy.text-dark p:before, #flex-content-section-24 .copy.text-dark p:before { content: open-quote; }
	#flex-content-section-22 .copy.text-dark p:after, #flex-content-section-24 .copy.text-dark p:after { content: close-quote; }
	#flex-content-section-24 .copy { top: 15vh; }
	.uw-story-body .giving-widget .col-md-10 { padding: 30% 10%; }
}

/* iPad hack */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.uw-story-header { height: 50vh; }
	.uw-story-header h1.text-primary, #copy-block-14 h2 { font-size: 4vw; }
	.flexible-content .copy.text-dark { width: 60vw; }
	.highlight-larger { font-size: 38px; }
	#flex-content-section-2 { background-position: 80% center; }
	#flex-content-section-6, #flex-content-section-12 { background-position: 40% center; }
	#flex-content-section-22 { background-position: 30% center; }
	#flex-content-section-22 .copy.text-dark { right: 0; }
}

/* iPad Pro hack */
@media (min-device-width: 768px) and (max-device-width: 833px) and (-webkit-min-device-pixel-ratio: 2) {
	#flex-content-section-22 .copy.text-dark { right: 5vw; }
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.uw-story-body .flexible-content.full-height {
		background-attachment: scroll !important;
		-webkit-background-size: auto 150%;
	}
	#flex-content-section-2,
	#flex-content-section-4,
	#flex-content-section-6,
	#flex-content-section-9 {
		z-index: 1 !important;
	}
	#copy-block-3,
	#copy-block-7,
	#copy-block-10 {
		margin-top: 0;
	}
	#flex-content-section-22 { height: 100vh; }
	#flex-content-section-22 .copy.text-dark p { margin: 300px 0 300px; }
	#flex-content-section-22 .row p:nth-child(1), #flex-content-section-22 .row p:nth-child(2) { display: none; }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.uw-story-body .flexible-content.full-height {
		background-attachment: scroll !important;
		-webkit-background-size: auto 150%;
	}
	#flex-content-section-2,
	#flex-content-section-4,
	#flex-content-section-6,
	#flex-content-section-9 {
		z-index: 1 !important;
	}
	#copy-block-3,
	#copy-block-7,
	#copy-block-10 {
		margin-top: 0;
	}
	#flex-content-section-22 { height: 100vh; }
	#flex-content-section-22 .copy.text-dark p { margin: 300px 0 300px; }
	#flex-content-section-22 .row p:nth-child(1), #flex-content-section-22 .row p:nth-child(2) { display: none; }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.uw-story-body .flexible-content.full-height {
		background-attachment: scroll !important;
		-webkit-background-size: auto 150%;
	}
	#flex-content-section-2,
	#flex-content-section-4,
	#flex-content-section-6,
	#flex-content-section-9 {
		z-index: 1 !important;
	}
	#copy-block-3,
	#copy-block-7,
	#copy-block-10 {
		margin-top: 0;
	}
	#flex-content-section-22 { height: 100vh; }
	#flex-content-section-22 .copy.text-dark p { margin: 300px 0 300px; }
	#flex-content-section-22 .row p:nth-child(1), #flex-content-section-22 .row p:nth-child(2) { display: none; }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
	.uw-story-body .flexible-content.full-height {
		background-attachment: scroll !important;
		-webkit-background-size: auto 150%;
	}
	#flex-content-section-2,
	#flex-content-section-4,
	#flex-content-section-6,
	#flex-content-section-9 {
		z-index: 1 !important;
	}
	#copy-block-3,
	#copy-block-7,
	#copy-block-10 {
		margin-top: 0;
	}
	#flex-content-section-22 { height: 100vh; }
	#flex-content-section-22 .copy.text-dark p { margin: 300px 0 300px; }
	#flex-content-section-22 .row p:nth-child(1), #flex-content-section-22 .row p:nth-child(2) { display: none; }
}

/* ----------- iPhone X ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
	.uw-story-body .flexible-content.full-height {
		background-attachment: scroll !important;
		-webkit-background-size: auto 150%;
	}
	#flex-content-section-2,
	#flex-content-section-4,
	#flex-content-section-6,
	#flex-content-section-9 {
		z-index: 1 !important;
	}
	#copy-block-3,
	#copy-block-7,
	#copy-block-10 {
		margin-top: 0;
	}
	#flex-content-section-22 { height: 100vh; }
	#flex-content-section-22 .row p { margin-top: 300px; }
	#flex-content-section-22 .row p:nth-child(1), #flex-content-section-22 .row p:nth-child(2) { display: none; }
}
