.uw-story-header { background-position: right center; }
.uw-story-body .copy h2 { color: #373A3C; font-family: 'Encode Sans', sans-serif; font-weight: normal; }
.uw-story-body .copy .callout { font-family: 'Encode Sans Compressed', sans-serif; font-size: 24px; line-height: 36px; }
#copy-block-1 {
	background: #4c2b85;
	margin: 0;
	width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    background-position: 50%;
	background-repeat: no-repeat;
	max-width: 100vw;
	padding: 0;
}
#copy-block-1 .row { padding: 30px 40px; max-width: 1400px; }
#copy-block-1 p { color: white; }

#copy-block-4 { background: white; z-index: 999; }
#flex-content-section-5 { margin-top: -50px; z-index: -1; }

#flex-content-section-3 { height: 80vh; }
#flex-content-section-3 video { height: 100%; object-position: 50% 100%; height: 100%; }

#flex-content-section-3 .copy .row {
	width: 60%;
	background: rgba(0, 0, 0, 0.42);
	padding: 10px 40px 30px;
}

#flex-content-section-5 .copy .row {
	width: 60%;
	margin-left: 40%;
}

#flex-content-section-3 .copy p, #flex-content-section-5 .copy p {
	font-family: 'Encode Sans', sans-serif;
	font-size: 3.5rem;
	line-height: 1.4;
	font-weight: 500;
	font-style: normal;
	color: white;
	border-bottom: 0 none;
	background: none;
	padding: 0;
}

#flex-content-section-3 .copy p:before,
#flex-content-section-5 .copy p:before { content: open-quote; display: block; position: relative; bottom: -2.5rem; left: 0; font-family: 'Encode Sans Normal', sans-serif; }

#flex-content-section-3 .copy p:after,
#flex-content-section-5 .copy p:after { content: close-quote; position: relative; bottom: -1.2em; left: -0.7em; font-family: 'Encode Sans Normal', sans-serif; }

@media (max-width: 768px) {
	#flex-content-section-3 .copy p { font-size: 2rem; color: #3D3D3D; text-shadow: 0 0 0 transparent; }
	#flex-content-section-5 .copy p { font-size: 1.5rem; }
	.uw-story-body .flexible-content.background-video .copy { top: 100%; width: 100%; }
	#flex-content-section-3 .copy .row  { width: 100%; background: white; padding: 10px 20px 20px; }
	#copy-block-4 { margin-top: 100px; }
	#flex-content-section-3 .copy p:before, #flex-content-section-5 .copy p:before { bottom: -0.65em; }
	#copy-block-6 h2 { font-size: 27px; }
	.uw-story-body .carousel.captions-simple .carousel-caption { width: 90% !important; }
	.uw-story-body .giving-widget { background-position: 28% center; }
	.uw-story-body .giving-widget .col-md-10 { padding: 0; margin: 0 0 0 40%; }
	#flex-content-section-5 { margin-top: 0; }
	.uw-story-body .carousel .carousel-control-next, .uw-story-body .carousel .carousel-control-prev { width: 6rem;}
}

@media (min-width: 769px) {
	#flex-content-section-3 .copy { left: 40px; }
}

@media (max-width: 300px) {
	#copy-block-4 { margin-top: 300px; }
}

@media (min-width: 301px) and (max-width: 425px) {
	#copy-block-4 { margin-top: 150px; }
}

@media (max-width: 1200px) {
	.uw-story-header .w-50 {
		bottom: 40px;
	}
	.uw-story-body .flexible-content.full-height {
		min-height: auto;
	}

	.uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-0 img,
	.uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-2 img,
	.uw-story-body .carousel.full-width .carousel-inner .carousel-item.slide-3 img {
		object-position: center right;
	}
}