// All the Variables from the UW 2014 theme
@import "../../themes/uw-2014/less/uw.variables.less";
@import "../../themes/uw-2014/less/flat/mixins.less";
@import "../../immersive-stories/less/text-block.less";
@import "../../immersive-stories/less/button.less";
@import "../../immersive-stories/less/queries.less";


@fb: "../../immersive-stories/img/farmer-brown";
@education: "../../immersive-stories/img/education";
@medicine: "../../immersive-stories/img/medicine";
@bothell: "../../immersive-stories/img/bothell";
@img: "../../immersive-stories/img";

@open:        @font-family-base;
@encode:      @font-family-headline;

// @media @phone-only { }            (max-width: 599px)     
// @media @tablet-portrait-up { }    (min-width: 600px) 
// @media @tablet-portait-only { }   (min-width: 600px) and (max-width: 899px) 
// @media @tablet-landscape-up { }   (min-width: 900px)
// @media @tablet-landscape-only { } (min-width: 900px) and (max-width: 1199px) 
// @media @desktop-up { }            (min-width: 1200px)
// @media @desktop-only { }          (min-width: 1200px) and (max-width: 1799px)"
// @media @big-desktop-up { }        (min-width: 1800px) 

body {
    width: 100%;
    height: 100%;
    .uw-footer {
        margin-top: 0
    }
    video::-webkit-media-controls {
        display:none !important;
    }
    video::-webkit-media-controls-start-playback-button {
      display: none;
    }
}
.copy {
    a {
        color: @lightgold;
        border-bottom: 1px solid rgba(183, 165, 122, 0.53);
    }
}

p {
    color: white;
    @media(max-width:768px) {
        line-height: 1.5;
        font-size: 16px;
    } 
    .giving-widget & {
        color: #696969;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: black;
    display: none;
    .playingPopup & {
        display: block;
        button.close-video {
            top: 20px;
            right: 20px;
            background-color: rgba(255, 255, 255, 0.38);
            z-index: 99999;
        }
    }
}

.callout {
    display: block;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    color: @lightgold;
    font-family: @uni;
    position: relative;
    &.quote {
        border-top: none;
        border-bottom: none;
        &:before,
        &:after {
            position: absolute;
            left: 0;
            content: '';
            width: 100%;
            height: 30px;
            background: url("@{bothell}/sprite.svg") no-repeat center top;
        }
        &:before {
            top: -20px;
        }
        &:after {
            .rotate(180deg);
            bottom: -20px;
        }
    }
    span {
        font-family: @encode;
        display: block;
        font-weight: 900;
    }
    @media @phone-only { 
        font-size: 18px;
        padding: 15px 0;
        margin: 10% 0;
        br {
            display: none;
        }
    }
    @media @tablet-portrait-up { 
        padding: 4% 0;
        margin: 10% 0;
        font-size: 2.2vw;
        line-height: 1.5;
    }
    @media @desktop-up {  
        font-size: 1.6vw;
    }
}

// Remove some of the white space padding per edits
.text-block .copy {
    @media(min-width:768px) {
        &.marginless {
            margin-top: 20px;
        }
        &.padless {
            padding: 20px 90px 80px 90px;
        }
    }
}

@keyframes slidein {
  0% {
    .translate(0,-110%);
    opacity: 0;
  }
  100% {
    .translate(0,0);
    opacity: 1;
  }
}

@media @desktop-up { //(min-width: 1200px)
    #bar {
        position: fixed;
        bottom: 50px;
        right: 60px;
        height: 16.5vw;
        .translate(0,0);
        .transition(all .5s linear);
        opacity: 1;
        z-index: 90;
        div {
           width: 29vh;
           max-width: 70vw;
           height: 100%;
           margin: 0 auto;
           background: url("@{bothell}/battery.png") center bottom no-repeat transparent;
           background-size: 100%;
         }
        .bothellIntro & {
            .translate(0,19vw);
            opacity: 0;
        }
        span {
            position: absolute;
            width: 0vh;
            left: 5.5vh;
            height: 6.5vh;
            bottom: 3.5vh;
            z-index: -1;
            background: #58d400; /* Old browsers */
            background: -moz-linear-gradient(top,  #58d400 0%, #58d400 46%, #1c7400 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #58d400 0%,#58d400 46%,#1c7400 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #58d400 0%,#58d400 46%,#1c7400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58d400', endColorstr='#1c7400',GradientType=0 ); /* IE6-9 */
        }
    }
}            




@keyframes buttons {
  0% {      opacity: 0 }
  50% {     opacity: 1}
  100% {    opacity: 0 }
} 



.intro {
    background-position: center center;
    .background-cover(100%);
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: 105vh;
    padding: 100px 0;
    text-align: center;
    color: white;
    overflow: hidden;
    text-align: center;


    h1 {
        font-family: @uni;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1;
        display: inline-block;
        position: relative;
        .bothellIntro & {
            & > span:first-child span {
                .animation(slidein 1.5s .1s ease forwards);
            }
            & > span:last-child span {
                .animation(slidein 1.5s .5s ease forwards);
            }
        }
        & > span {
            overflow:hidden;
            display: block;
            span {
                display: block;
                .translate(0,-100%);
            }
        }
        & > span:first-child {
            letter-spacing: 0;
        }
        & > span:nth-child(2) {
            font-family: @font-family-headline;
            font-weight: @ultra;
            letter-spacing: 0;
        }
        & > span:last-child {
        }
    }
    p {
        color: white;
    }
    .intro-body {
        position: relative;
        z-index: 2;
    }
    a.read-more {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        height: 50px;
        background: url("@{img}/sprite.svg") 0 0 no-repeat transparent;
        z-index: 1;
        &:hover,
        &:active,
        &:focus {
            .translate(0,10px);
        }
    }
    @media(max-width:768px) {
        background-image: url("@{bothell}/intro-mobile.jpg");
        .background-cover(cover);
        padding: 0;
        h1 {
            margin-top: 25vh;
            color: white;
            &:before,
            &:after {
                height: 2px;
            }
            &:before {
                top: -10px;
            }
            &:after {
                bottom: -10px;
            }
        }
        p {
            font-size: 14px;
            line-height: 1.5;
            margin-top: 7px;
            color: white;
            text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        }
        a.read-more {
            bottom: 50px;
        }
        .intro-body {
            #intro-text {
                // padding: 0 28% 0 20px;
            }
        }
    }    

    @media(min-width:768px) {
        background-image: url("@{bothell}/game-intro-II.jpg"), url("@{bothell}/game-intro-blur.jpg");
        padding: 0;
        h1 {
            font-size: 7vw;
            margin-top: 35vh;
            letter-spacing: -4px;
            -webkit-font-smoothing: antialiased;
            text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
            &:before {
                top: -20px;
            }
            &:after {
                bottom: -20px;
            }
        }
        .but {
            position: absolute;
            width: 4.6vw;
            height: 1.6vw;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1a00+0,000000+100 */
            background: #ff1a00; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #ff1a00 0%, #000000 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #ff1a00 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #ff1a00 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            top: 50%;
            left: 50%;
            .border-radius(100%);
            border: 2px solid rgba(0, 0, 0, 0.62);
            .animation(buttons 2.5s ease infinite);
        }
        // .but-1 { .translate(13.6vw, -7.9vw);   animation-delay: .3s;  }
        .but-1 { display: none; }
        .but-2 { .translate(21.5vw, 8.6vw);   animation-delay: .4s;  }
        .but-3 { .translate(-41.9vw, 3.7vw); animation-delay: .5s;  }
        .but-4 { .translate(27.4vw, -10.58vw);   animation-delay: .6s;  }
        .but-5 { .translate(-34.1vw, -6.25vw); animation-delay: .7s;  }
        .but-6 { .translate(38.1vw, 19.9vw);    animation-delay: .8s;  }
        .but-7 { .translate(43.1vw, -4.1vw);  animation-delay: .1s;  }
        p {
            font-family: @uni;
            -webkit-font-smoothing: auto;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.88);
            margin: 40px 15% 0;
            font-size: 24px;
            line-height: 1.4;
        }
        a.read-more {
            top: calc(~"100vh - 95px");
            bottom: auto;
        }
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }


    }
    @media(min-width:1600px) {
       h1 {
           font-size: 6vw;
       }
    }
    @media(max-width:468px) {
        background-image: url("@{bothell}/intro-mobile.jpg");
        h1 {
            margin-top: 18vh;
            color: white;
            & > span:first-child {
                font-size: 9.5vw;
            }
        }
    }

}

@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3deg)}
    50%{-moz-transform:rotate(3deg)}
    100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3deg)}
    50%{-webkit-transform:rotate(3deg)}
    100%{-webkit-transform:rotate(-3deg)}
}


.ghosts {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    height: 0;
    @media @tablet-portrait-up { 
        .ghost {    
            position: absolute;
            width: 60px;
            height: 85px;
            .background-cover(100%);
            margin: 0 0 30px 0;
            .transition(transform 0.2s linear);
            perspective: 900px;


            -moz-transform-origin: center top;
            -webkit-transform-origin:0% -400%;
            transform-origin:0% -200%;

            .front,
            .back {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                .background-cover(100%);
                text-align: left;
                backface-visibility: hidden;
                transform-style: preserve3d;
                .transition(transform 0.4s);
            }
            &.lg {
                width: 90px;
                height: 90px;
            }
            .back {
              transform: rotateY(-180deg);
            }
            &:hover .back   { transform: rotateY(0deg);   }
            &:hover .front  { transform: rotateY(180deg); }
            .front  { 
                background-image: url("@{bothell}/ghost-2.png"); 
                &.red {
                    background-image: url("@{bothell}/ghost-1-red.png"); 
                    opacity: .4;
                }
                &.green {
                    background-image: url("@{bothell}/ghost-1-green.png"); 
                    opacity: .4;
                }
                &.franken {
                    background-image: url("@{bothell}/ghost-1-franken.png"); 
                    opacity: .4;
                }
                &.monster {
                    background-image: url("@{bothell}/ghost-1-monster.png"); 
                    opacity: .5;
                }
            }
            .back   { 
                background-image: url("@{bothell}/ghost-1.png"); 
            }
            &.g-1 { left: -10vw; top:  -21vh   ; .animation(swing 7s infinite ease-in-out .1s); }
            &.g-2 { left: -3vw;  top:  -58vh   ; .animation(swing 7s infinite ease-in-out .4s); }
            &.g-3 { left: -5vw;  top:  13vh    ; .animation(swing 7s infinite ease-in-out .6s); }
            &.g-4 { left: -10vw; top:  33vh    ; .animation(swing 7s infinite ease-in-out .8s); }
            &.g-5 { right: -1vwv;top:  -13vw  ;  .animation(swing 7s infinite ease-in-out .9s); }
            &.g-6 { right: -10vw;top:  38vh   ;  .animation(swing 7s infinite ease-in-out .2s); }
            &.g-7 { right: -10vw;top:  -43vh  ;  .animation(swing 7s infinite ease-in-out .4s); }
            &.g-8 { right: -1vw; top:  6vh    ;  .animation(swing 7s infinite ease-in-out 1s); }
        }    
    }
}



#jason {
    position: relative;
    z-index: 20;
    background-color: #2d254b;
    #back,
    #middle,
    #fore {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
    }
    #faces { 
        text-align: center;
    }
    @keyframes windmill {
      0% {      .rotate(0deg) }
      100% {    .rotate(360deg); }
    }     
    #windmill {
        position: absolute;
        bottom: 40px;
        right: 160px;
        .transition(all);
        #blades {
            .transform-origin(center center);
        }
        #blades {
            .animation(windmill 6s infinite linear);
        }
    }
  
    .copy {
        background-color: transparent;
        position: relative;
        & > p:nth-child(1) ,
        & > p:nth-child(12) {
            font-family: @uni;
            text-transform: uppercase;
            font-size: 30px;
            text-align: center;
        }
    }
    #back {
        background-image: url("@{bothell}/back.jpg");
        .background-cover(cover);
        .translate(0,400px);
    }
    #middle {
        background-image: url("@{bothell}/middle.png");
        .background-cover(100%);
        background-position: center bottom;
        .translate(0,300px);
    }
    #fore {
        background-image: url("@{bothell}/fore.png");
        .background-cover(100%);
        background-position: center bottom;
        .translate(0,600px);
    }
    @media (min-width: 768px) {
        &.text-block .copy {
            padding: 100px 150px 250px;
            & > p:nth-child(1) , 
            & > p:nth-child(12) {
                font-size: 40px;
            }
        }
        #robot {
            background: url("@{bothell}/robot.png") center bottom no-repeat transparent;
            .translate(0,600px);
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -195px;
            width: 390px;
            height: 1050px;
        }
    }
    @media (max-width: 768px) {
        &.text-block .copy {
            padding: 20px 30px 260px;
        }
        #robot {
            background-size: 50%;
            .translate(0,40px) !important;
        }
    }
}

.faces {
    text-align: center;
    position: relative;
    margin: 10% 0 5%;
    .frame {
        background: url("@{bothell}/frame.svg");
        width: 80px;
        height: 80px;
        .border-radius(100%);
        .background-cover(100%);
        display: inline-block;
        margin: 0 0 30px 0;
        position: relative;
        .transition(all 0.2s linear);
        perspective: 900px;
        .front,
        .back {
            position: absolute;
            .background-cover(100%);
            top: 9%;
            left: 10%;
            right: 12%;
            bottom: 13%;
            text-align: left;
            backface-visibility: hidden;
            transform-style: preserve3d;
            transition: all 0.4s;
            .border-radius(100%);
        }
        &.lg {
            width: 90px;
            height: 90px;
        }
        .front {
        }
        .back {
          transform: rotateY(-180deg);
        }
        &:hover .back {
          transform: rotateY(0deg);
        }
        &:hover .front {
          transform: rotateY(180deg);
        }
    }
    &.aina {
        .pic-1 {
            .front {    background-image: url("@{bothell}/aina1-front.jpg"); }
            .back {     background-image: url("@{bothell}/aina-back.jpg");  }
        }
        .pic-2 {
            .front {    background-image: url("@{bothell}/aina-front.jpg"); }
            .back {     background-image: url("@{bothell}/aina-back.jpg");  }
        }
        .pic-3 {
            .front {    background-image: url("@{bothell}/aina2-front.jpg"); }
            .back {     background-image: url("@{bothell}/aina-back.jpg");  }
        }
    }
    &.jason {
        .pic-1 {
            .front {    background-image: url("@{bothell}/jason1-front.jpg"); }
            .back {     background-image: url("@{bothell}/jason1-back.jpg");  }
        }
        .pic-2 {
            .front {    background-image: url("@{bothell}/jason-front.jpg"); }
            .back {     background-image: url("@{bothell}/jason-back.jpg");  }
        }
        .pic-3 {
            .front {    background-image: url("@{bothell}/jason2-front.jpg"); }
            .back {     background-image: url("@{bothell}/jason2-back.jpg");  }
        }
    }
    .names {
        text-transform: uppercase;
        padding: 10px 0;
        position: relative;
        margin: 1% 0 0;
        p {
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
        }
        &:after {
            content: '';
            background: url("@{bothell}/hand.png") no-repeat 0 0;
            width: 55px;
            height: 30px;
            .background-size(100%);
            position: absolute;
            .rotate(90deg);
            position: absolute;
            top: -40px;
            left: 50%;
            margin-left: -32px;
        }
        p:first-child {
            color: @lightgold;
            font-size: 20px;
        }
        p:last-child {
            
        }
    }
    @media @phone-only { 
    }
    @media @tablet-portrait-up { 
        .frame {
            width: 110px;
            height: 110px;
            margin: 0 10px 40px 10px;
            &.lg {
                width: 150px;
                height: 150px;
                margin-bottom: 20px;
            }
        }
    }
    @media @desktop-up {  
        // margin: 10% 0 5%;
        .frame {
            width: 150px;
            height: 150px;
            margin: 0 15px  70px 15px;
            &.lg {
                width: 200px;
                height: 200px;
                margin-bottom: 50px;
            }
        }
        .names {
            text-align: left;
            position: absolute;
            right: -230px;
            top: 70px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            p {
            }
            &:after {
                .rotate(0deg);
                top: 27px;
                left: -70px;
                margin-left: 0; 
            }
            p:first-child {
            }
            p:last-child {
            }
        }
    }
}

#ghosts {
    position: relative;
    z-index: 21;
    &.text-block .copy {
        background-color: transparent;
        position: relative;
    }
    @media @tablet-portrait-up {
        background: url("@{bothell}/smoke-top.jpg") no-repeat center top black;
        padding-top: 400px;
        padding-bottom: 200px;

        .bottom-smoke {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: url("@{bothell}/smoke.jpg") repeat-x center top black;
            .background-cover(cover);
        }
    }
    @media @phone-only {
        background: url("@{bothell}/smoke-top-mobile.jpg") repeat-x center top black;
        &.text-block .copy {
            padding: 220px 30px 60px;
        }
    }
}


.playing .video-block {
    z-index: 9999;
}

.video-block {
    position: relative;
    z-index: 0;
    text-align: center;

    // Blinker animation for video

    @keyframes blinker {
      0%,
      10% {
        opacity: 0;
      }
      25%,
      85% {
        opacity: .7;
      }
      100% {
        opacity: 0;
      }
    }


    .portrait {
        .background-cover(cover);
    }
    h2 {
        font-family: @uni;
        font-weight: 300;
        font-size: 22px;
        text-transform: uppercase;
        color: white;
        -webkit-font-smoothing: antialiased;
    }
    p {
        color:  @darkgold;
        span.highlight {
            background-color: rgba(183, 165, 122, 0.3);
            padding: 0 10px;
        }
        span.sub {
            border-top: 1px solid rgba(0, 0, 0, 0.5);
            display: block;
            margin-top: 20px;
            padding-top: 30px;
            font-size: 20px;
            line-height: 20px;
        }
    }
    a {
        color: @darkgold;
        border-bottom: 1px solid #fff;
        &:focus,
        &:active,
        &:hover {
            border-bottom-color: @purple;
        }
    }
    a.play {
        position: relative;
        color:  @darkgold;
        font-family: @uni;
        text-transform: uppercase;
        font-size: 25px;
        border-bottom: none;

    }
    @media(min-width:768px) {
        .portrait {
            background-color: @ultralightgold;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .container {
            padding: 16vw 0;
        }
        a.play {
            line-height: 169px;
            padding: 14px 260px 13px 20px;
            -webkit-font-smoothing: antialiased;
            font-size: 35px;
            color: @purple;
            &:before,
            &:after {
                content: "";
                position: absolute;
                opacity: .8;
            }
            &:after {
                background: url("@{bothell}/play.svg") no-repeat 0 0 rgba(0,0,0,0);
                width: 170px;
                height: 170px;
                bottom: -40px;
                right: 20px;
                .transition(all .1s linear);
            }
            &:focus,
            &:active,
            &:hover {
                color: @darkgold;
                &:after {
                    .scale(1.1,1.1);
                }
            }
            svg {
                .animation(blinker 1.2s linear infinite);
                margin-left: -2px;
                rect {
                    fill: @purple;
                }
            }
            &:before {
                width: 1px;
                height: 145px;
                bottom: -33px;
                right: 228px;
                opacity: 1;
                background: #bbbbbb;
                .skew(-15deg,0);

            }
        }
        h2 {
            font-size: 55px;
            text-align: left;
        }
        p {            
            padding-right: 50%;
            text-align: left;
        }
    }
    @media(min-width:992px) {
        a.play {
            font-size: 45px;
        }
    }
    @media(max-width:768px) {
        margin-top: 30px;
        text-align: center;
        a.play {            svg {
                display: none;
            }
        }
        #boundless-video {
            margin-top: 15px;
        }
    }

}

#trees  {
    position: relative;
    &.text-block .copy {
        background-color: transparent;
        position: relative;
    }

    #cloud-1,
    #cloud-2 { 
        position: absolute;
        width: 30vw;
        height: 25vw;
    }
    #cloud-1 {
        top: 2%;
        right: 0;
        background: url("@{bothell}/cloud.png") no-repeat center top transparent;
        .background-size(100%);
        .translate(0,600px);
    }
    #cloud-2 {
        top: 10%;
        background: url("@{bothell}/cloud-2.png") no-repeat center top transparent;
        .background-size(100%);
        left: 0;
        .translate(0,900px);
    }
    #moon {
        position: absolute;
        background: url("@{bothell}/moon.png") no-repeat center top transparent;
        .background-size(100%);
        width: 15vw;
        height: 15vw;
        right: 4vw;
        top: -10%;
        .translate(0,1200px);
    }
    .back,
    .middle,
    .fore {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .background {
        background-image: url("@{bothell}/tree-back.jpg");
        .background-cover(cover);
        .translate(0,400px);
    }
    .middle {
        background-image: url("@{bothell}/tree-middle.png");
        .background-cover(100%);
        background-position: center bottom;
        .translate(0,300px);
        .background-size(100%);
    }
    .fore {
        background-image: url("@{bothell}/tree-fore.png");
        background-position: left bottom;
        .translate(0,600px);
        .background-size(100%);
    }
    div.giving {
        background: rgba(0, 0, 0, 0.47);
        border-radius: 35px;
        border: 3px solid #6d5523;
        padding: 0 5% 3% 5%;
        margin-top: 30px;
        h2 {
            display: block;
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            position: relative;
            z-index: 1;
        }
        h3.headline-gold {
            margin: 50px 0 20px;
            text-align: center;
            color: white;
            font-size: 25px;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }
    #immersive-give-II-iframe {
        iframe {
            width: 100% !important;
            border: 10px solid white;
            background: white;
            margin: 20px 0;
        }
        @media(min-width:768px) {
            iframe {
                height: 74vw !important;
            }
        }
        @media(min-width:1200px) {
            iframe {
                height: 50vw !important;
            }
        }

    }
    @media @phone-only {
        background: url("@{bothell}/trees.jpg") no-repeat center bottom black;
        .background-cover(100%);
        padding-bottom: 100px;
        &.text-block .copy {
            padding: 60px 30px 60px;
        }
        #cloud-1,
        #cloud-2 { 
            width: 50vw;
            height: 40vw;
        }
        #moon {
            width: 30vw;
            height: 30vw;
        }
    }
    @media @tablet-portrait-up {
        background: url("@{bothell}/trees-bottom.jpg") no-repeat center bottom black;
        .background-cover(100%);
        & > div:first-child {
            padding-top: 100px;
            padding-bottom: 500px;
            background: url("@{bothell}/trees-top.jpg") no-repeat center top transparent;
        }
        .copy > p:nth-child(1) , 
        .copy > p:nth-child(12) {
            font-family: @uni;
            text-transform: uppercase;
            font-size: 40px;
            text-align: center;
        }
        .bottom-smoke {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: url("@{bothell}/smoke.jpg") repeat-x center top black;
            .background-cover(cover);
        }
    }
    @media @tablet-landscape-up { // (min-width: 900px)
        div.giving {
            border-radius: 50px;
            padding: 0 10% 3% 10%;
            margin-top: 110px;
            h2 {
                background: url("@{bothell}/headline.svg") no-repeat center center transparent;
                margin-top: -50px;
                padding: 2.6vw 0;
                .background-size(100%);
                font-size: 25px;
            }
        }
    }
    @media @desktop-up{ // (min-width: 1200px)
    }
}

#avatars {
    background-color: black;
    z-index: 2;
    text-align: center;
    overflow: visible;
    padding-left: 13%;
    padding-right: 13%;
    .team {
        text-align: center;
        font-family: @encode;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        font-size: 40px;
    }
    ul {
        text-align: center;
        position: relative;
        li {
            display: inline-block;
            list-style: none;
            margin: 10px 0 20px;
            position: relative;
            div {
                transform-origin: center center;
                &:after {
                    content: '';
                    background:  url("@{bothell}/speech.svg") no-repeat center bottom transparent;
                    position: absolute;
                    left: 50%;
                    top: -20px;
                    width: 18px;
                    height: 24px;
                    opacity: 0;
                    .transition(opacity .1s linear .1s);
                }
            }
            p {
                font-family: @encode;
            }
            p.name {
                position: absolute;
                width: 150%;
                margin: 0 -25%;
                left: 0;
                top: 0;
                text-align: center;
                .transition(all .2s linear);
                color: white;
                font-weight: 900;
                z-index: 0;
                line-height: 1.5;
                opacity: 0;
                height: 100px;
                pointer-events: none;
                .border-radius(10px);
                span {
                    display: block;
                    font-weight: normal;
                }
            }
            p.quotes {
                color: #505050;
                font-size: 15px;
                background-color: white;
                .border-radius(20px);
                padding: 20px;
                line-height:1.5;
                position: absolute;
                width: 200%;
                margin-left: -100%;
                bottom: 96%;
                left: 50%;
                opacity: 0;
                .translate(0,40px);
                .transition(all .2s linear .1s);
                z-index: 1;
                pointer-events: none;
    
                &:before {
                    content: '\201C';
                    font-family: @font-family-base;
                    color: #757575;
                    position: absolute;
                    left: 18px;
                    top: -18px;
                    font-size: 60px;
                    line-height: 1;
                }
                &:after {
                    content: "\201D";
                    font-family: @font-family-base;
                    color: #757575;
                    position: absolute;
                    right: 20px;
                    bottom: -44px;
                    font-size: 60px;
                    line-height: 1;
                }
            }
            img {
                .transition(transform .2s linear);
                position: relative;
                z-index: 1;
            }
            &:active,
            &:focus,
            &:hover {
                z-index: 10;
                p.quotes {
                    .translate(0,0);
                    opacity: 1;
                }
                p.name {
                    opacity: 1;
                    .translate(0,160%);
                    background: black;
                }
                img {
                    .scale(1.2,1.2);
                }
                div {
                    &:before {
                        .scale(15, 15);
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    @media @phone-only { 
        padding-left: 5%;
        padding-right: 5%;
        .team {
            font-size: 24px;
        }
        li {
            max-width: 41%;
        }
    }
    @media @tablet-portrait-up { // (min-width: 600px)
        padding-top: 50px;
    }
    @media @tablet-landscape-up { // (min-width: 900px)
        padding-top: 100px;
        ul {
            li {
                max-width: 23%;
            }
        }       
    }
    @media @desktop-up{ // (min-width: 1200px)
        padding-left: 0;
        padding-right: 0;
        ul {
            li {
                max-width: 13%;
                div {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 20px;
                        height: 20px;
                        margin-left: -10px;
                        margin-top: -10px;
                        transform-origin: center center;
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+49,ffffff+100&0.2+0,0+100 */
                        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%, rgba(70,70,70,0.2) 63%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(70,70,70,0.2) 63%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: radial-gradient(ellipse at center,  rgba(255,255,255,0.2) 0%,rgba(70,70,70,0.1) 63%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        .border-radius(100%);
                        .scale(1,1);
                        display: block;
                        .transition(transform .2s linear);
                        pointer-events: none;
                    }
                    &:active,
                    &:focus,
                    &:hover {
                        p.name {
                            background: none;
                        }
                    }
                }
            }
        }
    } 
}

#creating {
    background: url("@{bothell}/trees-bottom.jpg") no-repeat center bottom black;
    padding-bottom: 100px;
    #swamp {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        z-index: -1;
    }
    #swamp {
        background-image: url("@{bothell}/swamp.png");
        background-position: left bottom;
        .translate(0,600px);
        .background-size(100%);
    }
    &.text-block .copy {
        background-color: transparent;
        position: relative;
    }
    
    .dates {
        padding: 0;
        h3 {
            text-transform: uppercase;
            font-size: 33px;
        }
        li {
            list-style: none;
            font-weight: 900;
            color: white;
            span {

            }
        }
    }
    .calloutBox {
        h2 {
            display: block;
            background: url("@{bothell}/headline.svg") no-repeat center center transparent;
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            .background-size(100% 100%);
            padding: 5.6vw 0;
            margin-bottom: -5vw;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            position: relative;
            z-index: 1;
        }
        div {
            background: url("@{bothell}/text-bg.svg") no-repeat center bottom transparent;
            .background-size(100%);
            margin: 0 60px;
            position: relative;
            z-index: 0;
            p {
                font-size: 16px;
                line-height: 1.5;
            }
            small {
                display: block;
                margin: 20px 0 0;
                font-weight: bold;
            }
        }
    }
    @media @phone-only {  // (max-width: 599px)
        .calloutBox {
            h2 {
                font-size: 19px;
                padding: 6.6vw 0;
            }
            div {
                margin: 0 15px;
                padding: 20px 35px 30px;
                p {
                }
            }
        }

        .dates {
            h3 {
                font-size: 22px;
                span {
                    font-weight: normal;
                }
            }
        }
    }
    @media @tablet-portrait-up { // (min-width: 600px)
        padding: 0 0 100px;
        .calloutBox {
            h2 {
                font-size: 40px;
                margin-top: 0;
            }
            div {
                padding: 30px 60px 50px;
                margin: 0 60px;
                p {
                }
            }
        }
        .dates {
            padding: 0 0 0 150px;
            li {
                position: relative;
                margin-top: 60px;
                &:before {
                    position: absolute;
                    border-left: 1px solid rgba(255, 255, 255, 0.44);
                    content: '';
                    top: 65px;
                    left: -35px;
                    bottom: 0;
                    width: 1px;
                }
                span {
                    position: absolute;
                    .translate(-190px,11px);
                    transform-origin: center center;
                    width: 130px;
                    text-align: right;
                    font-size: 16px;
                    &:before {
                        position: absolute;
                        background: url("@{bothell}/arrow.png") no-repeat center center transparent;
                        content: '';
                        bottom: 0;
                        right: -40px;
                        top: -15px;
                        width: 30px;
                        height: 50px;
                        .background-size(100%);
                    }
                }
            }
        }
    }     
    @media @tablet-portait-only { // (min-width: 600px) and (max-width: 899px) 
        .calloutBox {
            h2 {
                font-size: 34px;
            }
        }
    }   
    @media @tablet-landscape-up { }   // (min-width: 900px)
    @media @tablet-landscape-only { } // (min-width: 900px) and (max-width: 1199px) 
    @media @desktop-up { }            // (min-width: 1200px)
    @media @desktop-only { }          // (min-width: 1200px) and (max-width: 1799px)
    @media @big-desktop-up { }        // (min-width: 1800px) 

}


// Tool tip 


[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    font-weight: bold;
    color: @lightgold;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: white;
    color: #676767;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    min-width: 310px;
    text-align: left;
    padding: 18px 30px;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before{
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}

[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
[data-tooltip-position="top"]:after{
    left: 50%;
    margin-left: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: white;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}


// Gallery // Slideshow updates


.aspectRatioPlaceholder .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.zoom-effect .img{
    cursor: pointer;
    cursor: -webkit-zoom-in;
    object-fit: contain;
}

.zoom-effect .zoomImg,
.zoom-effect .zoomImg-wrap {
    position: relative;
    z-index: 900;
    transition: all 300ms;
}

.zoom-effect .zoomImg-wrap--absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.zoom-effect .zoomImg {
    cursor: pointer;
    cursor: -webkit-zoom-out;
}


.zoom-effect .zoomOverlay.show{
    opacity: .9;
}

.zoom-effect .zoomOverlay {
    z-index: 800;
    background: black;
    position: fixed;
    transition: opacity 600ms;
    opacity: 0;
    cursor: pointer;
    cursor: -webkit-zoom-out;
}

.gallery {
    text-align: center;
    margin: 10% 0;
    .side-pic {
        width: 22.5%;
        display: inline-block;
        height: 100px;
        position: relative;
        margin: 0 0 0 0;
        overflow: hidden;
        .aspectRatioPlaceholder {
            p {
                .translate(0,150px);
                .transition(transform .2s linear);
            }
            &:hover {
                p {
                    .translate(0,0);
                }
            }
        }
        &.active {
            overflow: visible;
            p {
                display: none;
            }
        }
        p {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.62);
            padding: 10px 20px;
            color: white;
            font-size: 13px;
            line-height: 1.3;
            display: inline-block;
            margin: 0;
            &:after {
                content: '+';
                font-weight: bold;
                font-size: 30px;
                top: -37px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.38);
                right: 10px;
                color: white;
                position: absolute;
            }
        }

    }
    @media @desktop-up { 
        width: 120%;
        margin: 10% -10%;
        .side-pic {
            height: 140px;
            &:not(.active) img {
                max-width: 100%;
                height: auto;
                position: absolute;
                .transition(transform .1s linear);
                &:hover,
                &:active,
                &:focus {
                    .scale(1.1,1.1);
                    z-index: 100;
                }
            }
        }        
    }
    @media @phone-only {
        .side-pic {
            width: 46.5%;
        }
    }
}





/*! Lity - v2.2.1 - 2016-11-21
* http://sorgalla.com/lity/
* Copyright (c) 2015-2016 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.lity.lity-opened {
  opacity: 1;
}
.lity.lity-closed {
  opacity: 0;
}
.lity * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}
.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.lity-loading .lity-loader {
  opacity: 1;
}
.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}
.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
}
.lity-loading .lity-content,
.lity-closed .lity-content {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}
.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lity-close:active {
  top: 1px;
}
/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}
/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}
.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}
.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
.lity-hide {
  display: none;
}

