div.boundless-button {
  display: inline-block;
  border-left: none !important;
  overflow: hidden;
  padding:1px 15px 0 0;
  margin-top: 10px;
  .transition(all .1s ease-in);
  cursor: pointer;
  position: relative;
  &:after {
      content: "";
      left: 0;
      width: 3px;
      bottom: 0;
      top: 2px;
      background: @purple;
      position: absolute;
  }
  &.dark {
    span {
      border: 4px solid @purple;
      background: white;
      a { 
        color: @purple;
        &:after {
          background-position: -300px 9px;
        }
      }
    }
    
    &.sm {
      span {
        border: 3px solid @purple;
      }
      &.button-second {
       // border-left: none;
      }
    }
  }
  &.sm {
    span {
      border: 3px solid #FFF;
    }
    a {
      padding: 6px 36px 5px 54px;

    }
  }

  &:hover {
    span {
      border-color: @lightgold;
      a {
        color: @lightgold;
      }
    }
  }
  &.give {
    .translate(0,0);
    span {
      background-color: white;
      a {
        padding-right: 40px;
        color: white;
        margin-bottom: 40px;
        &:hover,
        &:active,
        &:focus {
          &:before {
            width: 0%;
          }
          &:after {
            right: 15px;
          }
          color: @purple;
        }
        &:after {
          .transition(all .3s ease-in);
          right: 7px;
        }
        &:before {
          .transition(all .3s ease-in);
          content: "";
          width: 120%;
          height: 100%;
          background: @lightgold;
          position: absolute;
          top: 0;
          z-index: -1;
          .skew(-15deg,0);
          right: 25px;
        }
      }
    }
  }
  span {
    border: 4px solid #FFF;
    display: block;
    .skew(-15deg,0);
    overflow: visible;
    margin-left: -40px;
    .transition(all .1s ease-in);
    a {
      padding: 10px 40px 10px 60px;
      font-weight: 900;
      font-size: 16px;
      font-family: @font-family-headline;
      text-transform: uppercase;
      color: #FFF;
      .skew(15deg,0);
      display: inline-block;
      text-shadow: none;
      .transition(all .1s ease-in);
      &:after {
        content: "";
        background: url("@{img}/sprite.svg") no-repeat -288px 9px;
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        width: 18px;
        height: 30px;
        margin-top: -16px;
      }
    }
    
  }

}