/*********************************************
 * Importing from UW2014 and other immersives *
 **********************************************/
@import "../../themes/uw-2014/less/uw.variables.less";
@import "../../themes/uw-2014/less/flat/mixins.less";
@import "../../immersive-stories/less/text-block-new.less";
@import "../../immersive-stories/less/button.less";
@import "../../immersive-stories/less/common.less";
@import "../../immersive-stories/less/queries.less";
@import "../../immersive-stories/less/lity.less";
@import "./button-mute.less";
@comotion: "../../immersive-stories/img/comotion";
/******
	@media @phone-only{}
	@media (max-width: 500px){}
	@media @tablet-portrait-up{}
	@media @tablet-portait-only{}
	@media @tablet-landscape-up{}
	@media @tablet-landscape-only{}
	@media @desktop-up{}
	@media @desktop-only{}
	@media @big-desktop-up{}
******/
/***************************************************
 * Namespacing to prevent bleed over to /boundless *
 ***************************************************/
body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: #efeeea;
}

#immersive-body {
  overflow: hidden;

  p {
    font-size: 17px;
    line-height: 32px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: @headline;
    font-weight: @ultra;
  }
  h2,
  h3 {
    color: @purple;
  }

  .text-content {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &--full {
      display: flex;
      align-items: center;
      height: 100vh;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .slideplay .fader .icon h2 {
    color: #FFFFFF;
  }
}

/*******************************
 * Intro and associated styles *
 *******************************/

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
  }
  #vid-overlay {  
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
  }
  #pause {
    position: absolute;
    display: block;
    text-indent: -999px;
    overflow-x: hidden;
    width: 45px;
    height: 45px;
    right: 20px;
    top: 20px;
    border: none;
    background: url("@{img}/pause.svg") no-repeat 0 0 transparent;
    z-index: 2;
    &:hover,
    &:focus {
      background-position-x: -47px;
    }
    &:focus {
      outline-color: rgb(59, 153, 252);
      outline-style: auto;
      outline-width: 5px;
    }
    @media(max-width:768px) {
      display: none;
    }
  }
  &.paused {
    #pause {
      background-position: 0 -49px;
      &:hover {
        background-position-x: -47px;
      }
      &:focus {
        outline-color: rgb(59, 153, 252);
        outline-style: auto;
        outline-width: 5px;
      }
    }
  }
  .intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(~"103vh - 171px");
    .background-cover(cover);
    background-position: center center;

    p {
      color: white;
      text-shadow: 0 0 3px rgba(37, 37, 37, 0.65);
    }

    h1 {
      text-transform: uppercase;
      color: white;
      line-height: 1.1;
      text-shadow: 0 0 3px rgba(37, 37, 37, 0.65);
      font-size: 31px;
    }
    
    .intro-body {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -200px;
      z-index: 1;
    }

    .scrollit {
      z-index: 1;
    }
    
    // &:after {
    //  content: '';
    //  position: absolute;
    //  height: 100%;
    //  width: 100%;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  background: rgba(0,0,0,0.4);
    // }

    @media @phone-only {
      .background-cover(cover);
      background-position: right center;

      .intro-body {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: 0;
        .translate(0,
        -50%);
      }

      p {
        line-height: 1.4;
        font-size: .65em;
      }

      .udub-slant {
        display: none;
      }
    }

    @media (max-width: 500px) {
      .intro-body {
        .col-xs-8 {
          width: 85%;
        }
      }
    }
    @media (max-width: 768px) {
      background-image: url(../../immersive-stories/img/comotion/HEADER.jpg);
      .background-size(cover);
      background-position: right center;
      background-repeat: no-repeat;
      #vid-overlay{
        //display: none;
      }
      video {
        display: none;
      }
    }

    @media @tablet-portrait-up {}

    @media @tablet-portait-only {
      background-position: right center;

      .intro-body {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: 0;
        .translate(0,
        -50%);
      }

      p {
        line-height: 1.4;
      }
    }

    @media @tablet-landscape-up {

      h1 {
        font-size: 4.5vw;
      }

      .intro-body {

        p {
          width: 65%;
        }
      }
    }

    @media @tablet-landscape-only {}
    @media @desktop-up {}
    @media @desktop-only {}
    @media @big-desktop-up {}
  }

/****************************
 * Callout images and quote *
 ****************************/


  .callout {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .float {
      position: relative;
    }

    .caption {
      text-align: left;
      text-transform: uppercase;
      color: @darkgray;
      margin: 0;
      font-size: 15px;
    }

    .quote {
      color: @purple;
    }
  }

  @media @phone-only {
    .callout {
      &.left .float {
        margin-left: 0;
      }

      &.right .float {
        margin-right: 0;
      }
      img.image2 {
        display: none;
      }
    }
  }

  @media @tablet-portrait-up {
    .callout {
      .float { 
        width: 40vw; 
        z-index: 1; //for hover state
        img.image1 {
          opacity: 1;
          .transition(all .5s ease-in);
        }
        img.image2 {
          position: absolute;
          top: 0;
          left: 0;
          padding: 14px 30px;
          opacity: 0;
          .transition(all .5s ease-in);
        }
        &:hover {
          img.image1 {
            opacity: 0;
          }
          img.image2 {
            opacity: 1;
          }
        }
      }

      &.left .float {
        float: left;
        margin-left: 0;
        padding: 14px 30px;
      }

      &.right .float {
        float: right;
        margin-right: 0;
        padding: 14px 30px;
      }
      &.right {
        text-align: left;
      }
    }

    .text-content {
      font-size: 20px;

      .headline {
        font-size: 34px;
      }
    }
  }

  @media @tablet-landscape-up {
    .callout {
      .float { width: 45vw; }

      &.left .float {
        margin-left: -10vw;
        .caption { 
          left: 0; 
          .transform-origin(left top);
          .rotate(-90deg);
        }
      }

      &.right .float {
        margin-right: -10vw;
        .caption { 
          right: 0;
          bottom: 0; 
          .transform-origin(right bottom);
          -webkit-transform: rotate(-90deg) translate(calc(~"100% + 14px"), 0px);
              -ms-transform: rotate(-90deg) translate(calc(~"100% + 14px"), 0px); // IE9+
                  transform: rotate(-90deg) translate(calc(~"100% + 14px"), 0px);  
        }
      }

      .caption {
        position: absolute;
      }

    }
  }

  @media @desktop-up {
    .callout {
      //.float { width: 55vw; }

      &.left .float {
        margin-left: -15vw;
      }

      &.right .float {
        margin-right: -15vw;
      }
    }
  }


  blockquote {
    //font-family: @uni;
    color: @purple;
    //font-size: 27px;
    line-height: 1.3;
    position: relative;
    border: none;
    margin-bottom: 50px;
    margin-top: 60px;
    padding-left: 0;
    &.quote {
        margin-bottom: 10px;
        //margin-top: 20%;
        &:before {
            content: '\201C';
            font-family: @encode;
            font-weight: @ultra;
            color: @purple;
            font-size: 80px;
            line-height: 0.0;
            display: block;
        }
        &:after {
            content: '\201D';
            font-family: @encode;
            font-weight: @ultra;
            color: @purple;
            font-size: 80px;
            line-height: 0.0;
            display: inline-block;
            position: absolute;
            margin: 70px 0;
        }
    }
  }

  @media @tablet-landscape-up {
    blockquote.quote {
      margin-top: 20%;
      font-size: 26px;
      margin-left: -10%;
      width: 50%;
      margin-right: 60%;
    }
    .left blockquote.quote {
      margin-right: -10%;
      margin-left: 60%;
    }
  }


/*******************************
 * Expander button and section *
 *******************************/
a.expander {
  color: @text-color;
  font-weight: 500;
  //font-size: 16px;
  font-family: @font-family-headline;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: none;
  .transition(all .1s ease-in);
  &:hover,
  &.active, 
  &:focus {
    color: @lightgold;
    //.translate(0, -5px);
    &:after {
      .rotate(45deg);
      border-color: @lightgold;
      //.transform-origin(center center);
    }
  }
  &:after {
    content: "";
    //background: url(../../immersive-stories/img/sprite.svg) no-repeat -308px 0px;
    display: inline-block;
    width: 10px;
    height: 10px; 
    margin: 0 0 1px 10px;
    border: 2px solid @text-color;
    border-bottom-right-radius: 2px;
    border-top: none;
    border-left: none;
    .rotate(-45deg);
    .transition(all .1s ease-in); 
  }
  &.less {
    color: @lightgold;
    margin-top: 30px;
    //color: @darkgold;
    &:after {
      border-color: @lightgold;
      .rotate(-135deg);
    }
    &:hover,
    &:focus {
      color: @darkgold;
      &:after {
        border-color: @darkgold;
        //.rotate(-135deg);
      }
    }
  }
}
div.hidden-part {
  height: auto;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  margin-top: 10px;
  .transition(all .2s ease-in-out);
  &.show-part {
    max-height: 9999px;
    opacity: 1;
    margin-top: 50px;
    padding: 20px 0;
  }
}
#expanding {
  background: #F2F2F2;
  margin-top: 30px;
}
h2.big-big,
h3.big-big {
    text-transform: uppercase;
    text-align: center;
    color: @purple;
    font-size: 60px;
    margin-top: 10px;
} 
.visible-part p {
  border: 1px @lightgold solid;
  border-left: none;
  border-right: none;
  padding: 10px 0;
}

.hidden-part .row {
  //
  .item-desc {
    border-left: 2px solid @gray;
    margin-top: 20px;
    margin-bottom: 60px;
    h3 {
      margin: -10px 0 0 0;
      font-size: 36px;
      line-height: 1;
    }
    span {
      font-family: @uni;
      color: @purple;
      font-size: 40px;
      line-height: 1.3;
    }
    p {
      margin: 0 0 -10px 0;
    }
  }
}
img.slide1,
img.slide2 {
  width: 20vw;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  .transition(opacity .5s ease-in-out);
}
img.slide1 {
  left: 0;
  top: 30%;
}
img.slide2 {
  right: 0;
  bottom: 10%;
}
@media (min-width: 768px) {
  #expanding.expanded {
    img.slide1,
    img.slide2 {
      visibility: visible;
      opacity: 1;
    }
  }
  #expanding {
    margin-bottom: 50px;
    margin-top: 0;
  }
  .text-block .copy.expandable-container {
    padding: 30px 90px;
  }
  section.small-top .text-block .copy {
  padding-top: 30px;
}
}


/***************************
 * Scrollbar and Scrollbar *
 ***************************/
 #scrollbar {
    z-index: 10;
    opacity: 1.0;
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #ECECEC;
    overflow: hidden;
    .transition(all .2s ease-in);
    &.active {
      height: 50px;
    }
    span {
      height: 100%; 
      width: 0%;
      display: block;
      background-color: #E0E0E0;
      .transition(all .1s ease-in);
    }
    .grayW {
      position: absolute;
      top: 5px;
      height: 40px;
      width: auto;
      left: 50%;
      .translate(-50%, 0);
    }
 }

/**********************
 * Videos and YouTube *
 **********************/

// .slideplay video, .slideplay img{
//     //display: none;
// }
.slideplay.active video, .slideplay.active img{
    display: block;
}
.slideplay{
    //overflow: hidden;
    position: relative;
    cursor:pointer;
}
.slideplay .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  img {
    height: auto;
    width: 180px;
    margin: 0 auto;
    .transition(all .2s ease-in-out);  
  }
  a.click {
    padding: 14px 150px 13px 10px;
    font-size: 25px;
    line-height: 1.4;
    display: block;
    font-family: "Encode Sans Normal",sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    opacity: 0.9;
    .transition(all .2s ease-in-out); 
  }
}
.slideplay .icon a.click:hover {
  outline: 15px solid rgba(183,165,122,0.2);
  opacity: 1.0;
  &:after {
    .scale(1.1, 1.1);
    opacity: 1.0;
    //color: @lightgold;
    //background-position: -79px -416px;
  }
  // &:before {
  //   opacity: 1.0;
  // }
  // .icon:after {
  //   //opacity: 0.35;
  //   //opacity: 0.8;
  // }
}
//psuedo play button
.slideplay .icon a:after {
  // content: '';
  // position: absolute;
  // display: block;
  // top: 50%;
  // left: 50%;
  // transform: translateX(-35%) translateY(-50%);
  // width: 300px;
  // height: 300px;
  // box-sizing: border-box;
  // border-style: solid;
  // border-width: 150px 0px 150px 300px;
  // border-color: transparent transparent transparent #FFFFFF;
  // opacity: 0;
  // .transition(opacity .2s ease-in-out); 
    content: "";
    position: absolute;
    background: url(../../immersive-stories/img/sprite.svg) no-repeat -79px -330px rgba(0,0,0,0);
    width: 101px;
    height: 95px;
    bottom: -3px;
    right: 0;
    opacity: 0.9;
    .transition( all .1s linear );
}
.slideplay .icon a:before {
    content: "";
    position: absolute;
    background: url(../../immersive-stories/img/sprite.svg) no-repeat 9px -295px rgba(0,0,0,0);
    width: 52px;
    height: 145px;
    bottom: -31px;
    right: 100px;
    opacity: 0.9;
}

// .slideplay .possible{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translateX(-50%) translateY(-50%);
//     z-index: 20;
//     width: 100%;
//     text-align: center;
// }
// .slideplay .possible h2{
//   color: white;
//   font-size: 14vw;
//   opacity: .2;
//   font-family: @uni;
//   text-transform: uppercase;
//   letter-spacing: .02em;
//   font-weight: normal;
// }
.purp{
  color: #4b2e83;
}
// .slideplay .click{
//     position: absolute;
//     top: 75%;
//     left: 50%;
//     transform: translateX(-50%) translateY(-50%);
//     z-index: 20;
//     font-family: @uni;
//     letter-spacing: .01em;
//     text-transform: uppercase;
// }
.slideplay .fader{
    height: 100%;
    width: 100%;
    z-index: 1;
    margin-bottom: 50px; //add only to second
    position: relative;
    opacity: 0;
    transition: 600ms opacity;
    pointer-events: none;
    object-fit: cover;
}
.slideplay .fader.show{
    opacity: 1;
    pointer-events: all;
}
.slideplay img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slideplay video{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    object-fit: cover;
}

.slideplay.frame {
  height: 42.55vw;
  //height: 56.25vw;
  max-height: 100vh; 
}
.frame{
    height: 600px;
    height: 100vh;
    width: 100%;
    position: relative;
    //overflow: hidden;
}
.frame.video{
    //overflow: hidden;
}
.frame.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.frame.image{
    //overflow: hidden;
}
.frame.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.frame.active img{
    display: block;
}
.slideplay {
  opacity: 1;
  .transition(opacity 1s ease-in-out);//this doesnt work bc of z-index
  &.ophide {
    opacity: 0;
  }
}
// #slideplay2 {
//   opacity: 0;
//   .transition(opacity 2s ease-in-out);
//   &.post-scene {
//     opacity: 1;
//   }
// }
#slideplay1 {
  z-index: 3;
  &.post-scene {
    z-index: 1;
  }
  // .fader {
  //   &:after,
  //   &:before {
  //     content: '';
  //     position: absolute;
  //     display: block;
  //     width: 120px;
  //     height: 10px;
  //     background-color: white;
  //     opacity: 0.5;
  //   }
  //   &:after {
  //     bottom: 0;
  //     left: 0;
  //   }
  //   &:before {
  //     top: 0;
  //     right: 0;
  //   }
  // }
}
// #slideplay2 {
//   z-index: 2;
// }
@media (min-width: 768px) {
  [id$="youtube-video"] {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 9999;
      margin: 0;
  }
}
@media (max-width: 768px) {
  [id$="youtube-video"] {
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 999;
    bottom: 40px;
    width: 100% !important;
    height: 42vw !important;
  }
}


/*****************************
 * Data Tooltips and Pop-ups *
 *****************************/


[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    font-weight: bold;
    color: @darkgold;
}
/* Tooltip styling */
[data-tooltip] span {
    content: attr(data-tooltip);
    white-space: pre-line;
    display: none;
    position: absolute;
    background: white;
    color: #676767;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    min-width: 310px;
    text-align: left;
    padding: 18px 30px;
    border-radius: 4px;
    background-color: #ECECEC;
    @media @phone-only {  // (max-width: 599px)
        min-width: 90px;
    }
    /* Dynamic horizontal centering */
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    @media @phone-only {  // (max-width: 599px)
        //margin-left: -105px;
    }
    bottom: 100%;
    margin-bottom: 6px;
}

[data-tooltip] span:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 50%;
    margin-left: -10px;
    margin-bottom: -10px;
    bottom: 0;
    border-width: 10px 10px 0;
    border-top-color: #ECECEC;
}
[data-tooltip]:hover span,
[data-tooltip]:hover span:after {
    display: block;
    z-index: 50;
}

span.title {
    display: none;
    @media @phone-only {  // (max-width: 599px)
        display: block;
        z-index: 50;
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background: white;
        color: #676767;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.4;
        min-width: 90px;
        text-align: left;
        padding: 18px 30px;
        border-radius: 4px;
    }
}


/*****************
 * Giving Widget *
 *****************/

 .text-block.giving-widget.branded {
    background-image: url(../../immersive-stories/img/comotion/COMOTION_GIVING_FOOTER.jpg);
    .background-size(cover);
    background-position: center bottom;
    background-repeat: no-repeat;
 }


