// All the Variables from the UW 2014 theme
@import "../../themes/uw-2014/less/uw.variables.less";
@import "../../themes/uw-2014/less/flat/mixins.less";
@import "../../themes/uw-2014/less/flexbox.less";
@import "../../immersive-stories/less/text-block-new.less";
@import "../../immersive-stories/less/button.less";
@import "../../immersive-stories/less/common.less";
@import "../../immersive-stories/less/queries.less";
@import "../../immersive-stories/less/lity.less";
@import "../../immersive-stories/less/slideshow.less";

@foster: "../../immersive-stories/img/foster-school";
@enviro: "../../immersive-stories/img/environment";
@img: "../../immersive-stories/img";

// @media @phone-only { }              //  (max-width: 599px)          
// @media @tablet-portrait-up { }      //  (min-width: 600px) 
// @media @tablet-portait-only { }     //  (min-width: 600px) and (max-width: 899px) 
// @media @tablet-landscape-up { }     //  (min-width: 900px)
// @media @tablet-landscape-only { }   //  (min-width: 900px) and (max-width: 1199px) 
// @media @desktop-up { }              //  (min-width: 1200px)     
// @media @desktop-only { }            //  (min-width: 1200px) and (max-width: 1799px)"     
// @media @big-desktop-up { }          //  (min-width: 1800px)     
    


body {
    width: 100%;
    height: 100%;
    .uw-footer {
        margin-top: 0
    }
}
p {
    color: #696969;
}

// Top put it over the top of the opening video
#main_content {
    background-color: white;
    position: relative;
    z-index: 1;
    padding-top: 1%;
}

// Namespace to prevent bleeding into uw.edu/boundless/ when popped up
#immersive-body {
    overflow: hidden;
    h1, h2, h3, h4, h5 {
        font-family: @headline;
        font-weight: @ultra;
    }
}

.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(~"100vh - 171px"); //full height - header
    // background-image: url("@{foster}/yesenia.jpg");
    .background-cover(cover);
    background-position: center center;
    background-color: black;
    &:before {
        content: '';
        display: block; 
        position: absolute;
        right: -22%;
        bottom: -5%;
        width: 70%;
        height: 60%;
        opacity: 0.2;
        background: url("@{enviro}/mountains.png") left top no-repeat transparent;
        .background-cover(cover);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;             
        background: -webkit-linear-gradient(bottom left, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%);
        background: -o-linear-gradient(bottom left, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%);
        background: linear-gradient(to top right, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    span.gold-tilt {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: @darkgold;
        opacity: 0.3;
        .skew(15deg, 0);
        &.gold-tilt-1{
            left: 5%;
            width: 150px;
        }
        &.gold-tilt-2{
            left: 60%;
            width: 400px;
        }
    }
    .scrollit {
        z-index: 1;
        a {
	        text-align: center;
		    width: 100%;
		    display: inline-block;
		    #watchVideo {
		    	width: 90px;
		    	height: 90px;
		    	ellipse {
		    		stroke: rgba(183, 165, 122, 0.4);
		    	}
		    	polygon {
		    		fill: rgba(183, 165, 122, 0.4);
		    	}
		    }
		    p {
		    	padding: 0px 10px;
    			background: rgba(183, 165, 122, 0.4);
		    }
		}
    }
    p {
        color: white;
        font-size: 16px;
        //font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
        &.intro-copy { width: 60%; }
    }
    h1 {
        text-transform: uppercase;
        color: white;
        line-height: 0.85;
        text-shadow: 0px 0px 3px rgba(37, 37, 37, 0.65);
        font-size: 30px;
        //text-indent: -999999px;
        span {
            display: block;
            margin-left: -5px;
        }
    }
    img.h1-image { //h1 with texture
    	display: none;
    }
    .udub-slant span { 
        height: 5px;
        width: 360px; 
    }
    video {
        object-fit: cover;
        height: 100%;
        width: 100%;

    }
    .intro-body {
        position: absolute;
        z-index: 1;
        top: 43%;
        left: 0;
        width: 100%;
        .translate(0,-50%);
        & > div {
            .play-button {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    a.read-more {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        height: 50px;
        background: url("@{img}/sprite.svg") 0 0 no-repeat transparent;
        z-index: 1;
        &:hover,
        &:active,
        &:focus {
            .translate(0,10px);
        }
    }
    #intro-text {
        a {
            p {
                font-weight: bold;
                display: inline-block;
                text-transform: uppercase;
            }
        }
    }

    @media @phone-only { 

        // background-image: url("@{foster}/yesenia-mobile.jpg");
        .background-cover(cover);
        background-position: right center;
        .intro-body {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: 0;
            .translate(0,-50%);
        }
        p {
            line-height: 1.4;
            font-size: .65em;
        }
        #intro-text {
            a {
                p {
                    .translate(0,-10px);
                }
            }
            svg {
                height: auto;
                width: 35px;
            }
        }
        .udub-slant { 
            display: none;
        }
        video {
            object-position: 50% 50%;
        }
        a.read-more {
            top: calc(~"100vh - 70px");
        }
    }              //  (max-width: 599px)   
    @media @phone-only {
        // background-image: url("@{foster}/yesenia-mobile-portrait.jpg");
        .intro-body {
            top: 50%;
            .col-xs-8 {
                width: 85%;
            }
        }
        video {
            object-position: 75% 50%;
        }
        a { 
            svg {
                float: left;
                height: 30px;
                width: 30px;
            }
            p {
                display: inline-block;
                float: left;
                margin: 2px 0 0 10px;
            }
        }
    }               //  (max-width: 599px)         
    @media @tablet-portrait-up { 
        #intro-text {
            a {
                p {
                    margin-left: 20px;
                    .translate(0,-30px);
                }
            }
        }

    }      //  (min-width: 600px) 
    @media @tablet-portait-only { 
         // background-image: url("@{foster}/yesenia-tablet.jpg");
         background-position: right center;
        .intro-body {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 0;
            width: 100%;
            margin-top: 0;
            .translate(0,-50%);
        }
        h1 {
            font-size: 6.5vw;
        }
        p {
            line-height: 1.4;
        }
        a { 
            svg {
                float: left;
                height: 30px;
                width: 30px;
            }
            p {
                display: inline-block;
                float: left;
                margin: 2px 0 0 10px;
            }
        }
        #intro-text {
        }
        a.read-more {
            top: calc(~"100vh - 70px");
        }

    }     //  (min-width: 600px) and (max-width: 899px) 
    @media @tablet-landscape-up { 

        h1 {
            font-size: 3.5vw;
            span {
            	font-size: 9.3vw;
            }
        }
        hr {
            display: block;
        }
        video {
            object-position: 100% 50%;
        }
        a.read-more {
            top: calc(~"100vh - 95px");
            bottom: auto;
        }
        .intro-body {
            .intro-body {
                & > div {
                    .play-button {
                    }
                }
            }
            & > div {

                .flex-display(flex);
                .align-content(center);
                .play-button {
                    position: relative;
                    .flex-display(flex);
                    .align-items(center);
                    // &:after {
                    //     content: "";
                    //     width: 2px;
                    //     height: 100%;
                    //     left: 0;
                    //     top: 0;
                    //     .rotate(15deg);
                    //     left: -70px;
                    //     position: absolute;
                    //     background-color: white;
                    // }

                }
            }
        }
    }     //  (min-width: 900px)
    @media @tablet-landscape-only { }   //  (min-width: 900px) and (max-width: 1199px) 
    @media @desktop-up { 
        h1 {
            span {
                display: block;
            }
        }
        video {
            object-position: 100% 50%;
        }
    }              //  (min-width: 1200px)     
    @media @desktop-only { }            //  (min-width: 1200px) and (max-width: 1799px)"     
    @media @big-desktop-up { }          //  (min-width: 1800px)     
    

    /* ----------- iPhone 5 and 5S Portrait ----------- */

    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {

        h1 {

        }
        p {

        }
    }

}

.text-block {
    .copy {
        h2, h3 {
            color: @darkgold;
            text-transform: uppercase;
        }
        .box-page-break {
            text-align: center;
            margin: -100px auto 100px;
            span {
                display: inline-block;
                padding: 10px;
                border: 2px solid @purple;
                background-color: white;
            }
        }
    }
    &.border-top-overlap {
        border-top: 1px solid @purple;
        margin-top: 70px;
    }
}

// Pause button

#pause {
    position: absolute;
    z-index: 1;
    display: block;
    text-indent: -999px;
    overflow-x: hidden;
    width: 45px;
    height: 45px;
    right: 20px;
    top: 20px;
    border: none;
    background: url("@{img}/pause.svg") no-repeat 0 0 transparent;
    z-index: 2;
    &:hover,
    &:focus {
        background-position-x: -47px;
    }
    &:focus {
        outline-color: rgb(59, 153, 252);
        outline-style: auto;
        outline-width: 5px;
    }
    @media(max-width:768px) {
        display: none;
    }
}
&.paused {
    video {
        opacity: .6;
        -webkit-filter: blur(5px);
    }
    #pause { 
        background-position: 0 -49px;
        &:hover {
            background-position-x: -47px;
        }
        &:focus {
            outline-color: rgb(59, 153, 252);
            outline-style: auto;
            outline-width: 5px;
        }
    }
}

.bus-map {
    height: 61vw;
    background-image: url("@{enviro}/map.jpg");
    .background-cover(cover);
    position: relative;
    margin-top: -22vw;
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    svg {
        width: 100%;
        height: 61vw;
        display: block;
    }
    .path {
      stroke-dasharray: 1700;
      -webkit-filter: drop-shadow( -5px -5px 5px #000 );
              filter: drop-shadow( -5px -5px 5px #000 );
     // stroke-dashoffset: 1300;
     // animation: dash 5s linear alternate infinite;
    }
    .miles {
        position: absolute;
        left: 50%;
        margin-left: -66px;
        min-width: 132px;
        bottom: 12%;
        z-index: 1;
        padding: 20px 0;
        text-align: center;
        p {
            color: white;
            font-weight: bold;
            margin: 0;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8)
        }
        #counter {
            font-size: 2em;
            font-family: @headline;
            font-weight: @ultra;
            color: @lightgold;
            line-height: 1;
        }
    }
    @media @phone-only {  //  (max-width: 599px)  
        margin-top: -15vw;
        svg > g:nth-of-type(1) {
            transform: scale(2.4);
            transform-origin: right bottom;
        }        
        svg > g:nth-of-type(2) {
            transform: scale(2.4);
            transform-origin: left bottom;
        }
        
    }                      
    @media @tablet-portrait-up { //  (min-width: 600px) 
        .miles {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            #counter {
                font-size: 4em;
            }
        }
    }      
    // @media @tablet-portait-only { }     //  (min-width: 600px) and (max-width: 899px) 
    // @media @tablet-landscape-up { }     //  (min-width: 900px)
    // @media @tablet-landscape-only { }   //  (min-width: 900px) and (max-width: 1199px) 
    // @media @desktop-up { }              //  (min-width: 1200px)     
    // @media @desktop-only { }            //  (min-width: 1200px) and (max-width: 1799px)"     
    // @media @big-desktop-up { }          //  (min-width: 1800px)     
        
}

.bus {
    // .background-cover(cover);
    // background-position: right center;
    margin-top: -41vw;
    height: 41vw;
    position: relative;
    overflow: hidden;
    opacity: 0;
    border-bottom: 10px solid @darkgold;
    .copy {
        z-index: 1;
        position: relative;
    }
    video {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 100%;
        left: 0;
        z-index: 0;
        min-height: 100%;
    }
    p {
        font-family: @uni;
        color: white;
        line-height: 1.4;    
        text-transform: uppercase;
        font-size: 3em;
        padding: 17vw 72px 17vw 0;
        position: relative;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        span {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 0.5em
        }
        &:after, 
        &:before {
            content: '';
            display: block;
            width: 30%;
            position: absolute;
            height: 20px;
            background: url("@{enviro}/squiggle.svg") no-repeat;
            .background-size(contain);
        }
        &:before {
            left: 35%;
            top: 12vw;
        }
        &:after {
            bottom: 10vw;
            right: 35%;
        }
    }
    @media @phone-only {
        // background-image: url("@{foster}/bus-ride-mobile.jpg");
        background-color: black;
        video {

            opacity: .5;
        }
    }              //  (max-width: 599px)          
    @media @tablet-portrait-up {
        // background-image: url("@{foster}/bus-ride.jpg");
        p {
            font-size: 3em;
            padding: 7vw 0;
            &:before {
                left: 35%;
                top: 5vw;
            }
            &:after {
                bottom: 5vw;
                right: 35%;
            }
        }
     }      //  (min-width: 600px) 
    @media @tablet-portait-only {
        background-color: black;
        video {

            opacity: .5;
        }
    }     //  (min-width: 600px) and (max-width: 899px) 
    // @media @tablet-landscape-up { }     //  (min-width: 900px)
    // @media @tablet-landscape-only { }   //  (min-width: 900px) and (max-width: 1199px) 
    // @media @desktop-up { }              //  (min-width: 1200px)     
    // @media @desktop-only { }            //  (min-width: 1200px) and (max-width: 1799px)"     
    // @media @big-desktop-up { }          //  (min-width: 1800px)     
}

.full-image-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    border-bottom: 10px solid @darkgold;
    overflow: hidden;
    background-image: url("@{enviro}/student-valley.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    .background-cover(cover);
    div.copy {
        margin-top: 10%;
        padding: 50px 80px;
        background: rgba(0,0,0,0.4);
        opacity: 1;
        p {
            color: white;
            font-size: 16px;
            //font-weight: bold;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
            text-align: center;
            &.pull-text {
                font-family: @headline;
                line-height: 1.4;    
                text-transform: uppercase;
                font-size: 1.2em;
                padding-top: 40px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 50%;
                    position: absolute;
                    height: 20px;
                    left: 25%;
                    top: 0;
                    background: url("@{enviro}/squiggle.svg") no-repeat;
                    .background-size(contain);
                }
            }
        }
    }
    div.student {
        position: absolute;
        bottom: 0; 
        opacity: 1;
        //width: 150px;
        //height: auto;
        &.student1 {
            right: 3%;
            img { width: 175px; } 
        }
        &.student2 {
            left: 25%; 
            img { width: 125px; }
        }
        &.student3 {
            right: 20%; 
            img { width: 130px; }
        }
        &.student4 {
            left: 45%;
            img { width: 135px; }  
        }
        &.student5 {
            left: 3%;
            img { width: 180px; }
        }
        &.student6 {
            display: none;  
        }
        img {
            width: 150px;
            height: auto;
        }
        &:before {
            content: '';
            height: 25px;
            width: 25px;
            position: absolute;
            top: 0; 
            right: 0;
            background: url("@{enviro}/people-circle.svg") no-repeat center center;
            .background-cover(cover);
        }
    }
    section.student ,
    #student1 ,
    #student2 ,
    #student3 ,
    #student4 ,
    #student5 ,
    #student6 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        visibility: hidden;
        .transition(all .5s ease-in);
        div.name {
            position: absolute;
            top: 15%;
            left: 5%;
            width: 300px;
            z-index: 1;
            h3 {
                font-family: @font-family-base;
                font-weight: 900;
                font-size: 3.5em;
                color: white;
                text-transform: uppercase;
                line-height: 1;
            }
            p.major {
                font-family: @font-family-base;
                font-weight: 500;
                font-size: 1.5em;
                color: white;
                text-transform: uppercase;
                line-height: 1;
            }
            .udub-slant span {
                width: 35%;
            }
            

        }
        div.quote {
            position: absolute;
            top: 30%;
            right: 5%;
            width: 30vw;
            max-width: 400px;
            z-index: 1;
            blockquote {
                font-family: @uni;
                font-weight: 700;
                font-size: 1.5em;
                color: white;
                border: none;
                span {
                    font-family: @font-family-headline;
                    font-weight: 900;
                    font-size: 80px;
                    color: white;
                    position: absolute;
                }
                span:nth-of-type(1) {
                    top: -60px;
                    left: 15px;
                }
                span:nth-of-type(2) {
                    bottom: -70px;
                    right: 30px;
                }
            }
        }
        img {
            position: absolute;
            bottom: 0;
            left: 30%;
            height: 80%;
            width: auto;
        }
    }
    //close button
    button#close-modal {
    // display: none;
    // @media(min-width:768px) {
        display: block;
        position: absolute;
        border: none;
        top: 25px;
        right: 35px;
        z-index: 9999;
        width: 120px;
        height: 120px;
        //background: url("@{img}/sprite.svg") no-repeat -207px -286px rgba(0,0,0,.2);
        opacity: 0;
        line-height: 0;
        color: transparent;
        background: none;
        svg {
            height: 120px;
            width: 120px;
        }
    }
}

.enviro-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    border-bottom: 10px solid @darkgold;
    overflow: hidden;
    background-image: url("@{enviro}/pred-bg-fg-span.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    .background-cover(cover);
    img.foreground {
        position: absolute;
        bottom: -15%;
        right: 0;
        height: auto;
        width: 100%;
        z-index: 1;
    }
    &.enable-scroll {
        overflow-y: scroll;
    }
    section {
        width: 100%;
        height: 100%;
    }
    div.copy {
        margin-top: calc(~"26vh + 200px"); 
        padding: 20px 30px;
        background: rgba(0,0,0,0.4);
        position: relative;
        opacity: 1;
        h2 {
            color: white;
            text-align: center;
            font-family: @font-family-headline;
            font-size: 35px;
            letter-spacing: 3px;
            text-transform: uppercase;
            position: relative; 
            margin-bottom: 40px;    
            &:after {
                content: '';
                display: block;
                width: 360px;
                position: absolute;
                height: 20px;
                left: calc(~"50% - 180px");
                bottom: -30px;
                //margin: 20px auto;
                background: url("@{enviro}/squiggle.svg") no-repeat;
                .background-size(contain);
            }
        }
        p {
            color: white;
            font-size: 17px;
            //font-weight: bold;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
            text-align: center;
            // &.pull-text {
            //     font-family: @headline;
            //     line-height: 1.4;    
            //     text-transform: uppercase;
            //     font-size: 1.2em;
            //     padding-top: 40px;
            //     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            //     position: relative;
            //  }
            &:first-child:before {
                
            }
            
        }
        &:before {
            content: '';
            display: block;
            width: 26vh;
            height: 26vh;
            position: absolute;
            left: calc(~"50% - 13vh");
            top: calc(~"-100px - 26vh");;
            margin: 20px auto;
            background: url("@{enviro}/icon-pred.svg") no-repeat;
            .background-size(contain);
        }
        &:after {
            content: "";
            border-color: rgba(0, 0, 0, 0) transparent;
            border-style: solid;
            border-width: 30px 10px 0 0;
            height: 0;
            width: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-top: -30px;

        }
    }
    &:after {
        content:'INTRO';
        font-family: @font-family-base;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 60px;
        position: fixed;
        bottom: 260px;
        right: 0;
        z-index: 1;
        color: white;
        opacity: 0.4;
        transform-origin: bottom right;
        .rotate(-90deg);
    }
    &.in-the-field:after {
        content: 'IN THE FIELD';
        bottom: 520px;
    }
    span.lines {
        position: fixed;
        height: 100%;
        width: 30%;
        opacity: 0.4;
        top: 0;
        left: 0;
        background: url('@{img}/lines2.svg') no-repeat;
        background-position: center right;
        display: block;
        .background-cover(cover);
        &.right {
            background-position: center left;
            left: auto;
            right: 0;
        }
    }
}


// Transition of photos section

// .transSection {
//     width: 100%;
//     height: 50vw;
//     position: relative;
//     margin:3vw 0 7vw 0;

//     & > div {
//         position: absolute;
//         left: 0;
//         top: 0;
//         bottom: 0;
//         width: 100%;
//         .background-cover(cover);
//     }
//     p {
//         background-color: rgba(0, 0, 0, 0.84);
//         padding: 11px 25px 10px 25px;
//         font-size: 13px;
//         line-height: 1.3;
//         color: white;
//         bottom: 0;
//         margin: 0;
//         left: -10px;
//         position: absolute;
//         display: inline-block;
//     }
//     #photo-1 {
//         background-image: url("@{ica}/photo-2.jpg");
//         background-position: center center;
//     }
//     #photo-2 {
//         .background-cover(cover);
//         background-image: url("@{ica}/photo-1.jpg");
//         background-position: center center;
//     }
//     &.bottom-map {
//         .background-cover(cover);
//         background-image: url("@{ica}/MAP_V.4.jpg");
//         height: 0;
//         width: 100%;
//         padding-bottom: 51.5vw;
//         margin-bottom: 0;
//     }
//     @media @tablet-portrait-up { 
//         margin: 2vw 0 7vw 0;
//         p {
//             background-color: rgba(232, 227, 211, 0.21);
//             max-width: 50%;
//             .skew(-15deg,0);
//             font-size: 14px;
//             span {
//                 display: inline-block;
//                 .skew(15deg,0);
//             }
//         }
//     }
//     @media @phone-only {
//         &.mentors-caption {
//             margin: 3vw 0 28vw 0;
//             overflow: visible;
//             p {
//                 top: 99%;
//                 bottom: inherit;
//             }
//         }
//     }
// }

 @media @tablet-portrait-up { 

    .text-block .copy.reduced-pad {
        padding: 50px 90px 40px 90px;
    }


}


