    // All the Variables from the UW 2014 theme
@import "../../themes/uw-2014/less/uw.variables.less";
@import "../../themes/uw-2014/less/flat/mixins.less";
@import "../../themes/uw-2014/less/flexbox.less";
@import "../../immersive-stories/less/text-block-new.less";
@import "../../immersive-stories/less/button.less";
@import "../../immersive-stories/less/common.less";
@import "../../immersive-stories/less/queries.less";
@import "../../immersive-stories/less/lity.less";
@import "../../immersive-stories/less/slideshow.less";

@foster: "../../immersive-stories/img/foster-school";
@fb: "../../immersive-stories/img/farmer-brown";
@enviro: "../../immersive-stories/img/environment";
@built: "../../immersive-stories/img/built-env";
@img: "../../immersive-stories/img";

// @media @phone-only { }              //  (max-width: 599px)          
// @media @tablet-portrait-up { }      //  (min-width: 600px) 
// @media @tablet-portait-only { }     //  (min-width: 600px) and (max-width: 899px) 
// @media @tablet-landscape-up { }     //  (min-width: 900px)
// @media @tablet-landscape-only { }   //  (min-width: 900px) and (max-width: 1199px) 
// @media @desktop-up { }              //  (min-width: 1200px)     
// @media @desktop-only { }            //  (min-width: 1200px) and (max-width: 1799px)"     
// @media @big-desktop-up { }          //  (min-width: 1800px)     
    
#cv2-header {
    position: fixed;
    display: block;
    height: 171px;
    top: 0;
    width: 100%;
    z-index: 9;
}

div.background {
    height: 100%;
    width: 100%;
    .background-cover(cover);
}
div.background.red {
    background-image: url("@{enviro}/header-poster.png");
    //.background-cover(cover);
}
div.background.green {
    background-image: url("@{enviro}/header.jpg");
    //.background-cover(cover);
}
div.background.blue {
    background-image: url("@{enviro}/map.jpg");
    //.background-cover(cover);
}
div.background.yellow {
    background-image: url("@{enviro}/RANCHER_OUTRO_PHOTO.jpg");
    //.background-cover(cover);
}

section.slide1 div.background {
    padding-top: 81px;
}

#intro-vid div.background,
#intro-yellow div.background {
    position: relative;
    &:before {
        content: '';
        display: block; 
        position: absolute;
        right: -22%;
        bottom: -5%;
        width: 70%;
        height: 60%;
        opacity: 0.2;
        background: url("@{enviro}/mountains.png") left top no-repeat transparent;
        .background-cover(cover);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;             
        background: -webkit-linear-gradient(bottom left, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%);
        background: -o-linear-gradient(bottom left, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%);
        background: linear-gradient(to top right, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    span.gold-tilt {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5%;
        width: 300px;
        background-color: @darkgold;
        opacity: 0.3;
        .skew(15deg, 0);
    }
    .scrollit.click-section {
        z-index: 1;
        p {
            font-size: 12px;
            font-family: @font-family-base;
            font-weight: 400;
            opacity: 0.6;
        }
        .down-arrow {
            display: block;
            width: 20px;
            height: 20px;
            margin: -35px auto 0;
            border-right: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
            border-radius: 0;
            background-color: transparent;
            .rotate(45deg);
            -webkit-animation: downarrow 1.3s infinite;
            animation: downarrow 1.3s infinite;
        }
    }
    p {
        color: white;
        font-size: 16px;
        //font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
        &.intro-copy { width: 60%; }
    }
    h1 {
        text-transform: uppercase;
        color: white;
        line-height: 0.85;
        text-shadow: 0px 0px 3px rgba(37, 37, 37, 0.65);
        font-size: 30px;
        font-family: @headline;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }
    video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .intro-body {
        position: absolute;
        z-index: 1;
        top: 43%;
        left: 0;
        width: 100%;
        .translate(0,-50%);
        & > div {
            .play-button {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    #intro-text,
    #intro-text-yellow {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10vw;
        h1 {
            width: 100%;
        }
        p {
            line-height: 1.4;
            margin: 30px 0; 
            &:after, 
            &:before {
                content: '';
                display: block;
                width: 60%;
                position: absolute;
                height: 20px;
                opacity: 0.6;
                background: url("@{enviro}/squiggle.svg") no-repeat center center;
                .background-size(contain);
            }
            &:before {
                left: 20%;
                top: -35px;
            }
            &:after {
                bottom: -35px;
                right: 20%;
            }
        }
    }
    div.play-button {
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        bottom: 0;
        left: 10px;
        z-index: 1;
        opacity: 0.6;
        font-size: 14px;
        font-weight: 600;
        svg {
            height: 80px;
        }
    }

    @media @phone-only { 

        // background-image: url("@{foster}/yesenia-mobile.jpg");
        .background-cover(cover);
        background-position: right center;
        .intro-body {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: 0;
            .translate(0,-50%);
        }
        p {
            line-height: 1.4;
            font-size: .65em;
        }
        h1 {
            font-size: 10vw;
        }
        #intro-text {
            a {
                p {
                    .translate(0,-10px);
                }
            }
            svg {
                height: auto;
                width: 35px;
            }
        }
        video {
            object-position: 50% 50%;
        }
    }              //  (max-width: 599px)   
    @media @phone-only {
        // background-image: url("@{foster}/yesenia-mobile-portrait.jpg");
        .intro-body {
            top: 50%;
            .col-xs-8 {
                width: 85%;
            }
        }
        video {
            object-position: 75% 50%;
        }
        a { 
            svg {
                float: left;
                height: 30px;
                width: 30px;
            }
            p {
                display: inline-block;
                float: left;
                margin: 2px 0 0 10px;
            }
        }
    }               //  (max-width: 599px)         
    @media @tablet-portrait-up { 
        #intro-text {
            a {
                p {
                    margin-left: 20px;
                    .translate(0,-30px);
                }
            }
        }

    }      //  (min-width: 600px) 
    @media @tablet-portait-only { 
         // background-image: url("@{foster}/yesenia-tablet.jpg");
         background-position: right center;
        .intro-body {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 0;
            width: 100%;
            margin-top: 0;
            .translate(0,-50%);
        }
        h1 {
            font-size: 7vw;
        }
        p {
            line-height: 1.4;
        }
        a { 
            svg {
                float: left;
                height: 30px;
                width: 30px;
            }
            p {
                display: inline-block;
                float: left;
                margin: 2px 0 0 10px;
            }
        }
        #intro-text {
        }
        a.read-more {
            top: calc(~"100vh - 70px");
        }

    }     //  (min-width: 600px) and (max-width: 899px) 
    @media @tablet-landscape-up { 

        h1 {
            font-size: 7vw;
        }
        hr {
            display: block;
        }
        video {
            object-position: 100% 50%;
        }
        a.read-more {
            top: calc(~"100vh - 95px");
            bottom: auto;
        }
        .intro-body {   
            & > div {

                .flex-display(flex);
                .align-content(center);
                .play-button {
                    position: relative;
                    .flex-display(flex);
                    .align-items(center);
                }
            }
        }
    }     //  (min-width: 900px)
    @media @desktop-up { 
        video {
            object-position: 100% 50%;
        }
    }            
    
}

.text-block {
    .copy {
        h2, h3 {
            color: @darkgold;
            text-transform: uppercase;
        }
        .box-page-break {
            text-align: center;
            margin: -100px auto 100px;
            span {
                display: inline-block;
                padding: 10px;
                border: 2px solid @purple;
                background-color: white;
            }
        }
    }
    &.border-top-overlap {
        border-top: 1px solid @purple;
        margin-top: 70px;
    }
}

// Pause button

#pause,
#pause-yellow {
    position: absolute;
    z-index: 1;
    display: block;
    text-indent: -999px;
    overflow-x: hidden;
    width: 45px;
    height: 45px;
    right: 20px;
    top: 101px;
    border: none;
    background: url("@{img}/pause.svg") no-repeat 0 0 transparent;
    z-index: 2;
    &:hover,
    &:focus {
        background-position-x: -47px;
    }
    &:focus {
        outline-color: rgb(59, 153, 252);
        outline-style: auto;
        outline-width: 5px;
    }
    @media(max-width:768px) {
        display: none;
    }
}
&.paused {
    video {
        opacity: .6;
        -webkit-filter: blur(5px);
    }
    #pause { 
        background-position: 0 -49px;
        &:hover {
            background-position-x: -47px;
        }
        &:focus {
            outline-color: rgb(59, 153, 252);
            outline-style: auto;
            outline-width: 5px;
        }
    }
}

/****************
*****GENERIC*****
****************/
section.section div.background ,
section.fixed-section div.background {
    position: relative;
    &:before {
        content: '';
        display: block; 
        position: absolute;
        right: -22%;
        bottom: -5%;
        width: 70%;
        height: 60%;
        opacity: 0.2;
        background: url("@{enviro}/mountains.png") left top no-repeat transparent;
        .background-cover(cover);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;             
        background: -webkit-linear-gradient(bottom left, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%);
        background: -o-linear-gradient(bottom left, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%);
        background: linear-gradient(to top right, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .scrollit.click-section {
        z-index: 1;
        p {
            font-size: 12px;
            font-family: @font-family-base;
            font-weight: 400;
            opacity: 0.6;
        }
    }
    p {
        color: white;
        font-size: 16px;
        //font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
        &.intro-copy { width: 60%; }
    }
    h1 {
        text-transform: uppercase;
        color: white;
        line-height: 0.85;
        text-shadow: 0px 0px 3px rgba(37, 37, 37, 0.65);
        font-size: 30px;
        font-family: @headline;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }
    video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .intro-body {
        position: absolute;
        z-index: 1;
        top: 43%;
        left: 0;
        width: 100%;
        .translate(0,-50%);
        & > div {
            .play-button {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    .text-box {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10vw;
        h1 {
            width: 100%;
        }
        p {
            line-height: 1.4;
            margin: 30px 0; 
            &:after, 
            &:before {
                content: '';
                display: block;
                width: 60%;
                position: absolute;
                height: 20px;
                opacity: 0.6;
                background: url("@{enviro}/squiggle.svg") no-repeat center center;
                .background-size(contain);
            }
            &:before {
                left: 20%;
                top: -35px;
            }
            &:after {
                bottom: -35px;
                right: 20%;
            }
            &.no-top {
                margin-top: 0;
                &:after {
                    content: none;
                }
            }
            &.no-bottom {
                margin-bottom: 0;
                &:before {
                   content: none;
                }
            }
        }
        span.squiggle {
            content: '';
            display: block;
            width: 60%;
            height: 20px;
            margin: 5px auto;
            //opacity: 0.6;
            background: url("@{enviro}/squiggle.svg") no-repeat center center;
            .background-size(contain);
        }
        div.spaced {
            margin-top: 30px;
        }
        p.read-bold {
            //font-family: @headline;
            font-size: 18px;
        }
    }

    @media @phone-only { 

        // background-image: url("@{foster}/yesenia-mobile.jpg");
        .background-cover(cover);
        background-position: right center;
        .intro-body {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: 0;
            .translate(0,-50%);
        }
        p {
            line-height: 1.4;
            font-size: .65em;
        }
        h1 {
            font-size: 10vw;
        }
        .text-box {
            a {
                p {
                    .translate(0,-10px);
                }
            }
            svg {
                height: auto;
                width: 35px;
            }
        }
        video {
            object-position: 50% 50%;
        }
    }              //  (max-width: 599px)   
    @media @phone-only {
        // background-image: url("@{foster}/yesenia-mobile-portrait.jpg");
        .intro-body {
            top: 50%;
            .col-xs-8 {
                width: 85%;
            }
        }
        video {
            object-position: 75% 50%;
        }
        a { 
            svg {
                float: left;
                height: 30px;
                width: 30px;
            }
            p {
                display: inline-block;
                float: left;
                margin: 2px 0 0 10px;
            }
        }
    }               //  (max-width: 599px)         
    @media @tablet-portrait-up { 
        .text-box {
            a {
                p {
                    margin-left: 20px;
                    .translate(0,-30px);
                }
            }
        }

    }      //  (min-width: 600px) 
    @media @tablet-portait-only { 
         // background-image: url("@{foster}/yesenia-tablet.jpg");
         background-position: right center;
        .intro-body {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 0;
            width: 100%;
            margin-top: 0;
            .translate(0,-50%);
        }
        h1 {
            font-size: 7vw;
        }
        p {
            line-height: 1.4;
        }
        a { 
            svg {
                float: left;
                height: 30px;
                width: 30px;
            }
            p {
                display: inline-block;
                float: left;
                margin: 2px 0 0 10px;
            }
        }
        a.read-more {
            top: calc(~"100vh - 70px");
        }

    }     //  (min-width: 600px) and (max-width: 899px) 
    @media @tablet-landscape-up { 

        h1 {
            font-size: 7vw;
        }
        hr {
            display: block;
        }
        video {
            object-position: 100% 50%;
        }
        a.read-more {
            top: calc(~"100vh - 95px");
            bottom: auto;
        }
        .intro-body {   
            & > div {

                .flex-display(flex);
                .align-content(center);
                .play-button {
                    position: relative;
                    .flex-display(flex);
                    .align-items(center);
                }
            }
        }
    }     //  (min-width: 900px)
    @media @desktop-up { 
        video {
            object-position: 100% 50%;
        }
    }            
    
}

.text-block {
    .copy {
        h2, h3 {
            color: @darkgold;
            text-transform: uppercase;
        }
        .box-page-break {
            text-align: center;
            margin: -100px auto 100px;
            span {
                display: inline-block;
                padding: 10px;
                border: 2px solid @purple;
                background-color: white;
            }
        }
    }
    &.border-top-overlap {
        border-top: 1px solid @purple;
        margin-top: 70px;
    }
}


section.section div.background ,
section.fixed-section div.background {
    &:before {
        content: none;
    }
    h1 {
        line-height: 0.85;
        font-size: 5.2vw;
        span {
            font-family: @uni;
            display: block;
            font-weight: 100;
            font-size: 8vw;
        }
    }
    .text-box {
        padding-top: 0;
    }
    @media @phone-only { 
        h1 {
            //font-size: 10vw;
            span {}
        }
    }
    @media @tablet-portait-only { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    } 
    @media @tablet-landscape-up { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    }              
}

section.transparent-section {
    z-index: 1;
}
.transparent-section div.background {
    background-color: rgba(0, 0, 0, 0.95);
}

div.background.photos {
    padding: 10vh 10vw 20vh; 
}

section.fixed-section {
    height: 100%;
    width: 100%;
    padding-top: 90px;
    position: absolute;
    top: 0;
    z-index: -1;
    &.active {
        z-index: 0;
    }
}

section.blank-section {
    //
}

section.section div.background .intro-body.move-higher,
section.fixed-section div.background .intro-body.move-higher {
    top: 37%;
}


/********************
*****GENERIC END*****
********************/

#intro-yellow div.background {
    &:before {
        content: none;
    }
    h1 {
        line-height: 0.85;
        font-size: 5.2vw;
        span {
            font-family: @uni;
            display: block;
            font-weight: 100;
            font-size: 8vw;
        }
    }
    #intro-text-yellow {
        padding-top: 0;
        .section-links {
            height: 150px;
            opacity: 0.6;
            text-indent: -9999999px;
            //background: url("@{enviro}/PRED_OPENING.svg") no-repeat;
            background-position: center;
            background-repeat: no-repeat;
            .background-size(contain);
            &:nth-of-type(1) {
                background-image: url("@{enviro}/PRED_OPENING.svg");
            }
            &:nth-of-type(2) {
                background-image: url("@{enviro}/PREY_OPENING.svg");
            }
            &:nth-of-type(3) {
                background-image: url("@{enviro}/SCAV_OPENING.svg");
            }
            &:nth-of-type(4) {
                background-image: url("@{enviro}/PEOPLE_OPENING.svg");
            }
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
    @media @phone-only { 
        h1 {
            //font-size: 10vw;
            span {}
        }
    }
    @media @tablet-portait-only { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    } 
    @media @tablet-landscape-up { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    }              
}

#students div.background {
    background-image: url("@{enviro}/student-valley.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    .background-cover(cover);
    h1 {
        //line-height: 0.85;
        font-size: 5.2vw;
        span {
            // font-family: @uni;
            // display: block;
            // font-weight: 100;
            font-size: 7vw;
        }
    }
    .text-box {
        margin-top: -20vw;
    }
    #all-students {
        visibility: visible;
        opacity: 1;
        .transition(all .5s ease-in-out);
        &.not-active {
            opacity: 0;
            visibility: hidden;
        }
    }
    div.student {
        position: absolute;
        bottom: 0; 
        opacity: 1;
        z-index: 1;
        &.student1 {
            right: 3%;
            img { width: 175px; } 
        }
        &.student2 {
            left: 25%; 
            img { width: 125px; }
        }
        &.student3 {
            right: 20%; 
            img { width: 130px; }
        }
        &.student4 {
            left: 45%;
            img { width: 135px; }  
        }
        &.student5 {
            left: 3%;
            img { width: 180px; }
        }
        &.student6 {
            left: 60%;
            bottom: -150px;
            img { width: 150px; }  
        }
        img {
            width: 150px;
            height: auto;
        }
        a:before {
            content: "\e904";
            font-size: 35px;
            color: #FFFFFF;
            display: block;
            font-family: uw-icon;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: 0; 
            right: 0;
        }
        a:hover:before,
        a:focus:before {
            color: @darkgold;  
        }
    }
    section.student {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        visibility: hidden;
        .transition(all .5s ease-in);
        &.active {
            visibility: visible;
            opacity: 1;
        }
        div.name {
            position: absolute;
            top: 15%;
            left: 5%;
            width: 300px;
            z-index: 1;
            h3 {
                font-family: @font-family-base;
                font-weight: 900;
                font-size: 3.5em;
                color: white;
                text-transform: uppercase;
                line-height: 1;
            }
            p.major {
                font-family: @font-family-base;
                font-weight: 500;
                font-size: 1.5em;
                color: white;
                text-transform: uppercase;
                line-height: 1;
            }
            .udub-slant span {
                width: 35%;
            }
            

        }
        div.quote {
            position: absolute;
            top: 30%;
            right: 5%;
            width: 30vw;
            max-width: 400px;
            z-index: 1;
            blockquote {
                font-family: @uni;
                font-weight: 700;
                font-size: 1.5em;
                color: white;
                border: none;
                span {
                    font-family: @font-family-headline;
                    font-weight: 900;
                    font-size: 80px;
                    color: white;
                    position: absolute;
                }
                span:nth-of-type(1) {
                    top: -60px;
                    left: 15px;
                }
                span:nth-of-type(2) {
                    bottom: -70px;
                    right: 30px;
                }
            }
        }
        img {
            position: absolute;
            bottom: 0;
            left: 30%;
            height: 80%;
            width: auto;
        }
    }
    //close button
    button#close-modal {
    // display: none;
    // min
        display: block;
        position: absolute;
        border: none;
        top: 25px;
        left: 15px;
        z-index: 9999;
        width: 120px;
        height: 120px;
        //background: url("@{img}/sprite.svg") no-repeat -207px -286px rgba(0,0,0,.2);
        opacity: 0;
        visibility: hidden;
        line-height: 0;
        color: transparent;
        background: none;
        .transition(all .5s ease-in);
        svg {
            height: 120px;
            width: 120px;
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    @media @phone-only { 
        h1 {
            //font-size: 10vw;
            span {}
        }
    }
    @media @tablet-portait-only { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    } 
    @media @tablet-landscape-up { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    }              
}

.section-caption {
    position: absolute;
    top: 0;
    left: -10px;
    padding: 5px 40px 5px 50px;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    .skew(-15deg, 0);
    p {
        margin: 0;
        text-transform: uppercase;
        //font-family: @uni;
        font-size: 14px;
        font-weight: 800;
        .skew(15deg, 0);
    }
}
.row.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.background {
    .row {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 100%;
        margin: 0;
    }
    .intro-body {
        position: absolute;
        z-index: 1;
        top: 43%;
        left: 0;
        width: 100%;
        .translate(0,-50%);
    }
    h1 {
        line-height: 0.85;
        font-size: 5.2vw;
        text-transform: uppercase;
        color: #FFFFFF;
        span {
            font-family: @uni;
            display: block;
            font-weight: 100;
            font-size: 8vw;
        }
    }
    p {
        color: #FFFFFF;
    }
    .text-box {
        padding-top: 0;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media @phone-only { 
        h1 {
            //font-size: 10vw;
            span {}
        }
    }
    @media @tablet-portait-only { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    } 
    @media @tablet-landscape-up { 
        h1 {
            //font-size: 7vw;
            span {}
        }
    }              
}

#fixed-section div.background {
    background-image: url("@{enviro}/pred-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    .background-cover(cover);
    div.foreground {
        width: 100vw;
        height: 100vh;
        position: absolute;
        bottom: -200px;
        left: 0;
        background-image: url("@{enviro}/pred-fore.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        .background-size(contain);
    }
    &:after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        .transition(all 1s ease-in);
    }
    span.lines {
        position: absolute;
        height: 100%;
        width: 30%;
        opacity: 0.3;
        top: 0;
        bottom: 0;
        left: 0;
        background: url('@{img}/lines2.svg') no-repeat;
        background-position: center right;
        display: block;
        .background-cover(cover);
        &.right {
            background-position: center left;
            left: auto;
            right: 0;
        }
    }
    div.icon {
        content: '';
        display: block;
        width: 225px;
        height: 225px;
        margin: 20px auto;
        opacity: 0.6;
        background: url("@{enviro}/icon-pred.svg") no-repeat;
        .background-size(contain);
    }
}

#fixed-section.blank div.background {
    visibility: hidden;
}

#fixed-section.blank {
    background-color: #000;
}

#fixed-section.predator div.background {
    //DEFAULT
}
#fixed-section.prey div.background {
    //
}
#fixed-section.scavenger div.background {
    //
}
#fixed-section.people div.background {
    //
}

#backto div.background {
    background-image: url("@{enviro}/back2wa.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    .background-cover(cover);
    a.explore {
        text-transform: uppercase;
        color: white;
        //border: 
        //font-family: "Uni sans",sans-serif;
        font-weight: 600;
        position: relative;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 2px solid white;
        margin: 40px 0 20px;
        display: inline-block;
        padding: 8px 10px 9px 52px;
        color: white;
        letter-spacing: 1px;
        background-color: rgba(0,0,0,0.5);
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        max-width: 100%;
        &:before {
            position: absolute;
            background: url("@{enviro}/explore.png") 0 0 no-repeat transparent;
            background-size: 25px 25px;
            content: "";
            width: 25px;
            height: 25px;
            top: 50%;
            .translate(0,-50%);
            left: 17px;
            pointer-events: none;
        }
    }
}

#giving div.background {
    background-image: url("@{enviro}/WYCA.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    .background-cover(cover);
    .add-spacing {
        margin: 30px 0;
    }
    div.boundless-button {
        &.dark.sm span {
            border: 3px solid white;
        }
        &:after {
            background: white;
            bottom: 1px;
        }
    }
}














#immersive.hide-white-menu {
    #cv2-header {
        height: 90px;
    }
    #cv2-header .cv2-header-white {
        display: none;
    }
    #cv2-header-white-collapse {
        display: block;
    }
    #pause,
    #pause-yellow {
        top: 80px;
    }
}

@-webkit-keyframes downarrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
  }
}
@keyframes downarrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
  }
}