/*********************************************
 * Importing from UW2014 and other immersives *
 **********************************************/
@import "../../themes/uw-2014/less/uw.variables.less";
@import "../../themes/uw-2014/less/flat/mixins.less";
@import "../../immersive-stories/less/text-block-new.less";
@import "../../immersive-stories/less/button.less";
@import "../../immersive-stories/less/common.less";
@import "../../immersive-stories/less/queries.less";
@import "../../immersive-stories/less/lity.less";
@import "./button-mute.less";
@law: "../../immersive-stories/img/law";
/******
	@media @phone-only{}
	@media (max-width: 500px){}
	@media @tablet-portrait-up{}
	@media @tablet-portait-only{}
	@media @tablet-landscape-up{}
	@media @tablet-landscape-only{}
	@media @desktop-up{}
	@media @desktop-only{}
	@media @big-desktop-up{}
******/
/***************************************************
 * Namespacing to prevent bleed over to /boundless *
 ***************************************************/
body,
html {
  height                 : 100%;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#immersive-body {
  overflow: hidden;

  p {
    font-size  : 17px;
    line-height: 32px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: @headline;
    font-weight: @ultra;
  }
}

/*******************************
 * SECTION - INTRO *
 *******************************/
#section-intro {
  position           : relative;
  display            : flex;
  align-items        : center;
  justify-content    : center;
  height             : calc(~"103vh - 171px");
  background-position: center center;
  .background-cover(cover);

  #mute-btn-hero {
    top  : 20px;
    right: 20px;

    @media(max-width:768px) {
      display: none;
    }
  }

  video {
    object-fit     : cover;
    height         : 100%;
    width          : 100%;
    object-position: 50% 50%;
  }

  .intro-body {
    position       : absolute;
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    top            : 0;
    left           : 0;
    // margin-top: -200px;
    z-index        : 1;

    .intro-text {
      text-align: center;
      margin    : 0 auto;
      width     : 80%;

      h1 {
        color: #fff;
        font-size: 52px;

        @media @tablet-landscape-up {
          font-size: 80px;
        }
      }

      h2 {
        color: #fff;
        margin-top: 0;
        text-transform: uppercase;
      }

      p {
        border-top   : 1px solid white;
        border-bottom: 1px solid white;
        font-size    : 17px;
        color        : white;
      }
    }
  }

  .scrollit {
    z-index: 1;
  }
  @media @tablet-portrait-up {
    .intro-body {
      .intro-text {
        width: 60%;
      }

      p {
        font-size: 28px;
      }
    }
  }
  // @media @phone-only {
  // 	.background-cover(cover);
  // 	background-position: right center;
  // 	.intro-body {
  // 		position: absolute;
  // 		top: 50%;
  // 		left: 0;
  // 		width: 100%;
  // 		margin-top: 0;
  // 		.translate(0, -50%);
  // 	}
  // 	p {
  // 		line-height: 1.4;
  // 		font-size: .65em;
  // 	}
  // }
  //
  // @media (max-width: 500px) {
  // 	.intro-body {
  // 		.col-xs-8 {
  // 			width: 85%;
  // 		}
  // 	}
  // }
  //
  // @media @tablet-portrait-up {}
  //
  // @media @tablet-portait-only {
  // 	background-position: right center;
  // 	.intro-body {
  // 		position: absolute;
  // 		top: 50%;
  // 		left: 0;
  // 		width: 100%;
  // 		margin-top: 0;
  // 		.translate(0, -50%);
  // 	}
  // 	p {
  // 		line-height: 1.4;
  // 	}
  // }
  //
  // @media @tablet-landscape-up {
  // 	h1 {
  // 		font-size: 4.5vw;
  // 	}
  // 	.intro-body {
  // 		p {
  // 			width: 65%;
  // 		}
  // 	}
  // }
}
/*******************************
 * SECTION - MAP *
 *******************************/
#section-map {
  position: relative;
  z-index : 99;
  height  : 100vh;
  width   : 100%;
  overflow: hidden;

  .item {
    width      : 100%;
    height     : 100%;
    position   : absolute;
    top        : 0;
    left       : 0;
    display    : flex;
    align-items: center;
    z-index    : 5;

    .headline {
      position      : relative;
      width         : 90%;
      max-width     : 890px;
      margin        : 0 auto;
      font-size     : 28px;
      color         : white;
      text-align    : center;
      text-transform: uppercase;
      padding       : 30px 0;
      border-top    : 1px solid white;
      border-bottom : 1px solid white;
      text-shadow   : 0 0 3px rgba(37,37,37,0.65);

      .source {
        font-size: 16px;
        position: absolute;
        right: 0;
        bottom: -30px;
      }
    }

    .headline:after,
    .headline:before {
      content         : '';
      position        : absolute;
      display         : block;
      width           : 120px;
      height          : 10px;
      background-color: white;
      opacity         : 0.5;
    }

    .headline:after {
      margin-top: 30px;
    }

    .headline:before {
      top  : -10px;
      right: 0;
    }
  }

  .item-1 {
    .headline:before {
      opacity: 0.5;
    }

    .headline:after {
      opacity: 0.5;
    }
  }

  .item-2 {
    opacity: 0;

    .headline:before {
      opacity: 0.5;
    }

    .headline:after {
      opacity: 0.5;
    }
  }

  .item-3 {
    opacity: 0;

    .headline:before {
      opacity: 0.5;
    }

    .headline:after {
      opacity: 0.5;
    }
  }

  .background {
    width              : 100%;
    height             : 100%;
    top                : 0;
    left               : 0;
    position           : absolute;
    background-position: center top;
    background-size    : cover;
    background-repeat  : no-repeat;
  }

  .background-graph {
    z-index         : 4;
    background-image: url("../img/law/map-graph.png");

    .graph-line {
      position       : absolute;
      display        : flex;
      width          : 100%;
      height         : 100%;
      align-items    : center;
      justify-content: center;

      svg {
        width    : 100%;
        height   : 100%;
        max-width: 1185px;
        opacity  : 0.3;
      }
    }
  }

  .background-1 {
    z-index         : 3;
    background-image: url("../img/law/map-1.jpg");
  }

  .background-2 {
    z-index         : 2;
    background-image: url("../img/law/map-2.jpg");
  }

  .background-3 {
    z-index         : 1;
    background-image: url("../img/law/map-3.jpg");
  }
  @media @tablet-portrait-up {
    .item {
      .headline {
        font-size: 48px;
      }
    }
  }
}
/*******************************
* SECTION - INTRO + BODY *
*******************************/
#section-body,
#section-story {
  background: #efeeea;
  position: relative;
  z-index: 1;

  .callout {
    width: 100%;

    .caption {
      font-size     : 16px;
      font-weight   : bold;
      text-transform: uppercase;
    }
  }

  .text-content {
    color         : #4d4d4d;
    font-size     : 17px;
    padding-top   : 30px;
    padding-bottom: 30px;

    .headline {
      color         : #3e3d3d;
      font-size     : 22px;
      text-transform: none;
    }

    .banner {
      background-color: #b7a57a;
      display: flex;

      p {
        color: #fff;
        flex: 0 1 60%;
        font-size: 12px;
        line-height: 1.8em;
        margin: 20px 35px;
      }

      a {
        background-color: #84754c;
        color: #fff;
        display: flex;
        flex: 0 1 40%;
        flex-direction: column;
        font-size: 30px;
        font-weight: bold;
        justify-content: center;
        line-height: 1.15em;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;

        &::before {
          background-color: #84754c;
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          transition: .25s;
          transform: skew(-15deg, 0);
          transform-origin: top left;
          width: 100%;
          z-index: -1;
        }

        &:hover {
          background-color: #483584;

          &::before  {
            background-color: #483584;
          }
        }
      }
    }
  }

  @media @phone-only {
    .callout {
      &.left {
        margin-left: 0;
      }

      &.right {
        margin-right: 0;
      }
    }
  }

  @media @tablet-portrait-up {
    .callout {
      width: 40vw;

      &.left {
        float      : left;
        margin-left: 0;
        padding    : 14px 30px 14px 0;
      }

      &.right {
        text-align  : left;
        float       : right;
        margin-right: 0;
        padding     : 14px 0 14px 30px;
      }
    }

    .text-content {
      font-size: 20px;

      .headline {
        font-size: 34px;
      }
    }
  }

  @media @tablet-landscape-up {
    .callout {
      width: 40vw;

      &.left {
        float      : left;
        margin-left: -10vw;
        padding    : 14px 30px 14px 0;
      }

      &.right {
        text-align  : left;
        float       : right;
        margin-right: -10vw;
        padding     : 14px 0 14px 30px;
      }
    }
  }

  @media @desktop-up {
    .callout {
      &.left {
        margin-left: -20vw;
      }

      &.right {
        margin-right: -20vw;
      }
    }
  }

  #mute-btn-callout {
    bottom: 70px;
    left  : 35px;

    &:focus {
      outline: none;
    }
  }

}
/*******************************
* SECTION - BODY *
*******************************/
#section-profiles {
  position: relative;
  height  : 100vh;
  width   : 100%;

  .item-1 {
    z-index   : 1;
    background: url("../img/law/profile-1.jpg") center center no-repeat;
  }

  .item-2 {
    z-index   : 0;
    background: url("../img/law/profile-2.jpg") center center no-repeat;
  }
}

#section-photos .item,
#section-profiles .item {
  position           : absolute;
  top                : 0;
  left               : 0;
  width              : 100%;
  height             : 100%;
  color              : white;
  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;

  &:after {
    content         : '';
    display         : block;
    position        : absolute;
    top             : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0,0,0,0.47);
    z-index         : -1;
    opacity         : 0;
    transition      : 0.5s opacity ease;
  }

  .inner {
    width      : 100%;
    height     : 100%;
    display    : flex;
    align-items: flex-end;
  }

  .group {
    position     : relative;
    margin-bottom: 50px;

    .nav {
      text-align  : left;
      margin-left : 5%;
      margin-right: 100px;

      .headline {
        font-size     : 48px;
        margin        : 0;
        text-transform: uppercase;
        font-family   : "Encode Sans Thin",sans-serif;
        font-weight   : 300;
        white-space   : nowrap;
      }

      .read-more {
        display    : inline-block;
        height     : 21px;
        cursor     : pointer;
        font-family: "Encode Sans Thin",sans-serif;
        font-weight: 300;

        .text,
        svg#icon-eye {
          display       : inline-block;
          vertical-align: middle;
        }

        svg#icon-eye {
          margin-right: 6px;
          width       : 32px;

          .icon-line {
            stroke: @darkgold;
          }
        }

        .text {
          color    : white;
          font-size: 19px;
        }

        &:hover {
          .text {
            color: @darkgold;
          }

          .icon-line {
            stroke: @darkgold;
          }
        }
      }
    }

    .description {
      opacity   : 0;
      width     : 90%;
      font-size : 20px;
      margin    : 20px auto 0;
      color     : white;
      transform : translateX(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }
  @media @tablet-portrait-up {
    .group {
      .nav {}
      // width:50%;
      // margin-left:100px;
      // display:flex;
      // flex-wrap: nowrap;
    }
  }
  @media @desktop-up {
    .inner {
      display    : flex;
      align-items: flex-start;
      //align-items:center;
    }

    .group {
      width        : 60%;
      margin-top   : 50vh;
      //margin-left:100px;
      margin-bottom: 0;
      display      : flex;
      flex-wrap    : nowrap;

      .nav {
        margin-left: 100px;
      }

      .description {
        margin: 0;
      }
    }
  }

  &.show-description {
    &:after {
      opacity: 1;
    }

    .description {
      opacity  : 1;
      transform: translateX(0);
    }
  }

}



/*******************************
* SECTION - VIDEO-INTRO *
*******************************/
#section-video-intro {
  height             : 100vh;
  background-image   : url("../img/law/video-intro.jpg");
  background-position: 63% top;
  background-repeat  : no-repeat;
  background-size    : cover;

  .inner {
    background : transparent;
    background : rgba(37,39,42,0.75);
    height     : 100%;
    display    : flex;
    align-items: center;
    text-align : center;

    .group {
      .quote-mark {
        color      : white;
        font-size  : 60px;
        font-weight: 900;
        line-height: 0;
        display    : block;
        font-family: "Encode Sans Normal",sans-serif;

        &.quote-top {
          text-align: left;
        }

        &.quote-bottom {
          text-align   : right;
          margin-bottom: 50px;
        }
      }

      .headline {
        margin                : 10px 0 35px;
        font-size             : 24px;
        font-family           : "Encode Sans Normal", sans-serif;
        font-weight           : 300;
        color                 : white;
        text-transform        : uppercase;
        -webkit-font-smoothing: antialiased;
      }

      .play-video {
        svg {
          width: 100px;
        }

        div {
          font-size     : 18px;
          text-transform: uppercase;
          color         : white;
        }

        &:hover {
          div {
            color: #baa87c;
          }

          .cls-1 {
            fill: #baa87c;
          }

          .cls-1,
          .cls-2 {
            stroke: #baa87c;
          }
        }
      }
    }
  }
  @media @tablet-portrait-up {
    background-position: center top;

    .inner {
      .group {
        .headline {
          font-size: 37px;
        }
      }
    }
  }
}
/*******************************
* SECTION - PHOTOS *
*******************************/
#section-photos {
  position: relative;
  height  : 100vh;
  width   : 100%;

  .item-1 {
    z-index         : 2;
    background-image: url("../img/law/photo-1.jpg");
  }

  .item-2 {
    z-index         : 1;
    background-image: url("../img/law/photo-2.jpg");
  }

  .item-3 {
    z-index         : 0;
    background-image: url("../img/law/photo-3.jpg");
  }
}
/*******************************
* SECTION - END *
*******************************/
#section-end {
  background-image   : url("../img/law/end-section.jpg");
  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;
  text-align         : center;
  position           : relative;
  height             : 100vh;
  min-height         : 100vh;

  .inner {
    background : transparent;
    background : rgba(0,0,0,0.56);
    display    : flex;
    align-items: center;
    height     : 100%;

    h1 {}

    h2 {
      color: #fff;
      margin-top: 0;
      text-transform: uppercase;
    }

    p {
      font-size    : 18px;
      border-top   : 1px solid white;
      border-bottom: 1px solid white;
      color        : white;
      padding      : 10px 0;
      margin       : 10px 0;
    }

    @media @tablet-landscape-up {
      p {
        font-size: 24px;
        padding  : 20px 0;
        margin   : 25px 0;
      }
    }
  }

  .boundless-button {
    display           : inline-block;
    border-left       : none !important;
    overflow          : hidden;
    padding           : 1px 15px 0 0;
    margin-top        : 10px;
    -webkit-transition: all 0.1s ease-in;
    transition        : all 0.1s ease-in;
    cursor            : pointer;
    position          : relative;

    &:after {
      background: white;
      bottom    : 1px;
    }

    span {
      background-color: white;
      border          : 3px solid white !important;
    }
  }
}
/***********************
 * Other bits and bobs *
 ***********************/
/******
	@media @phone-only{}
	@media (max-width: 500px){}
	@media @tablet-portrait-up{}
	@media @tablet-portait-only{}
	@media @tablet-landscape-up{}
	@media @tablet-landscape-only{}
	@media @desktop-up{}
	@media @desktop-only{}
	@media @big-desktop-up{}
******/
/**
 * 'Continue Scrolling' indicator
 */
.scroll-indicator {
  position: absolute;
  left    : 50%;
  bottom  : 50px;
  z-index : 9;

  .scrollHide & {
    .transition(opacity .2s linear);
    opacity       : 0;
    pointer-events: none;
  }
  @media (max-width: 728px) {
    display: none;
  }
}

.mouse {
  position     : absolute;
  width        : 22px;
  height       : 42px;
  left         : 50%;
  margin-left  : -12px;
  border-radius: 15px;
  border       : 2px solid white;
  animation    : scroll-intro 1s;

  @media (min-width: 767px) {
    .mouseHorz & {
      position: relative;
      margin  : 0;
      left    : auto;
      bottom  : auto;

      &:after {
        content    : "Scroll down";
        position   : absolute;
        left       : -32px;
        bottom     : -32px;
        font-family: @font-family-base;
        font-weight: 800;
        font-size  : 14px;
        width      : 120px;
        color      : white;
        text-shadow: 1px 1px 2px rgba(0,0,0,.6);
      }
    }
  }

  @media (max-width: 728px) {
    bottom: 0;
  }
}

.scroll {
  display      : block;
  width        : 4px;
  height       : 4px;
  margin       : 6px auto;
  border-radius: 4px;
  background   : white;
  animation    : scroll-finger 1.3s infinite;
}

@keyframes scroll-intro {
  0% {
    opacity  : 0;
    transform: translateY(40px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

@keyframes scroll-finger {
  0% {
    opacity: 1;
  }

  100% {
    opacity          : 0;
    -webkit-transform: translateY(20px);
    transform        : translateY(20px);
  }
}
