/*********************************************
 * Importing from UW2014 and other immersives *
 **********************************************/

 @import "../../themes/uw-2014/less/uw.variables.less";
 @import "../../themes/uw-2014/less/flat/mixins.less";
 @import "../../immersive-stories/less/text-block-new.less";
 @import "../../immersive-stories/less/button.less";
 @import "../../immersive-stories/less/common.less";
 @import "../../immersive-stories/less/queries.less";
 @import "../../immersive-stories/less/lity.less";
 @import "../../immersive-stories/less/slideshow.less";
 
 @img: "../../immersive-stories/img";
 @lovejoy: "../../immersive-stories/img/lovejoy";
 
 
 
 /***************************************************
 * Namespacing to prevent bleed over to /boundless *
 ***************************************************/
 
html{
	margin:0;
	padding:0;
	height:100%;
}
#immersive-body {
	overflow: hidden;

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: @headline;
		font-weight: @ultra;
	}

}
 
 h2 {
		color: @purple;
		//font-size: 32px;
	}
 
 /*******************************
 * Intro and associated styles *
 *******************************/
.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(~"103vh - 171px");
	background-image:url("@{lovejoy}/header.jpg");
	.background-cover(cover);
	background-position: top 20%;
	text-align:left;
	color:white;
	z-index: -1;
	// #intro-text{
	// 	width:51%;
	// 	left:22px;
	// }

	h1 {
		text-transform: uppercase;
		line-height: 1.1;
		font-size: 31px;
		text-shadow: 0px 0px 3px rgba(37, 37, 37, 0.65);
		text-align:right;
	}

	p{
		text-align:right;
		color:white;
		font-weight:bold;
		text-shadow: 0px 0px 3px rgba(37, 37, 37, 0.65);
	}

	.intro-body {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		margin-top: -200px;
	}

	@media @phone-only {
		background-image:url("@{lovejoy}/fpo.png");
		width:100%;
		height:300px;
		background-position: right center;

		#intro-text{
			width:100%;
			left:0;
			padding:0 30px;
		}

		.intro-body {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			margin-top: 0;
			.translate(0, -50%);
		}

		h1{
			font-size:1em;
			text-shadow: 1px 1px #333;
		}

		p{
			line-height: 1.4;
			font-size: .65em;
			text-shadow: 1px 1px #333;
		}

	}

	@media (max-width: 500px) {
		.intro-body {
			.col-xs-8 {
				width: 85%;
			}
		}
		.scrollit{
			display:none;
		}
	}

	@media @tablet-portait-only {
		.intro-body {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			margin-top: 0;
			.translate(0,
			-50%);
		}

		p {
			line-height: 1.4;
		}
	}

	@media @tablet-landscape-up {
		h1 {
			font-size: 3.5vw;
		}
	}
}

/***************
 * Text blocks *
 ***************/
#video{
	height:30vw;
	background: white url("@{lovejoy}/video.jpg") center center no-repeat;
	.background-cover(cover);
	a{
		margin-top:12vw;
		text-align:center;
	}
}
#video-body{
	height:40vw;
	background: white url("@{lovejoy}/lj-body.jpg") center center no-repeat;
	.background-cover(cover);
}
.text-block.black{
	background-color:transparent;
	color:white;

	p , h2{
		color:white;
	}
}

.text-block p.purple {
	color:@purple;
	font-size: 22px; 
}

.gold-quote.white {
	color: white;
}

.no-h2 {
	margin-top: 79.5px;
}



/*********************
 * Horizontal Scroll *
 *********************/
// #content-wrapper, 
// #example-wrapper {
//     height: 100%;
// }
// #example-wrapper .scrollContent {
//     height: 100%;
// }
// #example-wrapper.horizontal {
//     white-space: nowrap;
// }

// .horizontal section, .horizontal section#titlechart {
//     display: inline-block;
//     vertical-align: top;
//     height: 100%;
// }

// .horizontal section {
// 	height: 100vh;
//     width: 100vw;
//     white-space: normal;
//     .container {
//     	height: 100%;
// 	    display: flex;
// 	    align-items: center;
// 	    justify-content: center;
//     }
// }

// .scrollContent {
//     color: white;
//     position: relative;
//     .transition(all .5s ease-in-out);
//     opacity: 1;
//     .translate(0, 0);
// }
// 
#side-slider {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	background-color: black;
	//padding-bottom: 100%;

}
#primary-wrapper {
		width: 100%;
		height: 100%;
		min-height: 100vh;
		overflow: hidden;
		z-index: 2;
		background: black;
		-webkit-perspective: 1000;
		        perspective: 1000;
}
#secondary-wrapper {
	width: 400%; /* to contain 4 panels, each with 100% of window width */
	height: 100%;
	//overflow: hidden;
	section {
		height: 100%;
		min-height: 100vh;
		width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
		float: left;
		// &:last-child {
		// 	width: 34%;
		// }
	}
}
#horizontal-static-images {
	// position: absolute;
	// height: 100%;
	// width: 100%;
	// right: 0;
	// top: 0;
	img {
		position: absolute;
		height: 100%;
		width: auto;
		max-width: 100%;
		right: 0;
		bottom: 0;
		opacity: 0;
		//visibility: hidden;
	}
	#horizontal-image-1 {
		opacity: 1;
		// visibility: visible;
	}
}



/*
@media(min-width:1200px){}
@media(min-width:992px) and (max-width:1200px){}
@media(min-width:768px) and (max-width:992px){}
@media(max-width:768px){}

@media @phone-only{}
@media (max-width: 500px){}
@media @tablet-portrait-up{}
@media @tablet-portait-only{}
@media @tablet-landscape-up{}
@media @tablet-landscape-only{}
@media @desktop-up{}
@media @desktop-only{}
@media @big-desktop-up{}
*/
