/*********************************************
 * Importing from UW2014 and other immersives *
 **********************************************/
@import "../../themes/uw-2014/less/uw.variables.less";
@import "../../themes/uw-2014/less/flat/mixins.less";
@import "../../immersive-stories/less/text-block-new.less";
@import "../../immersive-stories/less/button.less";
@import "../../immersive-stories/less/common.less";
@import "../../immersive-stories/less/queries.less";
@import "../../immersive-stories/less/lity.less";
@import "./button-mute.less";
@import "../../immersive-stories/css/libraries/animsition.min.css";

@comotion: "../../immersive-stories/img/comotion";
@pr: "../../immersive-stories/img/puerto-rico";
@ess: "../../immersive-stories/img/ess";
/******
    @media @phone-only{}
    @media (max-width: 500px){}
    @media @tablet-portrait-up{}
    @media @tablet-portait-only{}
    @media @tablet-landscape-up{}
    @media @tablet-landscape-only{}
    @media @desktop-up{}
    @media @desktop-only{}
    @media @big-desktop-up{}
******/
/***************************************************
 * Namespacing to prevent bleed over to /boundless *
 ***************************************************/
body,
html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //background-color: #efeeea;
}
main {
    margin-top: 20px;
}
#immersive-body {
    overflow: hidden;

    p {
        font-size: 17px;
        line-height: 32px;
    }

    h1 {
        font-family: @headline;
        font-weight: @ultra;
    }

    h2,
    h3,
    h4,
    h5 {
        font-family: "Encode Sans Regular", sans-serif;
        font-weight: 100;
        text-transform: uppercase;
    }
    h2,
    h3 {
        color: #818181;
    }

    .text-content {
        padding-top: 5rem;
        padding-bottom: 5rem;

        &--full {
            display: flex;
            align-items: center;
            height: 100vh;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .slideplay .fader .icon h2 {
        color: #FFFFFF;
    }

    .float-image p.caption {
            font-size: 14px;
            line-height: 1.3;
            color: @darkgray;
            font-style: italic;
    }

    .img-responsive {
        width: 100%;
    }

}

/*******************************
 * Intro and associated styles *
 *******************************/

    video {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: 50% 50%;
    }
    #vid-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.2);
    }
    #pause {
        position: absolute;
        display: block;
        text-indent: -999px;
        overflow-x: hidden;
        width: 45px;
        height: 45px;
        left: 20px;
        top: 15px;
        border: none;
        background: url("@{img}/pause.svg") no-repeat 0 0 transparent;
        z-index: 2;
        &:hover,
        &:focus {
            background-position-x: -47px;
        }
        &:focus {
            outline-color: rgb(59, 153, 252);
            outline-style: auto;
            outline-width: 5px;
        }
        @media(max-width:768px) {
            display: none;
        }
    }
    &.paused {
        #pause {
            background-position: 0 -49px;
            &:hover {
                background-position-x: -47px;
            }
            &:focus {
                outline-color: rgb(59, 153, 252);
                outline-style: auto;
                outline-width: 5px;
            }
        }
    }
    .intro {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(~"103vh - 171px");
        .background-cover(cover);
        background-position: center center;
        margin-bottom: 0;

        p {
            color: white;
            text-shadow: 0 0 3px rgba(37, 37, 37, 0.65);
        }

        h1 {
            text-transform: uppercase;
            color: white;
            line-height: 1.1;
            text-shadow: 0 0 3px rgba(37, 37, 37, 0.65);
            font-size: 6.5vw;
        }

        .intro-body {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: -200px;
            z-index: 1;
        }

        .scrollit {
            z-index: 1;
        }

        @media @phone-only {
            .background-cover(cover);
            background-position: right top;

            #vid-overlay {
                //background: rgba(0,0,0,0.2);
            }

            .intro-body {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                margin-top: 0;
                .translate(0,
                -50%);
            }

            p {
                line-height: 1.4;
                font-size: .65em;
            }

            .udub-slant {
                display: none;
            }
        }

        @media (max-width: 500px) {
            .intro-body {
                .col-xs-8 {
                    width: 85%;
                }
            }
        }
        @media (max-width: 768px) {
            background-image: url(../../immersive-stories/img/comotion/HEADER.jpg);
            .background-size(cover);
            background-position: right center;
            background-repeat: no-repeat;
            #vid-overlay{
                //display: none;
            }
            video {
                display: none;
            }
        }

        @media @tablet-portrait-up {}

        @media @tablet-portait-only {
            background-position: right center;

            .intro-body {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                margin-top: 0;
                .translate(0,
                -50%);
            }

            p {
                line-height: 1.4;
            }
        }

        @media @tablet-landscape-up {

            h1 {
                //font-size: 4.5vw;
            }

            .intro-body {

                p {
                    width: 60%;
                }
            }
        }

        @media @tablet-landscape-only {}
        @media @desktop-up {}
        @media @desktop-only {}
        @media @big-desktop-up {}
    }

    .version-switch {
        position: absolute;
        width: 100%;
        background-color: rgba(0,0,0,0.1);
        top: 171px;
        height: 75px;
        z-index: 1;
        button {
                position: absolute;
                padding: 5px 25px;
                border: none;
                background-color: #4c2b85;
                color: white;
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
                top: 17px;
                right: 10px;
                &:focus,
                &:hover,
                &:active {
                        color: @lightgold;
                }
                &:focus {
                        outline-color: #3b99fc;
                        outline-style: auto;
                        outline-width: 5px;
                }
        }
        @media (max-width: 768px) {
                background-color: transparent;
                top: 60px;
                button {
                        right: auto;
                        left: 10px;
                        font-size: 14px;
                }
        }
}

.grey .version-switch {
        top: auto;
        bottom: 0;
        @media (max-width: 768px) {

                position: inherit;
                height: auto;
                margin-bottom: 25px;
                button {
                        position: inherit;
                        width: 100%;
                }
        }
}

.donor-appeal #version-switch {
        width: 100%;
        bottom: 0;
}


/*******************************
 * Farmer Brown profile styles *
 *******************************/

#profiles {
        width: 100%;
        // padding: 50px 0;
        color: white;
        overflow: hidden;
        .container {
                text-align: right;
        }
        #people {
            padding-left: 0;
            text-align: center;
            li {
                width: 50%;
                margin: 0;
                float: left;
                height: 25vw;
                .background-cover(cover);
                background-position: center center;
                position: relative;
                overflow: hidden;
                display: inline-block;
                outline: 5px solid #fff;
                &:hover,
                &:active,
                &:focus,
                &.active-focus,
                &.active {
                    cursor: pointer;
                    div.hider {
                            .scale(1,1);
                            opacity: 1;
                    }
                }
                &.active {
                    div.hider {
                        &:after {
                                .translate(0,0);
                        }
                    }
                }
                a {
                    text-decoration: underline;
                }
                div.hider {
                    .scale(2,2);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 15% 10% 15%;
                    background-color: rgba(183, 165, 122, 0.69);
                    .transition(all .1s linear);
                    opacity: 0;
                    vertical-align: middle;
                }
                .hider > p {
                    font-size: 14px;
                    color: white;
                    padding: 5px 0;
                    border: 4px solid white;
                    margin-bottom: -4px;
                    background-color: @lightgold;
                    span {
                            font-weight: bold;
                    }
                }
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    font-family: @uni;
                    color: @lightgold;
                    background-color: #fff;
                    padding: 5px 0;
                    margin: 0;
                }
            }
        }
        @media(min-width:768px) {
            #people {
                li {
                    width: 33.333333%;
                    height: calc(33vw * 0.5);
                    display: table;
                    div.hider {
                        padding: 0 15%;
                        display: table-cell;
                        position: static;
                    }
                    div.hider > p {
                        font-size: 15px;
                    }
                }
            }
        }
        @media only screen and (min-width : 768px ) and (max-width : 992px) {
                #people {
                    li {
                        width: 50%;
                        height: 25vw;
                    }
                }
        }
        @media(max-width:768px) {
                #people {
                    li {
                        height: 50vw;
                        width: 100%;
                    }
                }
        }
}


.pax-1 { background-image: url("@{pr}/portrait_1.jpg") }
.pax-2 { background-image: url("@{pr}/portrait_2.jpg") }
.pax-3 { background-image: url("@{pr}/portrait_3.jpg") }
.pax-4 { background-image: url("@{pr}/portrait_4.jpg") }
.pax-5 { background-image: url("@{pr}/portrait_5.jpg") }
.pax-6 { background-image: url("@{pr}/portrait_6.jpg") }
.pax-7 { background-image: url("@{pr}/portrait_7.jpg") }
.pax-8 { background-image: url("@{pr}/portrait_8.jpg") }
.pax-9 { background-image: url("@{pr}/portrait_9.jpg") }



/****************************
 *   Lower callout images   *
 ****************************/


    .float-image {
        position: relative;
        max-width: 600px;
        p.caption {
        }
    }

    @media @phone-only {
        .left.float-image {
            margin-left: 0;
        }

        .right.float-image {
            margin-right: 0;
        }
    }

    @media @tablet-portrait-up {
        .float-image {
            width: 40vw;
            padding: 20px 60px;
        }

        .left.float-image {
            float: left;
            margin-left: 0;
            //padding: 14px 30px;
        }

        .right.float-image {
            float: right;
            margin-right: 0;
            //padding: 14px 30px;
        }
        .right {
            text-align: left;
        }
    }

    @media @tablet-landscape-up {
        //.float-image { width: 45vw; }

        .left.float-image {
            margin-left: -10vw;
        }

        .right.float-image {
            margin-right: -10vw;
        }
    }

    @media @desktop-up {
        //.float-image { width: 55vw; }

        .left.float-image {
            //margin-left: -15vw;
        }

        .right.float-image {
            //margin-right: -15vw;
        }
    }


/*******************************
 * Expander button and section *
 *******************************/
a.expander {
    color: @text-color;
    font-weight: 500;
    //font-size: 16px;
    font-family: @font-family-headline;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: none;
    .transition(all .1s ease-in);
    &:hover,
    &.active,
    &:focus {
        color: @lightgold;
        //.translate(0, -5px);
        &:after {
            .rotate(45deg);
            border-color: @lightgold;
            //.transform-origin(center center);
        }
    }
    &:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 0 1px 10px;
        border: 2px solid @text-color;
        border-bottom-right-radius: 2px;
        border-top: none;
        border-left: none;
        .rotate(-45deg);
        .transition(all .1s ease-in);
    }
    &.less {
        color: @lightgold;
        margin-top: 30px;
        //color: @darkgold;
        &:after {
            border-color: @lightgold;
            .rotate(-135deg);
        }
        &:hover,
        &:focus {
            color: @darkgold;
            &:after {
                border-color: @darkgold;
            }
        }
    }
}
div.hidden-part {
    height: auto;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    margin-top: 10px;
    .transition(all .2s ease-in-out);
    &.show-part {
        max-height: 9999px;
        opacity: 1;
        margin-top: 50px;
        padding: 20px 0;
    }
}
.visible-part p {
    border: 1px @lightgold solid;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}
#expanding {
    background: #F2F2F2;
    &.text-block .copy.expandable-container {
        padding: 20px 90px 30px;
        @media @phone-only {  // (max-width: 599px)
            padding: 20px;
        }
    }
}
#expanding + section.text-block.start .copy {
    margin-top: 0;
    padding-top: 0;
}
@media (min-width: 768px) {
    #expanding.expanded {
        img.slide1,
        img.slide2 {
            visibility: visible;
            opacity: 1;
        }
    }
}


/***************************
 * Scrollbar and Scrollbar *
 ***************************/
 #scrollbar {
        z-index: 10;
        opacity: 1.0;
        position: fixed;
        top: 0;
        height: 0;
        width: 100%;
        background-color: #ECECEC;
        overflow: hidden;
        .transition(all .2s ease-in);
        &.active {
            height: 30px;
        }
        span {
            height: 100%;
            width: 0%;
            display: block;
            background-color: #E0E0E0;
            .transition(all .1s ease-in);
        }
        .grayW {
            position: absolute;
            top: 5px;
            height: 20px;
            width: auto;
            left: 50%;
            .translate(-50%, 0);
        }
 }

/**********************
 * Videos and YouTube *
 **********************/

.slideplay.active video, .slideplay.active img{
        display: block;
}
.slideplay{
        position: relative;
        cursor:pointer;
}
.slideplay .icon {
    position: absolute;
    width: 60%;
    bottom: 25%;
    left: 30%;
    // transform: translateX(-50%) translateY(-50%);
    // text-align: center;
    img {
        height: auto;
        width: 180px;
        margin: 0 auto;
        .transition(all .2s ease-in-out);
    }
    a.click {
        padding: 14px 150px 13px 10px;
        font-size: 25px;
        line-height: 1.4;
        display: block;
        font-family: @headline;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        margin-top: 0;
        opacity: 0.9;
        .transition(all .2s ease-in-out);
    }
}
.slideplay .icon a.click:hover {
    outline: 15px solid rgba(183,165,122,0.2);
    opacity: 1.0;
    &:after {
        .scale(1.1, 1.1);
        opacity: 1.0;
    }
}
.slideplay .icon a:after {

        content: "";
        position: absolute;
        background: url(../../immersive-stories/img/sprite.svg) no-repeat -93px -337px rgba(0,0,0,0);
        width: 75px;
        height: 75px;
        right: 0;
        opacity: 0.9;
        .transition( all .1s linear );
}
.slideplay .icon a:before {
        content: "";
        position: absolute;
        background: url(../../immersive-stories/img/sprite.svg) no-repeat 9px -463px rgba(0,0,0,0);
        width: 52px;
        height: 145px;
        bottom: -31px;
        right: 100px;
        opacity: 0.9;
}


.purp{
    color: #4b2e83;
}

.slideplay .fader{
        // height: 100%;
        // width: 100%;
        z-index: 1;
        // margin-bottom: 50px; //add only to second
        position: relative;
        opacity: 0;
        transition: 600ms opacity;
        pointer-events: none;
        object-fit: cover;
}
.slideplay .fader.show{
        opacity: 1;
        pointer-events: all;
}
.slideplay img{
        height: 100%;
        width: 100%;
        object-fit: cover;
}
.slideplay video{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 10;
        object-fit: cover;
}
.slideplay.frame {
    // height: 42.55vw;
    //height: 56.25vw;
    // max-height: 100vh;
}
.frame{
        // height: 600px;
        // height: 100vh;
        width: 100%;
        // position: relative;
}
.frame.video{
        //overflow: hidden;
}
.frame.video video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
}
.frame.image{
        //overflow: hidden;
}
.frame.image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
}
.frame.active img{
        display: block;
}
.slideplay {
    opacity: 1;
    .transition(opacity 1s ease-in-out);//this doesnt work bc of z-index
    &.ophide {
        opacity: 0;
    }
}

#slideplay1 {
    z-index: 3;
    &.post-scene {
        z-index: 1;
    }

}

@media (min-width: 768px) {
    [id$="youtube-video"] {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 9999;
            margin: 0;
    }
    .slideplay iframe {
        margin: 0;
    }
}
@media (max-width: 768px) {
    [id$="youtube-video"] {
        margin: 0;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 999;
        bottom: 40px;
        width: 100% !important;
        height: 42vw !important;
    }
    .slideplay .icon {
        width: 90%;
        a.click {
            font-size: 16px;
            &:before {
                height: 100px;
                bottom: -26px;
            }
            &:after {
                bottom: -26px;
            }
        }
    }
}

@media (max-width: 1000px) and (min-width: 769px){
    .slideplay .icon {
        width: 80%;
    }
}

/*****************
 * Giving Widget *
 *****************/

 .text-block.giving-widget.branded {
        background-image: url("@{pr}/footer.jpg");
        .background-size(cover);
        background-position: center bottom;
        background-repeat: no-repeat;
        margin-top: 0;
 }
        .arrow:after {
            display: none !important;
        }


