/**********************************************
 * Importing from UW2014 and other immersives *
 **********************************************/
	@import "../../themes/uw-2014/less/uw.variables.less";
	@import "../../themes/uw-2014/less/flat/mixins.less";
	@import "../../immersive-stories/less/text-block-new.less";
	@import "../../immersive-stories/less/button.less";
	@import "../../immersive-stories/less/common.less";
	@import "../../immersive-stories/less/queries.less";
	@import "../../immersive-stories/less/lity.less";
	@import "../../immersive-stories/less/slideshow.less";

	@fb: "../../immersive-stories/img/farmer-brown";
	@public: "../../immersive-stories/img/public-health";
	@foster: "../../immersive-stories/img/foster-school";
	@evans: "../../immersive-stories/img/evans-school";
	@img: "../../immersive-stories/img";
	@socialwork: "../../immersive-stories/img/socialwork";



/***************************************************
 * Namespacing to prevent bleed over to /boundless *
 ***************************************************/
	#immersive-body{
		overflow:hidden;

		h1,
		h2,
		h3,
		h4,
		h5{
			font-family:@headline;
			font-weight:@ultra;
		}

	}



/*******************************
 * Intro and associated styles *
 *******************************/
	.intro{
		display:flex;
		align-items:center;
		justify-content:center;
		height:calc(~"103vh - 171px");
		background-image:url("@{foster}/yesenia.jpg");
		.background-cover(cover);
		background-position:center center;

		p{
			color:white;
		}

		h1{
			text-transform:uppercase;
			color:white;
			line-height:1.1;
			text-shadow:0 0 3px rgba(37,37,37,0.65);
			font-size:31px;
		}

		.intro-body{
			position:absolute;
			top:50%;
			left:0;
			width:100%;
			margin-top:-200px;
		}

		@media @phone-only{
			background-image:url("@{foster}/yesenia-mobile.jpg");
			.background-cover(cover);
			background-position:right center;

			.intro-body{
				position:absolute;
				top:50%;
				left:0;
				width:100%;
				margin-top:0;
				.translate(0,-50%);
			}

			p{
				line-height:1.4;
				font-size:.65em;
			}

			.udub-slant{
				display:none;
			}

		}

		@media (max-width: 500px){
			background-image:url("@{foster}/yesenia-mobile-portrait.jpg");

			.intro-body{
				.col-xs-8{
					width:85%;
				}
			}

		}

		@media @tablet-portrait-up{}

		@media @tablet-portait-only{
			 background-image:url("@{foster}/yesenia-tablet.jpg");
			 background-position:right center;

			.intro-body{
				position:absolute;
				top:50%;
				left:0;
				width:100%;
				margin-top:0;
				.translate(0,-50%);
			}

			p{
				line-height:1.4;
			}

		}

		@media @tablet-landscape-up{

			h1{
				font-size:4.5vw;
			}

			.intro-body{

				p{
					width:65%;
				}

			}

		}

		@media @tablet-landscape-only{}
		@media @desktop-up{}
		@media @desktop-only{}
		@media @big-desktop-up{}
	}

/************
 * Profile? *
 ************/
	.profile{
		margin-bottom:-15px;

		.background{
			// height:50vw;
			height:29vw;
			max-height:29vw;
			width:70%;
			margin-top:-2px;
			margin-left:-14vw;
			background-color:#efece1;
			.skew(-15deg,0);
		}

		.photograph{
			background-image:url("@{foster}/yesenia-cutout.jpg");
			background-repeat:no-repeat;
			.background-cover(cover);
			background-position:left top;
			width:60%;
			// height:46vw;
			height:25vw;
			max-height:25vw;
			position:absolute;
			top:1.5vw;
			right:-150px;
			.skew(-15deg,0);
		}
		.text{
			margin:10vw 5vw;
			padding:0;
			width:50%;
			position:absolute;
			top:0;

			p.name{
				position:relative;
				font-family:@headline;
				font-weight:@ultra;
				color:@purple;
				text-transform:uppercase;
				font-size:2.5vw;
				display:inline-block;
				margin-bottom:0;
				line-height:1.1;
			}

			p.title{
				font-size:1.5vw;
				color:@purple;
				line-height:1.5;
			}

		}

		@media @phone-only{
			.photograph{
				height:24vw;
				max-height:24vw;
				right:-40px;
				top:1vw;
			}
			.text{
				margin:8vw 5vw;
				p.name{
					font-size:3.5vw;
				}
				p.title{
					font-size:2.25vw;
				}
			}
		}

		@media (max-width: 500px){}

		@media @tablet-portrait-up{
			.photograph{
				height:24vw;
				max-height:24vw;
				right:-70px;
				top:1.75vw;
			}
			.text{
				margin:8vw 5vw;
				p.name{
					font-size:3.75vw;
				}
				p.title{
					font-size:2.25vw;
				}
			}
		}
		@media @tablet-portait-only{}
		@media @tablet-landscape-up{}
		@media @tablet-landscape-only{}
		@media @desktop-up{}
		@media @desktop-only{}
		@media @big-desktop-up{}
	}



/***********************
 * Infographics, baby! *
 ***********************/
	/*#slide1,
	#slide2,
	#slide3,
	#slide4,
	#slide5{
		.background-cover(cover);
		background-position:center center;
	}
	#slide1{background-image:url("@{socialwork}/SocialDev_graphic-v8-01.png");}
	#slide2{background-image:url("@{socialwork}/SocialDev_graphic-v8-02.png");}
	#slide3{background-image:url("@{socialwork}/SocialDev_graphic-v8-03.png");}
	#slide4{background-image:url("@{socialwork}/SocialDev_graphic-v8-04.png");}
	#slide5{background-image:url("@{socialwork}/SocialDev_graphic-v8-05.png");}*/



/***********************
 * Other bits and bobs *
 ***********************/
	.copy h3,
	.two-column-copy-left h3,
	.two-column-copy-right h3{
		color:#b7a57a;
	}
	.two-column-image-margin{
		margin-top:29px;
	}
	.text-block{
		.img-inset{
			border:1px solid #b7a57a;
			border-radius:50%;
			width:75px;
			height:75px;
			margin-right:5px;
		}
		&.black{
			background-color:black;
		}
		&.grey{
			background-color:#f1f1f1;
		}
		&.gold{
			background-color:#b7a57a;
			h3,
			p{
				color:@purple;
			}
		}
		&.giving-widget-promoted{
			background-color:#b7a57a;
			padding:20px 180px;

			h3,
			p{
				color:@purple;
			}

			#close-give{
				position:absolute;
				top:124px;
				right:-41px;
			}
		}
		.two-column-copy-left{
			padding:70px 30px 60px 90px;
		}
		.two-column-copy-right{
			padding:70px 90px 60px 30px;
		}
	}
	.pull-quote{
		p.meta{
			line-height:1.2;
		}
		span.name{
			font-family:@headline;
			font-weight:@ultra;
			color:#b7a57a;
			font-size:14px;
		}
		span.title{
			font-size:14px;
		}
		p.quote{
			color:@purple;
			font-size:14px;
			margin-bottom:60px;
		}
	}
	blockquote{
		margin:0;
		padding:0;
		border:none;
		p.quote{
			color:@purple;
			font-size:14px;
			padding:0 35px;

			&:before{
				font-family:@headline;
				font-weight:@ultra;
				color:#b7a57a;
				font-size:60px;
				position:relative;
				top:25px;
				line-height:0;
				display:block;
				content:"\201C";
				float:left;
				margin-left:-30px;
			}
			&:after{
				font-family:@headline;
				font-weight:@ultra;
				color:#b7a57a;
				font-size:60px;
				position:relative;
				top:27px;
				line-height:0;
				display:block;
				content:"\201D";
				float:right;
				margin-right:-30px;
			}
		}
		cite p{
			font-size:13px;
			padding:0 35px;
			color:@purple;
		}
		cite p span{
			font-family:@headline;
			font-weight:@ultra;
			font-size:17px;
			color:#b7a57a;
		}
	}
	iframe{
		margin:0;
	}
	.caption{
		font-size:.75em;
		text-align:center;
	}
	@media @tablet-landscape-up{
		.text-block.giving-widget-promoted>div:first-child{
			background:transparent;
		}
	}
	@media @tablet-portrait-up{
		.text-block.giving-widget-promoted>div:first-child{
			background:transparent;
		}
	}
	@media @tablet-portait-only{
		.text-block.giving-widget-promoted{
			padding:15px;
		}
		.text-block{
			.two-column-copy-left{
				padding:0 15px;
			}
			.two-column-copy-right{
				padding:0 15px;
			}
		}
	}
	@media @phone-only{
		.text-block.giving-widget-promoted>div:first-child{
			background:transparent;
		}
		.text-block.giving-widget-promoted{
			padding:15px;
		}
		.text-block{
			.two-column-copy-left{
				padding:0 15px;
			}
			.two-column-copy-right{
				padding:0 15px;
			}
		}
	}


/*
	@media @phone-only{}
	@media (max-width: 500px){}
	@media @tablet-portrait-up{}
	@media @tablet-portait-only{}
	@media @tablet-landscape-up{}
	@media @tablet-landscape-only{}
	@media @desktop-up{}
	@media @desktop-only{}
	@media @big-desktop-up{}
*/