/**********************************************
 * Importing from UW2014 and other immersives *
 **********************************************/

	@import "../../themes/uw-2014/less/uw.variables.less";
	@import "../../themes/uw-2014/less/flat/mixins.less";
	@import "../../immersive-stories/less/text-block-new.less";
	@import "../../immersive-stories/less/button.less";
	@import "../../immersive-stories/less/common.less";
	@import "../../immersive-stories/less/queries.less";
	@import "../../immersive-stories/less/lity.less";

	@socialwork: "../../immersive-stories/img/socialwork";



/***************************************************
 * Namespacing to prevent bleed over to /boundless *
 ***************************************************/

	body,
	html{
		height:100%;
	}
	#immersive-body {
		overflow: hidden;

		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: @headline;
			font-weight: @ultra;
		}
	}



/*******************************
 * Intro and associated styles *
 *******************************/

	video {
		object-fit: cover;
		height: 100%;
		width: 100%;
		object-position: 50% 50%;
	}
	#pause {
		position: absolute;
		display: block;
		text-indent: -999px;
		overflow-x: hidden;
		width: 45px;
		height: 45px;
		right: 20px;
		top: 20px;
		border: none;
		background: url("@{img}/pause.svg") no-repeat 0 0 transparent;
		z-index: 2;
		&:hover,
		&:focus {
			background-position-x: -47px;
		}
		&:focus {
			outline-color: rgb(59, 153, 252);
			outline-style: auto;
			outline-width: 5px;
		}
		@media(max-width:768px) {
			display: none;
		}
	}
	&.paused {
		#pause {
			background-position: 0 -49px;
			&:hover {
				background-position-x: -47px;
			}
			&:focus {
				outline-color: rgb(59, 153, 252);
				outline-style: auto;
				outline-width: 5px;
			}
		}
	}
	.intro {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(~"103vh - 171px");
		.background-cover(cover);
		background-position: center center;

		p {
			color: white;
			text-shadow: 0 0 3px rgba(37, 37, 37, 0.65);
		}

		h1 {
			text-transform: uppercase;
			color: white;
			line-height: 1.1;
			text-shadow: 0 0 3px rgba(37, 37, 37, 0.65);
			font-size: 31px;
		}
		
		.intro-body {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			margin-top: -200px;
			z-index: 1;
		}

		.scroll-it {
			z-index: 1;
		}
		
		&:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,0.4);
		}

		@media @phone-only {
			.background-cover(cover);
			background-position: right center;

			.intro-body {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				margin-top: 0;
				.translate(0,
				-50%);
			}

			p {
				line-height: 1.4;
				font-size: .65em;
			}

			.udub-slant {
				display: none;
			}
		}

		@media (max-width: 500px) {
			.intro-body {
				.col-xs-8 {
					width: 85%;
				}
			}
		}

		@media @tablet-portrait-up {}

		@media @tablet-portait-only {
			background-position: right center;

			.intro-body {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				margin-top: 0;
				.translate(0,
				-50%);
			}

			p {
				line-height: 1.4;
			}
		}

		@media @tablet-landscape-up {

			h1 {
				font-size: 4.5vw;
			}

			.intro-body {

				p {
					width: 65%;
				}
			}
		}

		@media @tablet-landscape-only {}
		@media @desktop-up {}
		@media @desktop-only {}
		@media @big-desktop-up {}
	}



/***********
 * Profile *
 ***********/

	.profile {
		margin-bottom: -15px;

		.background {
			height: 50vw;
			max-height: 50vw;
			width: 75%;
			margin-left: -14vw;
			background-color: #efece1;
		}

		.photograph {
			background-repeat: no-repeat;
			background-position: left top;
			width: 65%;
			height: 50vw;
			max-height: 50vw;
			position: absolute;
			top: 0;
			right: -60px;
		}
		#blount-1 {
			.background-cover(cover);
			background-image: url("@{socialwork}/blount-2.jpg");
			background-position: center center;
		}
		#blount-2 {
			.background-cover(cover);
			background-image: url("@{socialwork}/blount-1.jpg");
			background-position: center center;
		}

		.text {
			margin: 5vw 5vw;
			padding: 0;
			width: 40%;
			position: absolute;
			top: 0;

			h2 {
				position: relative;
				font-family: @headline;
				font-weight: @ultra;
				color: @purple;
				text-transform: uppercase;
				font-size: 24px;
				display: inline-block;
				margin: 0;
				line-height: 1.1;
			}

			p {
				font-family: @font-family-base;
				font-weight: @font-weight-base;
				color: @purple;
				text-transform: none;
				font-size: 14px;
			}
		}

	}

	@media @tablet-portrait-up {
		.profile {
			margin-bottom: -15px;

			.background {
				height: 25vw;
				max-height: 25vw;
				width: 75%;
				margin-left: -14vw;
				background-color: #efece1;
			}

			.photograph {
				background-repeat: no-repeat;
				background-position: left top;
				width: 50%;
				height: 25vw;
				max-height: 25vw;
				position: absolute;
				top: 0;
				right: -60px;
			}

			.text {
				margin: 5vw 5vw;
				padding: 0;
				width: 50%;
				position: absolute;
				top: 0;

				h2 {
					position: relative;
					font-family: @headline;
					font-weight: @ultra;
					color: @purple;
					text-transform: uppercase;
					font-size: 24px;
					display: inline-block;
					margin: 0;
					line-height: 1.1;
				}

				p {
					font-family: @font-family-base;
					font-weight: @font-weight-base;
					color: @purple;
					text-transform: none;
					font-size: 16px;
				}
			}

		}
	}

	@media @tablet-landscape-up {
		.profile {
			margin-bottom: -15px;

			.background {
				height: 25vw;
				max-height: 25vw;
				width: 65%;
				margin-left: -14vw;
				background-color: #efece1;
			}

			.photograph {
				background-repeat: no-repeat;
				background-position: left top;
				width: 60%;
				height: 25vw;
				max-height: 25vw;
				position: absolute;
				top:0;
				right: -60px;
			}

			.text {
				margin: 6vw 5vw;
				padding: 0;
				width: 50%;
				position: absolute;
				top: 0;

				h2 {
					position: relative;
					font-family: @headline;
					font-weight: @ultra;
					color: @purple;
					text-transform: uppercase;
					font-size: 36px;
					display: inline-block;
					margin: 0;
					line-height: 1.1;
				}

				p {
					font-family: @font-family-base;
					font-weight: @font-weight-base;
					color: @purple;
					text-transform: none;
					font-size: 16px;
				}
			}

		}
	}

	@media @desktop-up {
		.profile {
			margin-bottom: -15px;

			.background {
				height: 25vw;
				max-height: 25vw;
				width: 65%;
				margin-left: -14vw;
				background-color: #efece1;
			}

			.photograph {
				background-repeat: no-repeat;
				background-position: left top;
				width: 60%;
				height: 25vw;
				max-height: 25vw;
				position: absolute;
				top:0;
				right: -60px;
			}

			.text {
				margin: 8vw 5vw;
				padding: 0;
				width: 50%;
				position: absolute;
				top: 0;

				h2 {
					position: relative;
					font-family: @headline;
					font-weight: @ultra;
					color: @purple;
					text-transform: uppercase;
					font-size: 48px;
					display: inline-block;
					margin: 0;
					line-height: 1.1;
				}

				p {
					font-family: @font-family-base;
					font-weight: @font-weight-base;
					color: @purple;
					text-transform: none;
					font-size: 16px;
				}
			}

		}
	}



/*********
 * Video *
 *********/
	#video.text-block{
		background:#999596 url("@{socialwork}/baseball.png") bottom center;
		.background-cover(cover);
		background-position:center center;

		h3{
			color:@purple;
		}
		p{
			color:@purple;
		}

		a{
			text-decoration:none;
			border:none;

			span{
				color:@purple;
				text-decoration:none;
				display: inline-block;
				position:relative;
				top:-32px;
			}
		}
	}



/***********************
 * Infographics, baby! *
 ***********************/
	.slides{
		width:100%;
		height:100vh;
		position:relative;
		margin: 0;
		margin-top: calc(~"-100vh + 66vw");
		background-color: @purple;
		.slide {
			position:absolute;
			left:0;
			//top:0;
			bottom:0;
			width:100%;
			height:66vw;
			.background-cover(cover);
			background-position:center center;
		}

		#slide-1{
			opacity:1;
			background-image:url("@{socialwork}/SocialDev_graphic-01.png");
		}

		#slide-2{
			opacity:0;
			background-image:url("@{socialwork}/SocialDev_graphic-02.png");
		}

		#slide-3{
			opacity:0;
			background-image:url("@{socialwork}/SocialDev_graphic-03.png");
		}

		#slide-4{
			opacity:0;
			background-image:url("@{socialwork}/SocialDev_graphic-04.png");
		}

	}



/***************************
 * Quote photo backgrounds *
 ***************************/
	#pascoe,
	#agyemang {
		background-repeat: no-repeat;
		background-position: center center;

	}
	#pascoe.photo1 {
		.background-cover(cover);
		background-image: url("@{socialwork}/pascoe-2.jpg");
		background-position: center center;
	}
	#pascoe.photo1.photo2 {
		.background-cover(cover);
		background-image: url("@{socialwork}/pascoe-1.jpg");
		background-position: center center;
	}
	#agyemang.photo1 {
		.background-cover(cover);
		background-image: url("@{socialwork}/agyemang-2.jpg");
		background-position: 50% 30%;
	}
	#agyemang.photo1.photo2 {
		.background-cover(cover);
		background-image: url("@{socialwork}/agyemang-1.jpg");
		background-position: 50% 30%;
	}

	@media @desktop-up {
		#pascoe,
		#agyemang {
			height: 500px;
			.container,
			.container .row {
				height: 100%;
			}
			.container .row div {
				height: 100%;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
		}

	}



/***********************
 * Other bits and bobs *
 ***********************/

	.copy h3,
	.copy h2.h3,
	.two-column-copy-left h3,
	.two-column-copy-right h3 {
		color: #b7a57a;
		text-align:center;
	}

	.two-column-image-margin {
		margin-top: 29px;
	}

	.text-block {
		.img-inset {
			width: 75px;
			height: 75px;
			margin-right: 5px;
		}
		&.grey {
			background-color: #f1f1f1;
		}
		&.gold {
			background-color: #b7a57a;
			h3,
			p {
				color: @purple;
			}
		}
		&.giving-widget-promoted {
			background: #b7a57a url("@{socialwork}/wyca_callout.png") center right no-repeat;
			padding: 16px 20px;

			.copy{
				padding:0;
			}

			h3,
			p {
				color: @purple;
				text-align: left;
			}

			#close-give {
				position: absolute;
				top: 124px;
				right: -41px;
			}
		}
		.two-column-copy-left {
			padding: 70px 30px 60px 90px;
		}
		.two-column-copy-right {
			padding: 70px 90px 60px 30px;
		}
		.copy.notop{
			padding-top:0 !important;
		}
	}

	h3.fancypants{
		background-color:#b7a57a;
		color:white;
		padding:20px 40px;
		position: relative;
		top: 60px;
		z-index: 1;
		text-align: center;
	}

	.row-purple{
		background-color: @purple;
	}

	.pull-quote {
		p.meta {
			line-height: 1.2;
		}
		span.name {
			font-family: @headline;
			font-weight: @ultra;
			color: #b7a57a;
			font-size: 14px;
		}
		span.title {
			font-size: 14px;
		}
		p.quote {
			color: @purple;
			font-size: 14px;
			margin-bottom: 60px;
		}
	}
	.pull-image{
		float:left;
		padding-right:20px;
	}

	blockquote {
		margin: 0;
		padding: 0;
		border: none;
		p.quote {
			color: @purple;
			font-size: 14px;
			padding: 0 35px;

			&:before {
				font-family: @headline;
				font-weight: @ultra;
				color: #b7a57a;
				font-size: 60px;
				position: relative;
				top: 25px;
				line-height: 0;
				display: block;
				content: "\201C";
				float: left;
				margin-left: -30px;
			}
			&:after {
				font-family: @headline;
				font-weight: @ultra;
				color: #b7a57a;
				font-size: 60px;
				position: relative;
				top: 27px;
				line-height: 0;
				display: block;
				content: "\201D";
				float: right;
				margin-right: -30px;
			}
		}
		cite p {
			font-size: 13px;
			padding: 0 35px;
			color: @purple;
		}
		cite p span {
			font-family: @headline;
			font-weight: @ultra;
			font-size: 17px;
			color: #b7a57a;
		}
	}

	iframe {
		margin: 0;
	}

	.caption {
		font-size: .75em;
		text-align: center;
	}

	@media @tablet-landscape-up {
		.text-block.giving-widget-promoted>div:first-child {
			background: transparent;
		}
	}

	@media @tablet-portrait-up {
		.text-block.giving-widget-promoted>div:first-child {
			background: transparent;
		}
		.pull-image{
			float: inherit;
			margin:0 auto;
		}
	}

	@media @tablet-portait-only {
		.text-block.giving-widget-promoted {
			padding: 15px;
			background-image:none;
		}
		h3.fancypants{
			top:15px;
		}
		.pull-image{
			float: inherit;
			margin:0 auto;
		}
		.text-block {
			.two-column-copy-left {
				padding: 0 15px;
			}
			.two-column-copy-right {
				padding: 0 15px;
			}
			&.grey {
				padding: 20px 0;
				.two-column-copy-left {
					img {
						padding-bottom: 10px;
					}
				}
				.two-column-copy-right {
					img {
						padding-top: 10px;
					}
				}
			}
		}
	}

	@media @phone-only {
		.text-block.giving-widget-promoted>div:first-child {
			background: transparent;
		}
		.text-block.giving-widget-promoted {
			padding: 15px;
			background-image:none;
		}
		h3.fancypants{
			top:15px;
		}
		.pull-image{
			float: inherit;
			margin:0 auto;
		}
		.text-block {
			.two-column-copy-left {
				padding: 0 15px;
			}
			.two-column-copy-right {
				padding: 0 15px;
			}
			&.grey {
				padding: 20px 0;
				.two-column-copy-left {
					img {
						padding-bottom: 10px;
					}
				}
				.two-column-copy-right {
					img {
						padding-top: 10px;
					}
				}
			}
		}
	}



/*
	@media @phone-only{}
	@media (max-width: 500px){}
	@media @tablet-portrait-up{}
	@media @tablet-portait-only{}
	@media @tablet-landscape-up{}
	@media @tablet-landscape-only{}
	@media @desktop-up{}
	@media @desktop-only{}
	@media @big-desktop-up{}
*/