.dropdown-arrow-inverse {
  border-bottom-color: #4b2e83 !important;
  border-top-color: #4b2e83 !important;
}
.module-hero-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  background-position: center center;
  overflow: hidden;
}
.module-hero-image h1 {
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  line-height: 1;
  font-size: 80px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}
.module-hero-image h1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 600px;
  left: -360px;
  opacity: .3;
  width: 580px;
  background: url(assets/parents/parents.svg) no-repeat -100px 0;
  z-index: 0;
}
.module-hero-image .udub-slant {
  margin: 75px 0 0 0;
}
.module-hero-image .udub-slant span {
  background-color: #b7a57a;
  margin-bottom: 0;
  margin-top: 0;
}
.module-hero-image .container {
  position: relative;
  height: 100%;
}
.boundless-button {
  display: inline-block;
  border-left: 4px solid #FFF;
  overflow: hidden;
  padding: 0 40px 0 0;
  margin-top: 10px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.boundless-button.dark span {
  border: 4px solid #4b2e83;
}
.boundless-button.dark span a {
  color: #4b2e83;
}
.boundless-button.dark span a:after {
  background-position: -211px -13px;
}
.boundless-button.dark.sm {
  border-left: 3px solid #4b2e83;
}
.boundless-button.dark.sm span {
  border: 3px solid #4b2e83;
}
.boundless-button.sm {
  border-left: 3px solid #FFF;
}
.boundless-button.sm span {
  border: 3px solid #FFF;
}
.boundless-button.sm a {
  padding: 6px 36px 5px 54px;
}
.boundless-button:hover {
  border-color: #b7a57a;
  -webkit-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  transform: translate(0, -5px);
}
.boundless-button:hover span {
  border-color: #b7a57a;
}
.boundless-button:hover span a {
  color: #b7a57a;
}
.boundless-button span {
  border: 4px solid #FFF;
  display: block;
  -webkit-transform: skew(-15deg, 0);
  -ms-transform: skewX(-15deg) skewY(0);
  transform: skew(-15deg, 0);
  overflow: hidden;
  margin-left: -40px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.boundless-button span a {
  padding: 10px 40px 10px 60px;
  font-weight: 900;
  font-size: 16px;
  font-family: "Encode Sans Compressed", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transform: skew(15deg, 0);
  -ms-transform: skewX(15deg) skewY(0);
  transform: skew(15deg, 0);
  display: inline-block;
  text-shadow: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.boundless-button span a:after {
  content: "";
  background: url(assets/salmon/salmon.svg) no-repeat -189px -13px;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 18px;
  height: 30px;
  margin-top: -16px;
}
@media only screen and (max-width: 992px) {
  .module-hero-image h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .boundless-button.button-second,
  .boundless-button.dark.sm.button-second {
    margin-left: -32px;
    border-left: none;
  }
  .boundless-button.button-second span,
  .boundless-button.dark.sm.button-second span {
    margin-left: 10px;
  }
  .boundless-button.button-second span a,
  .boundless-button.dark.sm.button-second span a {
    padding-left: 20px;
    position: relative;
  }
}
#passion {
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
}
#passion #boundless-logo {
  width: 400px;
  position: absolute;
  bottom: 135px;
  left: 60px;
  z-index: 1;
}
#passion .fyp-button {
  -webkit-transform: skew(-15deg, 0);
  -ms-transform: skewX(-15deg) skewY(0);
  transform: skew(-15deg, 0);
  background-color: #b7a57a;
  min-width: 141px;
  display: inline-block;
  margin-left: 7px;
}
#passion .fyp-button .fyp-link {
  -webkit-transform: skew(15deg, 0);
  -ms-transform: skewX(15deg) skewY(0);
  transform: skew(15deg, 0);
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
  letter-spacing: .1em;
  font-size: 15px;
  color: #4b2e83;
  background-color: transparent;
  margin: 2px 0 2px 0;
}
#passion .fyp-button:focus .fyp-link,
#passion .fyp-button:active .fyp-link,
#passion .fyp-button:hover .fyp-link {
  color: #FFF;
}
#passion div.explore-footer {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
#passion div.explore-footer ul.footer-links {
  padding: 0;
}
#passion div.explore-footer ul.footer-links li a,
#passion div.explore-footer p.dateMarker {
  color: #FFFFFF;
}
#passion div.explore-footer ul.footer-links li a:focus,
#passion div.explore-footer ul.footer-links li a:active,
#passion div.explore-footer ul.footer-links li a:hover {
  color: #b7a57a;
  text-decoration: underline;
}
#passion div.footer-shadow {
  position: absolute;
  width: 100%;
  height: 210px;
  background-color: rgba(68, 41, 119, 0.5);
  bottom: 0;
  z-index: 0;
}
#passion button#empty {
  position: fixed;
  border: none;
  top: 100px;
  right: 0;
  width: 65px;
  padding: 10px;
  background-color: white;
  z-index: 10;
  text-align: left;
  text-transform: capitalize;
  line-height: 0;
  color: transparent;
  box-shadow: -1px 1px 2px #000000 3;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translate(75px, 0);
  -ms-transform: translate(75px, 0);
  transform: translate(75px, 0);
}
#passion button#empty:focus,
#passion button#empty:active,
#passion button#empty:hover {
  background-color: #b7a57a;
}
#passion button#empty:focus line,
#passion button#empty:active line,
#passion button#empty:hover line {
  stroke: #fff;
}
#passion button#empty line {
  stroke: #8e8e8e;
}
#passion button#empty.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media (max-width: 768px) {
  #passion button#empty {
    width: 45px;
    padding: 2px;
    top: 60px;
    right: 5px;
    opacity: .7;
  }
}
#passion .uw-footer {
  margin-top: 0;
  display: none;
}
#passion div#main-content ul.grid {
  padding-left: 0;
  margin-bottom: 0;
}
#passion div#main-content .grid-item,
#passion div#main-content .grid-sizer {
  list-style: none;
  display: block;
}
#passion div#main-content ul.search-grid {
  padding-left: 0;
  margin-bottom: 0;
}
#passion div#main-content ul.search-grid li.search-item {
  display: inline-block;
  margin: 0px;
  margin-bottom: -7px;
}
#passion div#main-content ul.search-grid li.search-item .front {
  background-color: #4b2e83;
  padding: 15px;
}
#passion div#main-content ul.search-grid li.search-item .front p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1px;
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 800;
}
#passion div#main-content ul.search-grid li.search-item .front p:after {
  content: "";
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: url(../assets/plus.svg) 0 0 no-repeat;
  background-size: 25px 25px;
}
#passion div#main-content ul.search-grid li.search-item.open .front p {
  display: none;
}
#passion .row {
  height: auto;
}
#passion .row h1:after {
  pointer-events: none;
}
#passion .fyp-close-button-gradient {
  display: none;
  position: fixed;
  top: -50px;
  right: -100px;
  height: 200px;
  width: 200px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 99;
  background: rgba(128, 128, 128, 0.3);
  background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(#000000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(#000000, rgba(0, 0, 0, 0));
  background: linear-gradient(#000000, rgba(0, 0, 0, 0));
}
#passion .fyp-close-button-gradient.show {
  display: block;
}
#passion .FYP-home-button,
#passion .FYP-give-widget-exit {
  display: none;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 60px;
  right: 0px;
  z-index: 999;
}
#passion .FYP-home-button:hover svg g line,
#passion .FYP-give-widget-exit:hover svg g line,
#passion .FYP-home-button:active svg g line,
#passion .FYP-give-widget-exit:active svg g line,
#passion .FYP-home-button:focus svg g line,
#passion .FYP-give-widget-exit:focus svg g line {
  stroke: #b7a57a;
}
#passion .FYP-home-button.show,
#passion .FYP-give-widget-exit.show {
  display: block;
}
#passion .module-hero-image {
  position: relative;
  background-position: center bottom;
  margin-top: 0;
  height: auto;
  min-height: 1075px;
  margin-bottom: -210px;
  padding-bottom: 260px;
}
#passion .module-hero-image.hide {
  display: none;
}
#passion .module-hero-image h1 {
  font-size: 65px;
  margin-top: 80px;
  text-align: center;
}
#passion .module-hero-image .udub-slant {
  margin: 0;
}
#passion .module-hero-image p {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 20px 0 13px 0;
  line-height: 1.5;
}
#passion .module-hero-image div.explore-content p {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#passion .module-hero-image .circle-button-container {
  width: 100%;
  margin: 50px 0 0 0;
  display: inline-block;
}
#passion .module-hero-image .circle-button-container div.flip-container {
  width: 175px;
  position: relative;
}
#passion .module-hero-image .circle-button-container div.flip-container .flipper {
  width: 100%;
}
#passion .module-hero-image .circle-button-container div.fyp-filter-triggers-container {
  width: 100%;
}
#passion .module-hero-image .circle-button-container div {
  width: 36%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#passion .module-hero-image .circle-button-container div div.circle-icon {
  border-radius: 100%;
  behavior: url(PIE.htc);
  width: 175px;
  height: 175px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.plus {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.plus p.ic-custom {
  margin: 0;
  padding: 0;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.plus p.ic-custom:before {
  font-size: 32px;
  margin-top: -8px;
  content: "+";
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front {
  z-index: 0;
}
#passion .module-hero-image .circle-button-container div div.circle-icon p {
  padding-top: 10px;
  margin-bottom: 36px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon p:before {
  font-size: 120px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon p.fyp-filter-icon:before {
  content: "";
  height: 100px;
  width: 100px;
  display: block;
  margin-left: 38px;
  margin-top: 12px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front {
  background-color: #FFF;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front p.fyp-heart:before {
  background: url(../assets/heart-purple.png) no-repeat 0 0;
  background-size: 100px 100px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front p.fyp-school:before {
  background: url(../assets/school-purple.png) no-repeat 0 0;
  background-size: 100px 100px;
  margin-top: 5px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front p.fyp-cert:before {
  background: url(../assets/cert-purple.png) no-repeat 0 0;
  background-size: 100px 100px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front div.plus {
  background-color: #4b2e83;
  border: 3px solid white;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.front div.plus .ic-custom:before {
  color: #FFF;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b7a57a;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.back p.fyp-heart:before {
  background: url(../assets/heart-white.png) no-repeat 0 0;
  background-size: 100px 100px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.back p.fyp-school:before {
  background: url(../assets/school-white.png) no-repeat 0 0;
  background-size: 100px 100px;
  margin-top: 5px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.back p.fyp-cert:before {
  background: url(../assets/cert-white.png) no-repeat 0 0;
  background-size: 100px 100px;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.back div.plus {
  background-color: #FFF;
  border: 3px solid #b7a57a;
}
#passion .module-hero-image .circle-button-container div div.circle-icon.back div.plus .ic-custom:before {
  color: #b7a57a;
  text-shadow: none;
  font-weight: 600;
}
#passion .module-hero-image .circle-button-container div p.circle-text {
  vertical-align: top;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
}
#passion .module-hero-image .circle-button-container hr {
  border: none;
  height: 2px;
  color: #FFF;
  background-color: #FFF;
  width: 85%;
  margin: 50px 0 0 70px;
  vertical-align: middle;
}
#passion .module-hero-image .circle-button-container hr.reduce {
  margin: 30px 0 30px 70px;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box {
  width: 100%;
  margin-left: 70px;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters {
  display: none;
  padding-left: 0;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters.show {
  display: block;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters li {
  list-style-type: none;
  color: white;
  text-align: left;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters li p {
  margin: 0;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters li p a {
  color: white;
}
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters li p a:hover,
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters li p a:active,
#passion .module-hero-image .circle-button-container .fyp-filters-box ul.fyp-filters li p a:focus {
  color: #b7a57a;
  text-decoration: underline;
}
#passion .module-hero-image .circle-button-container .fyp-filter-triggers a:hover p.circle-text,
#passion .module-hero-image .circle-button-container .fyp-filter-triggers a:active p.circle-text,
#passion .module-hero-image .circle-button-container .fyp-filter-triggers a:focus p.circle-text {
  color: #b7a57a;
  text-shadow: none;
}
#passion .module-hero-image .fyp-search-wrapper {
  vertical-align: bottom;
  text-align: center;
}
#passion .module-hero-image .fyp-search-wrapper .fyp-search .fyp-search-label {
  color: #FFF;
}
#passion .module-hero-image .fyp-search-wrapper .fyp-search div {
  display: inline-block;
}
#passion .module-hero-image .fyp-search-wrapper .fyp-search div .fyp-search-bar {
  width: 400px;
  height: 35px;
  padding: 10px 0 10px 15px;
  border: none;
  font-size: 20px;
  outline: 0;
  background-color: #F1F1F1;
}
#passion .module-hero-image .fyp-search-wrapper .fyp-search div .fyp-search-button {
  border: none;
  vertical-align: middle;
  font-size: 0;
  height: 35px;
  margin: -3px 0 0 -4px;
  background: url(../assets/search.svg) no-repeat center center #4b2e83;
  -webkit-background-size: 22px;
  -moz-background-size: 22px;
  -o-background-size: 22px;
  background-size: 22px;
  padding: 0 35px 0 0;
}
#passion div#main-content {
  position: relative;
}
#passion div#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../assets/w.gif) center 200px no-repeat white;
  z-index: 1;
}
#passion .grid,
#passion .search-grid {
  background: url(../assets/stripes.svg) #e8e8e8;
}
#passion li.grid-item.search-more div,
#passion li.grid-item.filter-item div {
  background-color: #4b2e83;
  padding: 15px;
  cursor: pointer;
}
#passion li.grid-item.search-more div p.fyp-search-more-label,
#passion li.grid-item.filter-item div p.fyp-search-more-label {
  color: #FFF;
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 1px;
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
#passion li.grid-item.search-more div p.short-desc,
#passion li.grid-item.filter-item div p.short-desc {
  color: white;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
#passion li.grid-item.search-more div p.fyp-search-more-label:after {
  content: "";
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: url(../assets/plus.svg) 0 0 no-repeat;
  background-size: 40px 40px;
}
#passion li.grid-item.search-more div p.fyp-search-more-label:hover,
#passion li.grid-item.search-more div p.fyp-search-more-label:active,
#passion li.grid-item.search-more div p.fyp-search-more-label:focus {
  color: #b7a57a;
}
#passion .full-bio {
  display: none;
  margin-left: 39.8%;
  overflow: hidden;
  padding: 40px 50px 50px;
}
#passion .full-bio p,
#passion .full-bio li {
  font-size: 14px;
  line-height: 1.5;
}
#passion .full-bio ul {
  margin-bottom: 14.5px;
}
#passion .full-bio a {
  color: #3d3d3d;
}
#passion .full-bio a:hover,
#passion .full-bio a:active,
#passion .full-bio a:focus {
  color: #4b2e83;
  text-decoration: underline;
}
#passion .full-bio .tags a:hover,
#passion .full-bio .tags a:active,
#passion .full-bio .tags a:focus {
  background-color: #b7a57a;
}
#passion .full-bio .bio-info p {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  -webkit-font-smoothing: initial;
  font-family: "Uni sans", sans-serif;
}
#passion .full-bio .bio-info p a:after {
  content: " | ";
}
#passion .full-bio .bio-info p a:last-child:after {
  content: "\e927";
  font-size: 25px;
  margin-left: 5px;
  color: #4b2e83;
  display: inline-block;
  font-family: uw-icon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(4px);
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
}
#passion .full-bio .bio-text {
  margin: 10px -10px 20px 0;
  padding-right: 10px;
  max-height: 400px;
  overflow-y: auto;
}
#passion .full-bio .bio-text h4 {
  font-weight: 900;
  color: #4b2e83;
  font-size: 17px;
}
#passion .full-bio .linkedin {
  background: url(../assets/linkedin.png) no-repeat center center;
  text-indent: -99999px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  margin: 0 0 0 25px;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}
#passion .full-bio .linkedin:hover,
#passion .full-bio .linkedin:active {
  background: url(../assets/linkedin-active.png) no-repeat center center transparent;
}
#passion .full-bio .linkedin:before {
  position: absolute;
  right: 38px;
  height: 31px;
  width: 19px;
  top: 0px;
  content: "";
  background: url(../assets/slash.svg) no-repeat 0 0;
}
#passion .full-bio h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #4b2e83;
  margin-top: 0;
  line-height: 30px;
  position: relative;
  padding-right: 70px;
  display: inline-block;
}
#passion .full-bio h2:after {
  content: "";
  background: url(../assets/bar.svg) no-repeat top right;
  margin-top: 10px;
  display: block;
  width: 75px;
  height: 5px;
  letter-spacing: .05em;
}
#passion .open:not(.unit-small) .full-bio,
#passion .fyp-units .full-bio {
  display: block;
}
#passion .open:not(.unit-small) .full-bio .give-button,
#passion .fyp-units .full-bio .give-button {
  -webkit-transform: skew(-15deg, 0);
  -ms-transform: skewX(-15deg) skewY(0);
  transform: skew(-15deg, 0);
  background-color: #b7a57a;
  width: 141px;
}
#passion .open:not(.unit-small) .full-bio .give-button .give-link,
#passion .fyp-units .full-bio .give-button .give-link {
  -webkit-transform: skew(15deg, 0);
  -ms-transform: skewX(15deg) skewY(0);
  transform: skew(15deg, 0);
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
  letter-spacing: .1em;
  font-size: 15px;
  color: #4b2e83;
  background-color: transparent;
  margin: 2px 0 2px 0;
}
#passion .open:not(.unit-small) .full-bio .give-button:focus .give-link,
#passion .fyp-units .full-bio .give-button:focus .give-link,
#passion .open:not(.unit-small) .full-bio .give-button:active .give-link,
#passion .fyp-units .full-bio .give-button:active .give-link,
#passion .open:not(.unit-small) .full-bio .give-button:hover .give-link,
#passion .fyp-units .full-bio .give-button:hover .give-link {
  color: #FFF;
}
#passion .fyp-units div.front {
  z-index: 1;
  transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  overflow: hidden;
  left: auto;
}
#passion .fyp-units div.front div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#passion .fyp-units .explore-banner {
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #4b2e83;
  z-index: -1;
  text-transform: uppercase;
}
#passion .fyp-units .explore-banner p {
  color: #FFF;
  margin-left: 50px;
  font-size: 22px;
  margin-top: 6px;
}
#passion .grid-sizer,
#passion .grid-item {
  outline: 1px solid #fff;
  border: 2px solid #fff;
  width: calc(20%);
  margin: 0;
  height: 210px;
}
#passion .grid-sizer.featured,
#passion .grid-item.featured {
  width: calc(40%);
  background-color: white;
  height: 420px;
}
#passion .grid-sizer.featured.open:not(.unit-small):not(.search-more):not(.filter-item),
#passion .grid-item.featured.open:not(.unit-small):not(.search-more):not(.filter-item),
#passion .grid-sizer.featured.fyp-units,
#passion .grid-item.featured.fyp-units {
  height: 630px;
}
#passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item),
#passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item),
#passion .grid-sizer.fyp-units,
#passion .grid-item.fyp-units {
  width: calc(100%);
  height: 630px;
}
#passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
#passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
#passion .grid-sizer.fyp-units .front,
#passion .grid-item.fyp-units .front {
  width: 39.8%;
  right: auto;
}
#passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
#passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
#passion .grid-sizer.fyp-units.unit-item div.front,
#passion .grid-item.fyp-units.unit-item div.front {
  right: 0;
  width: calc(60.8%);
}
#passion .grid-sizer.open.search-more,
#passion .grid-item.open.search-more,
#passion .grid-sizer.open.filter-item,
#passion .grid-item.open.filter-item {
  width: calc(100%);
}
#passion .grid-sizer {
  border-color: transparent;
  outline: 1px solid transparent;
}
#passion .special {
  width: calc(60%);
}
#passion .title-card {
  width: calc(40%);
}
#passion .infographic {
  width: calc(40%);
}
@media only screen and (max-width: 1200px) {
  #passion .grid-sizer,
  #passion .grid-item {
    width: calc(25%);
    height: 210px;
  }
  #passion .grid-sizer.featured,
  #passion .grid-item.featured {
    width: calc(50%);
    height: 420px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-sizer.fyp-units,
  #passion .grid-item.fyp-units {
    width: calc(100%);
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #passion .grid-sizer.fyp-units .front,
  #passion .grid-item.fyp-units .front {
    width: 24.8%;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-sizer.fyp-units.unit-item div.front,
  #passion .grid-item.fyp-units.unit-item div.front {
    width: calc(45.8%);
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-sizer.fyp-units .full-bio,
  #passion .grid-item.fyp-units .full-bio {
    margin-left: 24.8%;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-sizer.fyp-units.unit-item div.full-bio,
  #passion .grid-item.fyp-units.unit-item div.full-bio {
    margin-right: 34.8%;
    margin-left: 0;
  }
  #passion .grid-sizer.open.search-more,
  #passion .grid-item.open.search-more,
  #passion .grid-sizer.open.filter-item,
  #passion .grid-item.open.filter-item {
    width: calc(100%);
  }
  #passion .special {
    width: calc(75%);
  }
  #passion .infographic {
    width: calc(50%);
  }
}
#passion .unit-item div.front:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 101%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  z-index: 1;
  background-color: #fff;
}
#passion .unit-item div.full-bio {
  margin-left: 0;
  margin-right: 59.8%;
}
#passion .unit-item div.unit-hero {
  height: 600px;
}
#passion .unit-item div.unit-right {
  height: 100%;
  width: 60%;
  right: 0;
  background-image: url('/books.jpg');
  background-size: cover;
  z-index: -99;
}
#passion .unit-item div.unit-left {
  left: 0;
  height: 100%;
  width: 40%;
  margin: 0;
  overflow: hidden;
}
#passion .unit-item div.unit-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 21%;
  height: 100%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
  z-index: -1;
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  #passion .grid-sizer,
  #passion .grid-item {
    width: calc(33.33333333%);
    height: 210px;
  }
  #passion .grid-sizer.featured,
  #passion .grid-item.featured {
    width: calc(66.66666667%);
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-sizer.fyp-units,
  #passion .grid-item.fyp-units {
    width: calc(100%);
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item,
  #passion .grid-sizer.fyp-units.unit-item,
  #passion .grid-item.fyp-units.unit-item {
    height: 945px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #passion .grid-sizer.fyp-units .front,
  #passion .grid-item.fyp-units .front {
    width: 33%;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-sizer.fyp-units.unit-item div.front,
  #passion .grid-item.fyp-units.unit-item div.front {
    position: static;
    width: 100%;
    height: 263px;
    background-position: center top;
    height: 560px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front:before,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front:before,
  #passion .grid-sizer.fyp-units.unit-item div.front:before,
  #passion .grid-item.fyp-units.unit-item div.front:before {
    content: none;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front div,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front div,
  #passion .grid-sizer.fyp-units.unit-item div.front div,
  #passion .grid-item.fyp-units.unit-item div.front div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: static;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.explore-banner,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.explore-banner,
  #passion .grid-sizer.fyp-units.unit-item div.explore-banner,
  #passion .grid-item.fyp-units.unit-item div.explore-banner {
    z-index: 1;
    text-align: center;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.explore-banner p,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.explore-banner p,
  #passion .grid-sizer.fyp-units.unit-item div.explore-banner p,
  #passion .grid-item.fyp-units.unit-item div.explore-banner p {
    margin-left: 0;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-sizer.fyp-units .full-bio,
  #passion .grid-item.fyp-units .full-bio {
    margin-left: 33%;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-sizer.fyp-units.unit-item div.full-bio,
  #passion .grid-item.fyp-units.unit-item div.full-bio {
    position: static;
    width: 100%;
    margin-left: 0;
    padding: 40px 45px 50px;
  }
  #passion .grid-sizer.open.search-more,
  #passion .grid-item.open.search-more {
    width: calc(100%);
  }
  #passion .grid-sizer.open.filter-item,
  #passion .grid-item.open.filter-item {
    width: calc(100%);
  }
  #passion .grid-sizer.open.filter-item div p.fyp-search-more-label,
  #passion .grid-item.open.filter-item div p.fyp-search-more-label {
    text-align: left;
  }
  #passion .grid-sizer.open.filter-item div p.short-desc,
  #passion .grid-item.open.filter-item div p.short-desc {
    text-align: left;
    margin-left: 0;
  }
  #passion .special {
    width: calc(66.66666667%);
  }
  #passion .infographic {
    width: calc(66.66666667%);
  }
}
@media only screen and (max-width: 768px) {
  #passion .grid-sizer,
  #passion .grid-item {
    width: calc(50%);
    height: 210px;
  }
  #passion .grid-sizer.featured,
  #passion .grid-item.featured {
    width: calc(100%);
    height: 420px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-sizer.fyp-units,
  #passion .grid-item.fyp-units {
    width: calc(100%);
    height: 525px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item,
  #passion .grid-sizer.fyp-units.unit-item,
  #passion .grid-item.fyp-units.unit-item {
    height: 945px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-sizer.fyp-units.unit-item div.front,
  #passion .grid-item.fyp-units.unit-item div.front {
    display: block;
    height: 455px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #passion .grid-sizer.fyp-units .front,
  #passion .grid-item.fyp-units .front {
    display: none;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-sizer.fyp-units .full-bio,
  #passion .grid-item.fyp-units .full-bio {
    position: static;
    width: 100%;
    margin-left: 0;
    height: 495px;
    padding: 20px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio h2,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio h2,
  #passion .grid-sizer.fyp-units .full-bio h2,
  #passion .grid-item.fyp-units .full-bio h2 {
    padding: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .bio-text,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .bio-text,
  #passion .grid-sizer.fyp-units .full-bio .bio-text,
  #passion .grid-item.fyp-units .full-bio .bio-text {
    max-height: 250px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-sizer.fyp-units.unit-item div.full-bio,
  #passion .grid-item.fyp-units.unit-item div.full-bio {
    margin-right: 0;
  }
  #passion .grid-sizer.open.search-more,
  #passion .grid-item.open.search-more,
  #passion .grid-sizer.open.filter-item,
  #passion .grid-item.open.filter-item {
    width: calc(100%);
  }
  #passion .grid-sizer.open.search-more div,
  #passion .grid-item.open.search-more div,
  #passion .grid-sizer.open.filter-item div,
  #passion .grid-item.open.filter-item div {
    padding-top: 5px;
  }
  #passion .grid-sizer.open.search-more div p.fyp-search-more-label,
  #passion .grid-item.open.search-more div p.fyp-search-more-label,
  #passion .grid-sizer.open.filter-item div p.fyp-search-more-label,
  #passion .grid-item.open.filter-item div p.fyp-search-more-label {
    font-size: 25px;
  }
  #passion .grid-sizer.open.search-more div p.short-desc,
  #passion .grid-item.open.search-more div p.short-desc,
  #passion .grid-sizer.open.filter-item div p.short-desc,
  #passion .grid-item.open.filter-item div p.short-desc {
    margin-right: 0;
  }
  #passion .special {
    width: calc(100%);
  }
  #passion .infographic {
    width: calc(100%);
  }
}
@media only screen and (max-width: 480px) {
  #passion .grid-sizer,
  #passion .grid-item {
    width: calc(100%);
    height: 180px;
  }
  #passion .grid-sizer.featured,
  #passion .grid-item.featured {
    width: calc(100%);
    height: 360px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item),
  #passion .grid-sizer.fyp-units,
  #passion .grid-item.fyp-units {
    width: calc(100%);
    height: 735px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item,
  #passion .grid-sizer.fyp-units.unit-item,
  #passion .grid-item.fyp-units.unit-item {
    height: 945px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.front,
  #passion .grid-sizer.fyp-units.unit-item div.front,
  #passion .grid-item.fyp-units.unit-item div.front {
    position: static;
    width: 100%;
    height: 350px;
    background-position: center top;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item).unit-item div.full-bio,
  #passion .grid-sizer.fyp-units.unit-item div.full-bio,
  #passion .grid-item.fyp-units.unit-item div.full-bio {
    margin-right: 0;
    position: static;
    width: 100%;
    margin-left: 0;
    padding: 40px 45px 50px;
    height: 670px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #passion .grid-sizer.fyp-units .full-bio,
  #passion .grid-item.fyp-units .full-bio {
    height: 705px;
  }
  #passion .grid-sizer.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .bio-text,
  #passion .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .bio-text,
  #passion .grid-sizer.fyp-units .full-bio .bio-text,
  #passion .grid-item.fyp-units .full-bio .bio-text {
    max-height: 425px;
  }
  #passion .grid-sizer.open.filter-item,
  #passion .grid-item.open.filter-item {
    width: calc(100%);
    height: 315px;
  }
  #passion .special {
    width: calc(100%);
  }
  #passion .infographic {
    width: calc(100%);
  }
}
#passion .grid-item.special {
  background-color: #4b2e83;
  box-sizing: border-box;
  padding: 30px 40px 40px 40px;
  display: block;
  font-size: 18px;
}
#passion .grid-item.special .udub-slant {
  margin: 10px 0 20px 0;
  position: static;
}
#passion .grid-item.special .udub-slant span {
  background-color: #b7a57a;
  height: 6px;
  margin-left: -135px;
}
#passion .grid-item.special h2 {
  font-weight: 900;
  margin-top: 0;
  color: white;
  text-transform: uppercase;
}
#passion .grid-item.special p {
  color: white;
  font-size: 15px;
  line-height: 1.3;
}
#passion .grid-item.infographic {
  text-align: center;
  padding: 18px 20px 20px 20px;
  overflow: hidden;
  background: url('../assets/lines.svg') 0 0 no-repeat #4b2e83;
}
#passion .grid-item.infographic img {
  display: none;
}
#passion .grid-item.infographic:focus {
  background-color: #b7a57a;
}
#passion .grid-item.infographic h3 {
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  color: #FFF;
  font-style: italic;
  position: absolute;
  bottom: 10px;
  right: 50px;
  font-size: 24px;
  padding-left: 20px;
}
#passion .grid-item.infographic h3:after {
  content: "";
  width: 1px;
  height: 90px;
  bottom: -40px;
  background-color: #FFF;
  position: absolute;
  right: -20px;
  transform: rotate(15deg);
}
#passion .grid-item.infographic .front {
  background-color: transparent;
  cursor: pointer;
}
#passion .grid-item.infographic img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#passion .grid-item.infographic p {
  opacity: 0;
}
#passion .grid-item.infographic.open:not(.unit-small) .front,
#passion .grid-item.infographic.fyp-units .front {
  width: 100%;
}
#passion ul#filter {
  top: 0;
  text-align: center;
  padding: 30px 0px 0px;
  margin-bottom: 30px;
}
#passion ul#filter .sort_by {
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  color: #4b2e83;
  text-transform: uppercase;
}
#passion ul#filter select {
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  color: #4b2e83;
  border: 2px solid #ddd;
  width: 160px;
  margin: 0 10px;
  background: 0 0;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
}
#passion ul#filter li {
  list-style: none;
  display: inline-block;
  position: relative;
}
#passion ul#filter li:nth-child(6) {
  display: none;
}
#passion ul#filter li.select:hover select,
#passion ul#filter li.select:active select,
#passion ul#filter li.select:focus select,
#passion ul#filter li.select:hover label,
#passion ul#filter li.select:active label,
#passion ul#filter li.select:focus label {
  background-color: #ECECEC;
}
#passion ul#filter li.select label {
  position: absolute;
  z-index: 999;
  background-color: #FFF;
  left: 12px;
  top: 2px;
  bottom: 2px;
  right: 45px;
  text-align: left;
  padding: 4px 0 0 12px;
  pointer-events: none;
  font-family: "Encode Sans Compressed", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #4b2e83;
}
#passion ul#filter li.select:after,
#passion ul#filter li.select:before {
  z-index: 2;
  pointer-events: none;
  position: absolute;
  content: "";
  display: block;
}
#passion ul#filter li.select:after {
  right: 23px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-top: 10px solid #DDD;
}
#passion ul#filter li.select:before {
  right: 13px;
  top: 2px;
  width: 43px;
  height: 35px;
  background-color: #fff;
}
#passion ul#filter li.select:hover:after {
  border-top-color: #4b2e83;
  z-index: 10;
}
#passion ul#filter li.select:hover:before {
  background-color: #ECECEC;
}
#passion ul#filter li button {
  font-family: "Encode Sans Compressed", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #4b2e83;
  display: block;
  padding: 5px 20px 5px 20px;
  background: none;
  border: none;
}
#passion ul#filter li button:hover,
#passion ul#filter li button:focus {
  color: #b7a57a;
  outline: none;
}
#passion ul#filter li button:hover .udub-slant span,
#passion ul#filter li button:focus .udub-slant span {
  -webkit-transition: 0.3s margin linear;
  transition: 0.3s margin linear;
  margin-left: -175px;
}
#passion ul#filter.select_active #clear {
  opacity: 1;
  width: auto;
  margin: 0 10px 0 20px;
  display: inline;
}
#passion ul#filter #clear {
  color: #A5A5A5;
  font-weight: bold;
  font-size: 14px;
  opacity: 0;
  width: 0;
  display: none;
}
#passion ul#filter #clear svg {
  margin-bottom: -13px;
  margin-right: 8px;
}
#passion ul#filter .udub-slant {
  position: absolute;
  bottom: -6px;
  left: 20px;
  padding-right: 5px;
  margin: 0;
}
#passion ul#filter .udub-slant span {
  background-color: #b7a57a;
  height: 5px;
  margin-left: -250px;
}
#passion .search_slash {
  position: relative;
}
#passion .search_slash:before {
  position: absolute;
  right: 58px;
  height: 45px;
  width: 19px;
  top: -8px;
  content: "";
  background: url(../assets/slash.svg) no-repeat 0 0;
}
#passion div#searcher_wrap {
  text-align: center;
  height: 0;
  overflow: hidden;
}
#passion div#searcher_wrap.active_search {
  -webkit-transition: height 0.2s cubic-bezier(0, 0.65, 0.26, 1.01);
  transition: height 0.2s cubic-bezier(0, 0.65, 0.26, 1.01);
  height: 150px;
}
#passion div#searcher_wrap input {
  border: none;
  width: 44%;
  border-bottom: 2px solid #E2E2E2;
  font-size: 50px;
  padding: 10px 140px 0;
  margin-bottom: 50px;
}
#passion div#searcher_wrap input:focus {
  outline: none;
}
#passion div#searcher_wrap input::-webkit-input-placeholder {
  color: #CACACA;
  text-align: center;
}
#passion div#searcher_wrap input:-moz-placeholder {
  /* Firefox 18- */
  color: #CACACA;
  text-align: center;
}
#passion div#searcher_wrap input::-moz-placeholder {
  /* Firefox 19+ */
  color: #CACACA;
  text-align: center;
}
#passion div#searcher_wrap input:-ms-input-placeholder {
  color: #CACACA;
  text-align: center;
}
#passion .grid-item {
  background-color: white;
  z-index: 0;
  position: relative;
}
#passion .grid-item .front,
#passion .grid-item .back,
#passion .grid-item .flipper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#passion .grid-item .front {
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
}
#passion .grid-item .front .banner {
  bottom: 0;
  position: absolute;
  padding: 10px 45px 10px 12px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 1.3;
}
#passion .grid-item .front .banner .short-desc {
  display: none;
}
#passion .grid-item .front .banner:after {
  content: "";
  background: url(../assets/bar.svg) no-repeat top right;
  margin-top: 0;
  display: block;
  width: 75px;
  height: 3px;
  letter-spacing: .05em;
}
#passion .grid-item .front .banner:before {
  content: "";
  background: url(../assets/plus.svg) no-repeat top right;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 8px;
}
#passion .grid-item:nth-child(3n+2) .front .banner {
  background: rgba(75, 46, 131, 0.7);
}
#passion .grid-item:nth-child(3n) .front .banner {
  background: rgba(184, 166, 120, 0.7);
}
#passion .grid-item:nth-child(3n+1) .front .banner {
  background: rgba(50, 50, 50, 0.7);
}
#passion .grid-item .back {
  cursor: pointer;
  background-color: #4b2e83;
  padding: 15px;
}
#passion .grid-item .back h3 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0px;
}
#passion .grid-item .back .back-unit-name {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-font-smoothing: initial;
  font-family: "Uni sans", sans-serif;
}
#passion .grid-item .back p {
  color: white;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 0;
}
#passion .grid-item .back p:last-child {
  position: relative;
}
#passion .grid-item .back p:last-child:after {
  content: "";
  width: 22px;
  height: 22px;
  margin-top: 10px;
  display: block;
  background: url(../assets/plus.svg) 0 0 no-repeat;
}
#passion .grid-item.featured {
  background-color: white;
}
#passion .grid-item.featured .back {
  padding: 25px;
}
#passion .grid-item.featured .back h3 {
  font-size: 22px;
  line-height: 1.4;
}
#passion .grid-item.featured .back p {
  font-size: 14px;
  line-height: 1.4;
}
#passion .grid-item img {
  width: 100%;
  height: auto;
}
#passion .grid-item.active {
  width: 100%;
}
#passion .grid-item.active div {
  display: block;
}
#passion .grid-item.active img {
  width: 200px;
}
#passion .headlines {
  margin-top: -170px;
  padding-left: 0;
}
#passion .headlines h2,
#passion .headlines h3 {
  font-weight: normal;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-size: 35px;
  color: white;
  margin: 0;
  opacity: 0.8;
}
#passion .headlines h2 {
  margin-bottom: 40px;
}
#passion .headlines h3 {
  font-size: 25px;
}
#passion .fyp-give-widget-lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}
#passion .fyp-give-widget-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: 5%;
}
#passion .fyp-give-widget-container iframe {
  margin-right: auto;
  margin-left: auto;
  min-width: 662px;
  display: block;
  height: 763px;
}
@media only screen and (max-width: 1200px) {
  #passion .module-hero-image .circle-button-container {
    width: 100%;
  }
  #passion #boundless-logo {
    width: 300px;
    bottom: 140px;
    left: 30px;
  }
}
@media only screen and (max-width: 992px) {
  #passion .module-hero-image h1 {
    margin-top: 20px;
  }
  #passion .module-hero-image .circle-button-container {
    margin-left: 0;
  }
  #passion .module-hero-image .circle-button-container hr {
    margin-left: 0;
    width: 95%;
  }
  #passion .module-hero-image .circle-button-container hr.reduce {
    margin-left: 0;
    width: 95%;
  }
  #passion .module-hero-image .circle-button-container .fyp-filters-box {
    margin: 0;
  }
  #passion div.explore-footer {
    margin-left: -20px;
  }
  .module-hero-image {
    height: auto;
    padding: 40px 20px 50px 20px;
  }
  .module-hero-image .udub-slant {
    margin: 15px 0 0 0;
  }
  .module-hero-image .container:after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #passion .fyp-give-widget-container iframe {
    min-width: 0;
    width: 90%;
  }
  #passion .module-hero-image .row {
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  #passion .module-hero-image .row h1 {
    font-size: 40px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container {
    width: 125px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon {
    width: 125px;
    height: 125px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon p.fyp-filter-icon:before {
    background-size: 70px 70px;
    margin: 0 0 0 27px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon p.fyp-school:before {
    margin: -5px 0 0 27px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon.plus {
    height: 20px;
    width: 20px;
    right: 8px;
    bottom: 8px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon.plus p.ic-custom:before {
    font-size: 16px;
    margin-top: -3px;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon.front .plus {
    border: 2px solid white;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .flip-container .circle-icon.back .plus {
    border: 2px solid #b7a57a;
  }
  #passion .module-hero-image .row .fyp-filter-triggers .circle-text {
    font-size: 18px;
  }
  #passion .module-hero-image .row .fyp-filters-box .fyp-filters {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  #passion .module-hero-image div.explore-footer {
    bottom: 20px;
  }
  #husky100 .search_slash:before {
    display: none;
  }
  #husky100 #searcher {
    width: auto;
    margin-left: 0;
    border: 2px solid #ddd;
    padding: 10px 0 30px;
    background-color: #ECECEC;
  }
  #husky100 .module-hero-image {
    padding-top: 70px;
    background-position: left top;
  }
  #husky100 .module-hero-image h1 {
    margin-top: 0;
    font-size: 40px;
  }
  #husky100 .module-hero-image h1:after {
    top: -80px;
  }
  #husky100 .module-hero-image p {
    margin: 20px 20px 0 0;
    font-size: 15px;
    line-height: 1.3;
  }
  #husky100 ul#filter {
    margin: 10px 20px 0;
    padding: 0 0 20px;
  }
  #husky100 ul#filter .udub-slant {
    display: none;
  }
  #husky100 ul#filter li {
    width: 100%;
    margin: 0 0 10px;
  }
  #husky100 ul#filter li button {
    width: 100%;
  }
  #husky100 ul#filter li select {
    width: 100%;
    margin: 0;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item),
  #husky100 .grid-item.fyp-units {
    height: 900px;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .flipper,
  #husky100 .grid-item.fyp-units .flipper {
    position: static;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .front,
  #husky100 .grid-item.fyp-units .front {
    position: static;
    width: 100%;
    height: 350px;
    background-position: center top;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .front:after,
  #husky100 .grid-item.fyp-units .front:after {
    width: 140px;
    height: 62px;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio,
  #husky100 .grid-item.fyp-units .full-bio {
    position: static;
    width: 100%;
    margin-left: 0;
    padding: 40px 45px 50px;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .bio-text,
  #husky100 .grid-item.fyp-units .full-bio .bio-text {
    max-height: 325px;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .linkedin,
  #husky100 .grid-item.fyp-units .full-bio .linkedin {
    margin: 0;
    width: 38px;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .full-bio .linkedin:before,
  #husky100 .grid-item.fyp-units .full-bio .linkedin:before {
    display: none;
  }
  #husky100 .grid-item.open:not(.unit-small):not(.search-more):not(.filter-item) .tags,
  #husky100 .grid-item.fyp-units .tags {
    display: none;
  }
  #husky100 div#searcher_wrap input {
    border: none;
    width: 90%;
    border-bottom: 2px solid #E2E2E2;
    font-size: 20px;
    padding: 10px 20px 0;
    margin-bottom: 10px;
  }
  #husky100 div#searcher_wrap.active_search {
    height: 70px;
  }
}
@media only screen and (max-width: 480px) {
  #passion .fyp-give-widget-container {
    margin-top: 80px;
  }
  #passion .fyp-give-widget-container iframe {
    width: 100%;
  }
  #passion .module-hero-image {
    padding-bottom: 242px;
  }
  #passion .module-hero-image .row .circle-button-container {
    margin-top: 5px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers {
    display: block;
    width: 100%;
    height: 110px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .flip-container {
    width: 100px;
    position: absolute;
    left: 0;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .flip-container .circle-icon {
    width: 100px;
    height: 100px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .flip-container .circle-icon p.fyp-filter-icon:before {
    background-size: 60px 60px;
    margin: -6px 0 0 21px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .flip-container .circle-icon p.fyp-school:before {
    margin-top: -10px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .flip-container .circle-icon.plus {
    height: 15px;
    width: 15px;
    right: 7px;
    bottom: 7px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .flip-container .circle-icon.plus p.ic-custom:before {
    font-size: 12px;
    margin-top: -3px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filter-triggers .circle-text {
    font-size: 17px;
    margin-left: 110px;
    text-align: left;
    width: 160px;
    display: inline-block;
    margin-top: 37px;
  }
  #passion .module-hero-image .row .circle-button-container hr {
    margin-top: 10px;
  }
  #passion .module-hero-image .row .circle-button-container .fyp-filters-box .fyp-filters {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  #passion .module-hero-image .row .fyp-search-wrapper form.fyp-search div {
    width: 100%;
  }
  #passion .module-hero-image .row .fyp-search-wrapper form.fyp-search div input#searcher {
    width: 85%;
  }
}
@media only screen and (min-width: 481px) {
  #husky100 .module-hero-image a:focus {
    color: #b7a57a;
    background: rgba(0, 0, 0, 0.5);
  }
  #husky100 .module-hero-image div.second {
    border-left: none;
    margin-left: -30px;
  }
  #husky100 .module-hero-image div.second span {
    margin-left: 7px;
  }
  #husky100 .module-hero-image div.second a {
    padding: 6px 36px 5px 26px;
  }
}
/* entire container, keeps perspective */
.container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
/*  UPDATED! flip the pane when hovered */
.flip-container:not(.open):hover .back,
.flip-container:not(.open):focus .back,
.flip-container:not(.open):active .back,
.flip-container:not(.open).active .back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip-container:not(.open):hover .front,
.flip-container:not(.open):focus .front,
.flip-container:not(.open):active .front,
.flip-container:not(.open).active .front {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container.infographic:not(.open):hover .back,
.flip-container.infographic:not(.open):focus .back,
.flip-container.infographic:not(.open):active .back {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container.infographic:not(.open):hover .front,
.flip-container.infographic:not(.open):focus .front,
.flip-container.infographic:not(.open):active .front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* flip speed goes here */
.flipper:not(.open) {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-delay: 2s;
  /* Safari */
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
}
/*  front pane, placed above back */
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.ie10 #husky100 ul#filter li.select label {
  position: static;
}
